USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [Financiera].[Usp_Ejecucion_PDN2025]    Script Date: 5/05/2026 10:58:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==========================================================================================================
-- PROCEDIMIENTO ALMACENADO: [Financiera].[Usp_Ejecucion_PDN2025]
-- DESCRIPCIÓN:              Motor de integración de ingresos financieros. Consolida datos de CRM (Zoho), 
--                           ERP Financiero (Oracle Iceberg) y pasarelas de pago para calcular 
--                           el ingreso neto por estudiante y periodo.
--
-- ARQUITECTURA:             - Carga parametrizada e Idempotente (soporta re-ejecución sin duplicar).
--                           - Extracción asíncrona mediante Tablas Temporales Globales (##) para evitar 
--                             bloqueos (Locks) de red sobre el Linked Server.
--                           - Indexación temporal en memoria (TempDB) para optimizar SARGability en JOINs.
--
-- PARÁMETROS:               @PeriodoCarga (VARCHAR) -> Permite fragmentar la carga histórica ('24', '25', '26').
-- ========================================================================================================== */

ALTER PROCEDURE [Financiera].[Usp_Ejecucion_PDN2025] 
(
    @PeriodoCarga VARCHAR(2) = '26'
)
AS
BEGIN
    SET NOCOUNT ON;

    /* ------------------------------------------------------------------------------------------------------
       1. DECLARACIÓN DE VARIABLES DE CONTROL Y AUDITORÍA
    ------------------------------------------------------------------------------------------------------ */
    DECLARE @inicio                 DATETIME = GETDATE();
    DECLARE @err_mensaje            VARCHAR(2000);
    DECLARE @err_linea              INT;
    DECLARE @err_severidad          INT;
    
    -- Variables para volumetría (conteo de registros pre y post ejecución)
    DECLARE @filas_ordenes_pre      INT;
    DECLARE @filas_descuentos_pre   INT;
    DECLARE @filas_resultado_pre    INT;
    DECLARE @filas_ordenes_post     INT;
    DECLARE @filas_descuentos_post  INT;
    DECLARE @filas_resultado_post   INT;
    DECLARE @duracion_seg           INT;

    -- Variables para ejecución de SQL Dinámico (Inyección de parámetros hacia Oracle)
    DECLARE @OracleSQL              NVARCHAR(MAX);
    DECLARE @TSQL                   NVARCHAR(MAX);

    /* ------------------------------------------------------------------------------------------------------
       2. INICIALIZACIÓN DE TABLA DE AUDITORÍA (LOG)
    ------------------------------------------------------------------------------------------------------ */
    IF OBJECT_ID('Financiera.LOG_Usp_Ejecucion_PDN2025', 'U') IS NULL
    BEGIN
        CREATE TABLE Financiera.LOG_Usp_Ejecucion_PDN2025 (
            id                       INT IDENTITY(1,1) PRIMARY KEY,
            fecha_ejecucion          DATETIME DEFAULT GETDATE(),
            sp_nombre                VARCHAR(100),
            periodo_ejecutado        VARCHAR(10),
            filas_ordenes_antes      INT,
            filas_ordenes_despues    INT,
            filas_descuentos_antes   INT,
            filas_descuentos_despues INT,
            filas_resultado_antes    INT,
            filas_resultado_despues  INT,
            duracion_seg             INT,
            estado                   VARCHAR(20),
            mensaje                  VARCHAR(2000)
        );
    END

    -- Captura volumetría inicial filtrada por el periodo actual para garantizar trazabilidad
    SELECT @filas_ordenes_pre    = COUNT(*) FROM Financiera.Ordenes_Financieras_con_descuento WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
    SELECT @filas_descuentos_pre = COUNT(*) FROM Financiera.DESCUENTOS                          WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
    SELECT @filas_resultado_pre  = COUNT(*) FROM FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL     WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';

    -- ======================================================================================================
    -- BLOQUE PRINCIPAL DE PROCESAMIENTO (TRY/CATCH)
    -- ======================================================================================================
    BEGIN TRY

        /* --------------------------------------------------------------------------------------------------
           FASE I: EXTRACCIÓN Y STAGING DESDE ORACLE (Vía OPENQUERY Dinámico)
           Nota: Se ejecuta FUERA de transacciones explícitas para no bloquear hilos en SQL Server.
        -------------------------------------------------------------------------------------------------- */
        
        -- A. Extracción de Órdenes Financieras
        DROP TABLE IF EXISTS ##Stg_Ordenes_Financieras;
        
        SET @OracleSQL = N'SELECT * FROM ICEBERG.V_ccrecibopagoantcod_2 WHERE PERIODO LIKE ''%@P%''';
        SET @OracleSQL = REPLACE(@OracleSQL, '@P', @PeriodoCarga); 
        
        SET @TSQL = N'
            SELECT 
                CAST(IDENTIFICACION AS VARCHAR(100)) AS IDENTIFICACION,
                NOMBRE, 
                PERIODO,
                CAST(ORDEN AS VARCHAR(100)) AS ORDEN,
                DOCUMENTO, CONCEPTO_MAT, VALOR_MAT, CONCEPTO_IDIOMAS, VALOR_IDIOMAS,
                CONCEPTO_SERVICIO_MED, VALOR_SERVICIO_MED, CONCEPTO_BONO_SOL, VALOR_BONO_SOL,
                OTROS_DESCUENTOS, GRUPO, DESCRIPCION_GRUPO, DESCUENTO_PRONTO_PAGO, VAL_BECDTOS,
                -- Lógica financiera: Cálculo de la Orden Neta considerando escenarios 2x1 y descuentos estándar
                CASE
                    WHEN ISNULL(VALOR_2x1, 0) > 0 
                        THEN (ISNULL(VALOR_MAT, 0) + ISNULL(VALOR_IDIOMAS, 0) + ISNULL(VALOR_SERVICIO_MED, 0) + ISNULL(VALOR_2X1, 0))
                    ELSE 
                        (ISNULL(VALOR_MAT, 0) + ISNULL(VALOR_IDIOMAS, 0) + ISNULL(VALOR_SERVICIO_MED, 0) + ISNULL(VALOR_BONO_SOL, 0) + ISNULL(OTROS_DESCUENTOS, 0) + ISNULL(DESCUENTO_PRONTO_PAGO, 0))
                END AS ORDEN_NETA,
                VALOR_2x1
            INTO ##Stg_Ordenes_Financieras
            FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        
        EXEC(@TSQL); 

        -- B. Extracción de Descuentos
        DROP TABLE IF EXISTS ##Stg_Descuentos;
        
        SET @OracleSQL = N'
            SELECT
              cun.PERIODO, B.TIP_IDENTIFICACION, cun.DOC_ALUM, cun.ID_TERCERO, B.NOM_TERCERO, B.SEG_NOMBRE, B.PRI_APELLIDO, B.SEG_APELLIDO,
              cun.CLIENTE, EST_PAG_ACA,
              (select DECODE(liq.liquidacion,'''',''NO PAGO'', ''PAGO'') FROM ORDEN O LEFT JOIN liquidacion_orden liq ON liq.orden = o.orden AND liq.documento = o.documento WHERE O.CLIENTE_SOLICITADO = CUN.CLIENTE AND o.orden = CUN.ORDEN and o.documento = CUN.documento and o.periodo = CUN.periodo ) as EST_PAG_FINANCIERO,
              FEC_CRE_ACAD, TO_CHAR(FEC_FINAN, ''DD/MM/YYYY'') fec_finan, FEC_NAC, TO_CHAR(b.fec_exp_documento, ''DD/MM/YYYY'') fec_exp, b.gen_tercero, DIRECCION_CASA, B.DIR_EMAIL AS EMAIL,
              NVL(cun.EMAIL_PER, dir_email ) email_per, TEL_CASA, TEL_CELULAR, COD_SEDE, SEDE, COD_SECC, SECCIONAL, COD_MODA, MODALIDAD,
              COD_UNI, nom_unidad, COD_PROGRAMA, NOM_PROGRAMA, PENSUM, COD_NIVEL, Nivel, COD_TIPO, tipo, ID_JORNADA, nom_jornada,
              NUEVO, TIP_INSCR, CLASE_ACTUAL, PERIODO_ULT_PAGO, NomCencos, FONDO, nombre_fondo, DOCUMENTO,
              CAST(ORDEN AS VARCHAR(100)) AS ORDEN,
             (select O.GRUPO FROM ORDEN O WHERE O.CLIENTE_SOLICITADO = CUN.CLIENTE AND o.orden = CUN.ORDEN and o.documento = CUN.documento and o.periodo = CUN.periodo ) as grupo_facturacion,
             (select MAX (UNIQUE (V.DESCRIPCION_GRUPO)) FROM ORDEN O INNER JOIN VENCIMIENTO_PERIODO V ON V.PERIODO = O.PERIODO AND V.GRUPO = O.GRUPO WHERE O.CLIENTE_SOLICITADO = CUN.CLIENTE AND o.orden = CUN.ORDEN and o.documento = CUN.documento and o.periodo = CUN.periodo ) AS DESCRIPCION_GRUPO,
              PRODUCTO, FUENTE, REF_LIQUIDACION, VALOR_ORDEN, val_liquidado, VAL_PAGADO, RECARGO, ADICIONALES, VAL_PAGO_DIRECTO,
              SALDO_FAVOR, VAL_CREDITO, VAL_ICETEX, VAL_CONTRATOS, VAL_BECDTOS, VAL_OTRAS_NCR, fec_pago_liq,
              CASE WHEN es_numero (SUBSTR(cun.fuente,1, 4)) = ''S'' THEN -1 * cunp_indicadores_financieros.retorna_devolucion_x_rev_orden (cun.cliente, cun.periodo, cun.documento, cun.orden, SUBSTR(cun.fuente,1, 4)) ELSE 0 END ncr_anulacion,
              SEMESTRE semestre_sinu, CASE WHEN fuente LIKE ''2100%'' THEN cup_cunt_control_tarifas_icb.retorna_nivel_alumno (cun.doc_alum) ELSE NULL END semestre_calculado,
              ( SELECT creditos_academicos FROM orden o WHERE o.documento = cun.documento AND o.orden = cun.orden ) creditos_orden,
              UBICACION, USU_CREA, USU_ACTU, GRU_EDUCONT, TO_CHAR(FEC_RECIBO, ''DD/MM/YYYY'') fec_recibo, TO_CHAR(FEC_SIGUIENTE, ''DD/MM/YYYY'') fec_siguiente,
              TO_CHAR(FEC_ANTERIOR, ''DD/MM/YYYY'') fec_anterior, cup_reportes_matriculas.retorna_datos_formulario (cun.documento, cun.orden) formulario,
              VAL_TARJETA_DEBITO, VAL_TARJETA_CREDITO, VAL_PAGO_BANCO, VAL_EFECTIVO, VAL_PLACE,
              NVL(NVL((SELECT S.VALOR FROM SOLICITUD_NOTA S WHERE S.ORDEN = CUN.ORDEN AND S.DOCUMENTO = CUN.DOCUMENTO AND S.CONCEPTO_NOTA=99 AND S.CAUSA_NOTA=20 AND S.ESTADO=''A'' AND S.NOTA_CREDITO IS NOT NULL),(SELECT S.VALOR FROM SOLICITUD_NOTA S WHERE S.ORDEN = CUN.ORDEN AND S.DOCUMENTO = CUN.DOCUMENTO AND S.CONCEPTO_NOTA=201 AND S.CAUSA_NOTA=212 AND S.ESTADO=''A'' AND S.NOTA_CREDITO IS NOT NULL)),0) VAL_2X1
            FROM CUNT_ALUMNOS_ORDENES_X_PERIODO cun, BAS_TERCERO B
            WHERE PERIODO LIKE ''%@P%''
            AND b.id_tercero=cun.id_tercero
            AND DOCUMENTO NOT IN (''RPVI'')
        ';
        
        SET @OracleSQL = REPLACE(@OracleSQL, '@P', @PeriodoCarga);
        SET @TSQL = N'SELECT * INTO ##Stg_Descuentos FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        EXEC(@TSQL);


        /* --------------------------------------------------------------------------------------------------
           FASE II: INTEGRACIÓN DE ORIGEN (DML Transaccional)
           Nota: Garantiza atomicidad al reemplazar la data del periodo actual.
        -------------------------------------------------------------------------------------------------- */
        BEGIN TRANSACTION;

            -- A. Actualizar tabla física de Órdenes (Lógica idempotente: Borrar e Insertar)
            DELETE FROM Financiera.Ordenes_Financieras_con_descuento 
            WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
            
            INSERT INTO Financiera.Ordenes_Financieras_con_descuento (
                IDENTIFICACION, NOMBRE, PERIODO, ORDEN, DOCUMENTO, CONCEPTO_MAT, VALOR_MAT, CONCEPTO_IDIOMAS, VALOR_IDIOMAS, 
                CONCEPTO_SERVICIO_MED, VALOR_SERVICIO_MED, CONCEPTO_BONO_SOL, VALOR_BONO_SOL, OTROS_DESCUENTOS, GRUPO, 
                DESCRIPCION_GRUPO, DESCUENTO_PRONTO_PAGO, VAL_BECDTOS, ORDEN_NETA, VALOR_2x1
            )
            SELECT 
                IDENTIFICACION, NOMBRE, PERIODO, ORDEN, DOCUMENTO, CONCEPTO_MAT, VALOR_MAT, CONCEPTO_IDIOMAS, VALOR_IDIOMAS, 
                CONCEPTO_SERVICIO_MED, VALOR_SERVICIO_MED, CONCEPTO_BONO_SOL, VALOR_BONO_SOL, OTROS_DESCUENTOS, GRUPO, 
                DESCRIPCION_GRUPO, DESCUENTO_PRONTO_PAGO, VAL_BECDTOS, ORDEN_NETA, VALOR_2x1 
            FROM ##Stg_Ordenes_Financieras;

            -- B. Actualizar tabla física de Descuentos
            DELETE FROM Financiera.DESCUENTOS 
            WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
            
            INSERT INTO FINANCIERA.DESCUENTOS (
                PERIODO, TIP_IDENTIFICACION, DOC_ALUM, ID_TERCERO, NOM_TERCERO, SEG_NOMBRE, PRI_APELLIDO, SEG_APELLIDO, 
                CLIENTE, EST_PAG_ACA, EST_PAG_FINANCIERO, FEC_CRE_ACAD, FEC_FINAN, FEC_NAC, FEC_EXP, GEN_TERCERO, 
                DIRECCION_CASA, EMAIL, EMAIL_PER, TEL_CASA, TEL_CELULAR, COD_SEDE, SEDE, COD_SECC, SECCIONAL, COD_MODA, 
                MODALIDAD, COD_UNI, NOM_UNIDAD, COD_PROGRAMA, NOM_PROGRAMA, PENSUM, COD_NIVEL, NIVEL, COD_TIPO, TIPO, 
                ID_JORNADA, NOM_JORNADA, NUEVO, TIP_INSCR, CLASE_ACTUAL, PERIODO_ULT_PAGO, NOMCENCOS, FONDO, NOMBRE_FONDO, 
                DOCUMENTO, ORDEN, GRUPO_FACTURACION, DESCRIPCION_GRUPO, PRODUCTO, FUENTE, REF_LIQUIDACION, VALOR_ORDEN, 
                VAL_LIQUIDADO, VAL_PAGADO, RECARGO, ADICIONALES, VAL_PAGO_DIRECTO, SALDO_FAVOR, VAL_CREDITO, VAL_ICETEX, 
                VAL_CONTRATOS, VAL_BECDTOS, VAL_OTRAS_NCR, FEC_PAGO_LIQ, NCR_ANULACION, SEMESTRE_SINU, SEMESTRE_CALCULADO, 
                CREDITOS_ORDEN, UBICACION, USU_CREA, USU_ACTU, GRU_EDUCONT, FEC_RECIBO, FEC_SIGUIENTE, FEC_ANTERIOR, 
                FORMULARIO, VAL_TARJETA_DEBITO, VAL_TARJETA_CREDITO, VAL_PAGO_BANCO, VAL_EFECTIVO, VAL_PLACE, VAL_2X1
            )
            SELECT 
                PERIODO, TIP_IDENTIFICACION, DOC_ALUM, ID_TERCERO, NOM_TERCERO, SEG_NOMBRE, PRI_APELLIDO, SEG_APELLIDO, 
                CLIENTE, EST_PAG_ACA, EST_PAG_FINANCIERO, FEC_CRE_ACAD, fec_finan, FEC_NAC, fec_exp, gen_tercero, 
                DIRECCION_CASA, EMAIL, email_per, TEL_CASA, TEL_CELULAR, COD_SEDE, SEDE, COD_SECC, SECCIONAL, COD_MODA, 
                MODALIDAD, COD_UNI, nom_unidad, COD_PROGRAMA, NOM_PROGRAMA, PENSUM, COD_NIVEL, Nivel, COD_TIPO, tipo, 
                ID_JORNADA, nom_jornada, NUEVO, TIP_INSCR, CLASE_ACTUAL, PERIODO_ULT_PAGO, NomCencos, FONDO, nombre_fondo, 
                DOCUMENTO, ORDEN, grupo_facturacion, DESCRIPCION_GRUPO, PRODUCTO, FUENTE, REF_LIQUIDACION, VALOR_ORDEN, 
                val_liquidado, VAL_PAGADO, RECARGO, ADICIONALES, VAL_PAGO_DIRECTO, SALDO_FAVOR, VAL_CREDITO, VAL_ICETEX, 
                VAL_CONTRATOS, VAL_BECDTOS, VAL_OTRAS_NCR, fec_pago_liq, ncr_anulacion, semestre_sinu, semestre_calculado, 
                creditos_orden, UBICACION, USU_CREA, USU_ACTU, GRU_EDUCONT, fec_recibo, fec_siguiente, fec_anterior, 
                formulario, VAL_TARJETA_DEBITO, VAL_TARJETA_CREDITO, VAL_PAGO_BANCO, VAL_EFECTIVO, VAL_PLACE, VAL_2X1
            FROM ##Stg_Descuentos;

        COMMIT TRANSACTION;


        /* --------------------------------------------------------------------------------------------------
           FASE III: CONSOLIDACIÓN DE DATOS MAESTROS (ZOHO CRM)
           Nota: Pre-filtrado en TempDB e indexado para optimizar el cruce final con datos financieros.
        -------------------------------------------------------------------------------------------------- */
        DROP TABLE IF EXISTS #ZOHO_FILTRADO;
        
        SELECT 
            CAST(DOC_ALUM AS VARCHAR(100)) AS DOC_ALUM_VARCHAR, 
            CAST(ORDEN AS VARCHAR(100)) AS ORDEN_VARCHAR,
            * 
        INTO #ZOHO_FILTRADO
        FROM Zoho.Base_Personas 
        WHERE PERIODO LIKE '%' + @PeriodoCarga + '%'
          AND ESTADO_PAGO_DATA = 'PAGO'
          AND EST_MATRICULADO IN ('1-Activo', '2-Egresado', '3-Graduado')
          AND DOCUMENTO IN ('FAMA', 'FECO');
          
        -- Indice con INCLUDE para sortear limitaciones de VARCHAR(MAX)
        CREATE INDEX IX_ZOHO_DOC_ORDEN ON #ZOHO_FILTRADO (DOC_ALUM_VARCHAR, ORDEN_VARCHAR) INCLUDE (PERIODO, DOCUMENTO);

        -- Tabla maestra intermedia: Estudiante + Ventas + Cartera
        DROP TABLE IF EXISTS #VENTAS_CON_ORDENES_FINAL;

        SELECT DISTINCT
            A.DOC_ALUM_VARCHAR AS Documento_Estudiante_zoho,
            A.PERIODO AS PERIODO_ORIGEN,
            A.PERIODO_DATA AS PERIODO,
            A.TIPO_ALUM_DATA AS NUEVO,
            DBO.NORMALIZAR(CASE WHEN TIPO_ALUM_DATA = 'ANTIGUO' THEN 'PERMANENCIA' ELSE A.Fuerza_Comercial_data END) AS FuerzaComercialFinal,
            A.ESTADO_PAGO_DATA AS ESTADO_PAGO,
            A.EST_MATRICULADO, A.seccional AS SECCIONAL, A.SEDE, A.COD_UNI, A.PROGRAMA, A.NOM_PROGRAMA, A.DOCUMENTO, A.MODALIDAD,
            A.Ciudad, A.ORDEN, A.NIVEL, A.CONVENIO AS NOMBRE_DE_CONVENIO, A.CLASE_ACTUAL, A.TIPO_PRODUCTO, A.Clase_actual_data,
            A.Usuario_crea, A.usuarioorigen, A.nomusuarioorigen, A.Campaña, B.VALOR_ORDEN, B.ADICIONALES, B.VAL_BECDTOS,
            B.VAL_OTRAS_NCR, B.VAL_2X1, C.VALOR_IDIOMAS AS Valor_ingles,    
            -- Ajuste final de liquidación (Neto)
            CASE
                WHEN ISNULL(B.VAL_2x1, 0) > 0 
                    THEN ISNULL(B.VALOR_ORDEN, 0) + ISNULL(B.ADICIONALES,0) + ISNULL(C.VALOR_IDIOMAS, 0) - ISNULL(B.VAL_2x1, 0)
                ELSE 
                    (ISNULL(B.VALOR_ORDEN, 0) + ISNULL (B.ADICIONALES,0) + ISNULL(C.VALOR_IDIOMAS,  0) + ISNULL(B.VAL_BECDTOS, 0)) 
            END AS ORDEN_NETO,
            A.lat AS LATITUD, A.lon AS LONGITUD, A.ciudad AS CIUDAD_GEOLOCALIZADA, A.departamento AS DEPARTAMENTO_GEOLOCALIZADO, 
            A.localidad AS LOCALIDAD_GEOLOCALIZADA, D.CARTERA_ESTUDIANTE,
            CASE 
                WHEN NULLIF(LTRIM(RTRIM(A.TIP_INSCR)), '') IS NULL THEN 'Normal' 
                WHEN UPPER(LTRIM(RTRIM(A.TIP_INSCR))) = 'OTRA' THEN 'Reconocimiento de titulo' 
                ELSE LTRIM(RTRIM(A.TIP_INSCR)) 
            END AS TIP_INSCR
        INTO #VENTAS_CON_ORDENES_FINAL
        FROM #ZOHO_FILTRADO A
        LEFT JOIN Financiera.Descuentos B 
            ON A.DOC_ALUM_VARCHAR = CAST(B.DOC_ALUM AS VARCHAR(100)) AND A.PERIODO = B.PERIODO AND A.DOCUMENTO = B.DOCUMENTO AND A.ORDEN_VARCHAR = CAST(B.ORDEN AS VARCHAR(100))
        LEFT JOIN Financiera.Ordenes_Financieras_con_descuento C 
            ON A.DOC_ALUM_VARCHAR = CAST(C.IDENTIFICACION AS VARCHAR(100)) AND A.PERIODO = C.PERIODO AND A.DOCUMENTO = C.DOCUMENTO AND A.ORDEN_VARCHAR = CAST(C.ORDEN AS VARCHAR(100))
        LEFT JOIN (
            SELECT CAST(IDENTIFICACION AS VARCHAR(100)) AS IDENTIFICACION, PERIODO, SUM(TRY_CAST(TOTAL AS DECIMAL(18,2))) AS CARTERA_ESTUDIANTE 
            FROM Financiera.Cartera_Total WHERE DOCUMENTO = 'NDB' GROUP BY IDENTIFICACION, PERIODO
        ) D ON A.DOC_ALUM_VARCHAR = D.IDENTIFICACION AND A.PERIODO = D.PERIODO;

        CREATE INDEX IX_VENTAS_JOIN ON #VENTAS_CON_ORDENES_FINAL (Documento_Estudiante_zoho);


        /* --------------------------------------------------------------------------------------------------
           FASE IV: PROCESAMIENTO DE RECAUDOS Y PASARELAS DE PAGO
           Nota: Implementa blindaje de estructura de tablas preventivo.
        -------------------------------------------------------------------------------------------------- */
        
        -- Configuración inicial de esquema preventivo (Schema Evolution)
        IF OBJECT_ID('Financiera.recaudo_medios_pago', 'U') IS NULL
        BEGIN
            CREATE TABLE Financiera.recaudo_medios_pago (CLIENTE VARCHAR(100), PERIODO VARCHAR(50), NUMERO VARCHAR(100), FECHA_DE_PAGO VARCHAR(50), VALOR DECIMAL(18,2), CAJA VARCHAR(500), NOMBRE VARCHAR(500), DESCRIPCION VARCHAR(800), NOMBRE_CAJA VARCHAR(500))
        END ELSE BEGIN
            IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('Financiera.recaudo_medios_pago') AND name = 'DESCRIPCION') ALTER TABLE Financiera.recaudo_medios_pago ADD DESCRIPCION VARCHAR(800);
            IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('Financiera.recaudo_medios_pago') AND name = 'NOMBRE_CAJA') ALTER TABLE Financiera.recaudo_medios_pago ADD NOMBRE_CAJA VARCHAR(500);
            ALTER TABLE Financiera.recaudo_medios_pago ALTER COLUMN DESCRIPCION VARCHAR(800);
            ALTER TABLE Financiera.recaudo_medios_pago ALTER COLUMN NOMBRE_CAJA VARCHAR(500);
            ALTER TABLE Financiera.recaudo_medios_pago ALTER COLUMN NOMBRE VARCHAR(500);
            ALTER TABLE Financiera.recaudo_medios_pago ALTER COLUMN CAJA VARCHAR(500);
        END

        IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL') AND name = 'VALOR_RECAUDO') ALTER TABLE FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL ADD VALOR_RECAUDO DECIMAL(18,2);
        IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL') AND name = 'NOMBRE_FRANQUICIA') ALTER TABLE FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL ADD NOMBRE_FRANQUICIA VARCHAR(500);
        IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id = OBJECT_ID('FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL') AND name = 'NOMBRE_CAJA') ALTER TABLE FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL ADD NOMBRE_CAJA VARCHAR(500);
        
        ALTER TABLE FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL ALTER COLUMN NOMBRE_FRANQUICIA VARCHAR(500);
        ALTER TABLE FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL ALTER COLUMN NOMBRE_CAJA VARCHAR(500);

        -- Lógica de recaudo Idempotente
        DELETE FROM Financiera.recaudo_medios_pago WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
        DROP TABLE IF EXISTS ##recaudo_temp;

        SET @OracleSQL = N'
            SELECT DISTINCT 
                CAST(rp.DOC_ALUM AS VARCHAR(100)) AS CLIENTE, rp.PERIODO, CAST(rp.NUMERO AS VARCHAR(100)) AS NUMERO, 
                rp.FECHA_DE_PAGO, rp.VALOR_INGRESO_DIRECTO AS VALOR, CAST(rc.CAJA AS VARCHAR(500)) AS CAJA, 
                CAST(rc.DESCRIPCION AS VARCHAR(800)) AS DESCRIPCION, CAST(C.NOMBRE_CAJA AS VARCHAR(500)) AS NOMBRE_CAJA, 
                CAST(P.NOMBRE AS VARCHAR(500)) AS NOMBRE_FRANQUICIA 
            FROM ICEBERG.R_RECAUDO_PAGOS rp 
            LEFT JOIN ICEBERG.RECIBO_CAJA rc ON rc.NUMERO = rp.NUMERO 
            LEFT JOIN CAJA C ON C.CAJA = rc.CAJA 
            LEFT JOIN PORTAL_PAGOS_CUN.PPT_CUN_DETALLE_RESPUESTA_PAGO D ON D.recibo_iceberg = rp.NUMERO 
            LEFT JOIN PORTAL_PAGOS_CUN.PPT_CUN_RESPUESTA_PAGO RPp ON RPp.REFERENCIA = D.REFERENCIA AND RPp.SECUENCIA  = D.SECUENCIA 
            LEFT JOIN PORTAL_PAGOS_CUN.PPT_CUN_NOMBRE_FRANQUICIA_PAGO P ON P.FRANQUICIA = RPp.FRANCHISE 
            WHERE rp.PERIODO LIKE ''%@P%''
        ';
        
        SET @OracleSQL = REPLACE(@OracleSQL, '@P', @PeriodoCarga);
        SET @TSQL = N'SELECT * INTO ##recaudo_temp FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        EXEC(@TSQL);

        INSERT INTO Financiera.recaudo_medios_pago (CLIENTE, PERIODO, NUMERO, FECHA_DE_PAGO, VALOR, CAJA, NOMBRE, DESCRIPCION, NOMBRE_CAJA)
        SELECT CLIENTE, PERIODO, NUMERO, FECHA_DE_PAGO, VALOR, CAJA, NOMBRE_FRANQUICIA, DESCRIPCION, NOMBRE_CAJA FROM ##recaudo_temp;


        /* --------------------------------------------------------------------------------------------------
           FASE V: ESCRITURA FINAL DE RESULTADOS
           Nota: Inserción atómica final en la tabla de tableros financieros.
        -------------------------------------------------------------------------------------------------- */
        BEGIN TRANSACTION;

            DELETE FROM FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL 
            WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';

            -- Agrupamiento de recibos para obtener un resumen 1 a 1 por estudiante
            WITH Recibos_Agrupados AS (
                SELECT CLIENTE, PERIODO, MAX(VALOR) AS VALOR_RECAUDO, MAX(NOMBRE) AS NOMBRE_FRANQUICIA, MAX(NOMBRE_CAJA) AS NOMBRE_CAJA
                FROM Financiera.recaudo_medios_pago 
                GROUP BY CLIENTE, PERIODO
            )
            
            INSERT INTO FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL (
                Documento_Estudiante_zoho, PERIODO_ORIGEN, PERIODO, NUEVO, FuerzaComercialFinal, 
                ESTADO_PAGO, EST_MATRICULADO, SECCIONAL, SEDE, COD_UNI, PROGRAMA, NOM_PROGRAMA, 
                DOCUMENTO, MODALIDAD, Ciudad, ORDEN, NIVEL, NOMBRE_DE_CONVENIO, CLASE_ACTUAL, 
                TIPO_PRODUCTO, Clase_actual_data, Usuario_crea, usuarioorigen, nomusuarioorigen, 
                Campaña, VALOR_ORDEN, ADICIONALES, VAL_BECDTOS, VAL_OTRAS_NCR, VAL_2X1, 
                Valor_ingles, ORDEN_NETO, LATITUD, LONGITUD, CIUDAD_GEOLOCALIZADA, 
                DEPARTAMENTO_GEOLOCALIZADO, LOCALIDAD_GEOLOCALIZADA, CARTERA_ESTUDIANTE, 
                TIP_INSCR, VALOR_RECAUDO, NOMBRE_FRANQUICIA, NOMBRE_CAJA
            )
            SELECT
                a.Documento_Estudiante_zoho, a.PERIODO_ORIGEN, a.PERIODO, a.NUEVO, a.FuerzaComercialFinal, 
                a.ESTADO_PAGO, a.EST_MATRICULADO, a.SECCIONAL, a.SEDE, a.COD_UNI, a.PROGRAMA, a.NOM_PROGRAMA, 
                a.DOCUMENTO, a.MODALIDAD, a.Ciudad, a.ORDEN, a.NIVEL, a.NOMBRE_DE_CONVENIO, a.CLASE_ACTUAL, 
                a.TIPO_PRODUCTO, a.Clase_actual_data, a.Usuario_crea, a.usuarioorigen, a.nomusuarioorigen, 
                a.Campaña, a.VALOR_ORDEN, a.ADICIONALES, a.VAL_BECDTOS, a.VAL_OTRAS_NCR, a.VAL_2X1, 
                a.Valor_ingles, a.ORDEN_NETO, a.LATITUD, a.LONGITUD, a.CIUDAD_GEOLOCALIZADA, 
                a.DEPARTAMENTO_GEOLOCALIZADO, a.LOCALIDAD_GEOLOCALIZADA, a.CARTERA_ESTUDIANTE, 
                a.TIP_INSCR, b.VALOR_RECAUDO, b.NOMBRE_FRANQUICIA, b.NOMBRE_CAJA
            FROM #VENTAS_CON_ORDENES_FINAL a
            LEFT JOIN Recibos_Agrupados b ON a.Documento_Estudiante_zoho = b.CLIENTE AND a.PERIODO = b.PERIODO
            WHERE a.PERIODO LIKE '%' + @PeriodoCarga + '%';

        COMMIT TRANSACTION;
        
        /* --------------------------------------------------------------------------------------------------
           LIMPIEZA DE ESPACIO DE TRABAJO (Housekeeping)
        -------------------------------------------------------------------------------------------------- */
        DROP TABLE IF EXISTS ##Stg_Ordenes_Financieras;
        DROP TABLE IF EXISTS ##Stg_Descuentos;
        DROP TABLE IF EXISTS ##recaudo_temp;
        DROP TABLE IF EXISTS #VENTAS_CON_ORDENES_FINAL;
        DROP TABLE IF EXISTS #ZOHO_FILTRADO;

    END TRY
    
    -- ======================================================================================================
    -- BLOQUE DE MANEJO DE ERRORES Y REGISTRO DE FALLAS
    -- ======================================================================================================
    BEGIN CATCH
        SET @err_mensaje   = ERROR_MESSAGE();
        SET @err_linea     = ERROR_LINE();
        SET @err_severidad = ERROR_SEVERITY();

        -- Rollback de seguridad si el proceso estalló en medio de un DML
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        -- Limpieza de recursos huérfanos
        DROP TABLE IF EXISTS ##Stg_Ordenes_Financieras;
        DROP TABLE IF EXISTS ##Stg_Descuentos;
        DROP TABLE IF EXISTS ##recaudo_temp;
        DROP TABLE IF EXISTS #VENTAS_CON_ORDENES_FINAL;
        DROP TABLE IF EXISTS #ZOHO_FILTRADO;

        -- Registro de la excepción en la tabla de auditoría
        INSERT INTO Financiera.LOG_Usp_Ejecucion_PDN2025 (
            sp_nombre, periodo_ejecutado, filas_ordenes_antes, duracion_seg, estado, mensaje
        )
        VALUES (
            'Usp_Ejecucion_PDN2025', @PeriodoCarga, @filas_ordenes_pre, DATEDIFF(SECOND, @inicio, GETDATE()), 
            'ERROR', 'Linea: ' + CAST(@err_linea AS VARCHAR) + ' | ' + @err_mensaje
        );

        RAISERROR(@err_mensaje, @err_severidad, 1);
    END CATCH

    -- ======================================================================================================
    -- BLOQUE FINAL: AUDITORÍA DE ÉXITO
    -- ======================================================================================================
    SELECT @filas_ordenes_post    = COUNT(*) FROM Financiera.Ordenes_Financieras_con_descuento WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
    SELECT @filas_descuentos_post = COUNT(*) FROM Financiera.DESCUENTOS                          WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
    SELECT @filas_resultado_post  = COUNT(*) FROM FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL     WHERE PERIODO LIKE '%' + @PeriodoCarga + '%';
    
    SET @duracion_seg = DATEDIFF(SECOND, @inicio, GETDATE());

    INSERT INTO Financiera.LOG_Usp_Ejecucion_PDN2025 (
        sp_nombre, periodo_ejecutado, filas_ordenes_antes, filas_ordenes_despues, 
        filas_descuentos_antes, filas_descuentos_despues, filas_resultado_antes, 
        filas_resultado_despues, duracion_seg, estado, mensaje
    )
    VALUES (
        'Usp_Ejecucion_PDN2025', @PeriodoCarga, @filas_ordenes_pre, @filas_ordenes_post, 
        @filas_descuentos_pre, @filas_descuentos_post, @filas_resultado_pre, 
        @filas_resultado_post, @duracion_seg, 'OK', 
        'Ejecucion exitosa Periodo: ' + @PeriodoCarga + '. Duracion: ' + CAST(@duracion_seg AS VARCHAR) + 's'
    );

END