USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [Financiera].[Usp_Ejecucion_PDN2025]    Script Date: 13/05/2026 3:26:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  Objeto    : [Financiera].[Usp_Ejecucion_PDN2025]
--  Tipo      : Stored Procedure
--  Esquema   : Financiera
--  Base      : CUN_REPOSITORIO
-- ------------------------------------------------------------
--  PROPÓSITO:
--      Motor de carga del Plan de Negocio (PDN) 2025.
--      Extrae datos financieros y académicos desde Oracle
--      (servidor vinculado 172.16.1.175), los cruza con la
--      base comercial de Zoho CRM y consolida el resultado
--      en FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL.
--
--  FASES:
--      0  - Auditoría inicial y volumetrías pre-ejecución
--      1  - Staging: actualización de periodos históricos
--      2  - Staging: extracción Oracle → tablas temporales
--      3  - Fase II: actualización transaccional tablas locales
--      4  - Fase III: cruce con Zoho CRM
--      5  - Fase IV: consolidación de resultado final
--      6  - Auditoría de cierre (éxito o error)
--
--  PARÁMETROS:
--      @PeriodoCarga  VARCHAR(2)  Prefijo del periodo a cargar
--                                 (ej. '26' para 2026).
--                                 Default: '26'
--
--  TABLAS DESTINO:
--      Financiera.Ordenes_Financieras_con_descuento
--      Financiera.DESCUENTOS
--      Financiera.recaudo_medios_pago
--      Financiera.detalle_cartera
--      FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL
--
--  DEPENDENCIAS EXTERNAS:
--      Servidor vinculado : 172.16.1.175 (Oracle ICEBERG/SINU)
--      Zoho               : Zoho.Base_Personas
--      Función escalar    : DBO.NORMALIZAR
--
--  AUDITORÍA:
--      Financiera.LOG_Usp_Ejecucion_PDN2025
--        (se crea automáticamente si no existe)
--
--  CAMBIOS ACUMULADOS v2:
--      - Auditoría comparativa de sumas STG vs MAT (ORDEN_NETA, VAL_2X1, VALOR_FINANCIACION)
--      - Columna fecha_actualizacion en todas las tablas destino
--      - Columna ANO_PAGO en recaudo_medios_pago (TRY_CONVERT estilo 103 DD/MM/YYYY)
--      - Lógica de carga histórica corregida a nivel de fila (NOT EXISTS por clave natural)
--      - Estrategia append-only para recaudo: carga inicial 2020-2025
--        + refresh diario por ANO_PAGO = año en curso
--      - Filtro de periodos extendido desde 2020 sin colisión con años anteriores
--      - periodo_ejecutado incluido en log de éxito y error
--
--  AUTOR    : [Equipo Ingenieria financiera - CUN]
--  VERSIÓN  : 2026.2
-- ============================================================

ALTER PROCEDURE [Financiera].[Usp_Ejecucion_PDN2025]
(
    @PeriodoCarga VARCHAR(2) = '26'
)
AS
BEGIN
    SET NOCOUNT ON;


    -- ==========================================================
    -- BLOQUE 1: DECLARACIÓN DE VARIABLES
    -- ==========================================================

    -- Variables de auditoría y control de tiempo
    DECLARE @inicio                 DATETIME     = GETDATE();
    DECLARE @err_mensaje            VARCHAR(2000);
    DECLARE @err_linea              INT;
    DECLARE @err_severidad          INT;

    -- Volumetrías pre y post ejecución para log comparativo
    DECLARE @filas_ordenes_pre      INT;
    DECLARE @filas_descuentos_pre   INT;
    DECLARE @filas_resultado_pre    INT;
    DECLARE @filas_ordenes_post     INT;
    DECLARE @filas_descuentos_post  INT;
    DECLARE @filas_resultado_post   INT;
    DECLARE @duracion_seg           INT;

    -- Variables para comparación de sumas staging vs materializado
    -- ORDEN_NETA y VAL_2X1 son FLOAT en las tablas destino
    DECLARE @suma_orden_neta_stg            FLOAT;
    DECLARE @suma_orden_neta_mat            FLOAT;
    DECLARE @suma_val_2x1_stg               FLOAT;
    DECLARE @suma_val_2x1_mat               FLOAT;
    -- VALOR_FINANCIACION es DECIMAL en la tabla destino
    DECLARE @suma_valor_financiacion_stg    DECIMAL(18,2);
    DECLARE @suma_valor_financiacion_mat    DECIMAL(18,2);

    -- Variables para construcción de SQL dinámico (OPENQUERY hacia Oracle)
    DECLARE @OracleSQL              NVARCHAR(MAX);
    DECLARE @TSQL                   NVARCHAR(MAX);

    -- Lista de periodos solo del año a cargar (ej. '26%')
    DECLARE @ListaPeriodosCarga     VARCHAR(MAX);

    -- Lista TOTAL de periodos (24+25+26) para tablas con carga histórica
    DECLARE @ListaPeriodosTotal     VARCHAR(MAX);


    -- ==========================================================
    -- BLOQUE 2: TABLA DE LOG Y VOLUMETRÍAS INICIALES
    -- ==========================================================

    -- Crea la tabla de log si no existe (ejecución idempotente)
    IF OBJECT_ID('Financiera.LOG_Usp_Ejecucion_PDN2025', 'U') IS NULL
    BEGIN
        CREATE TABLE Financiera.LOG_Usp_Ejecucion_PDN2025 (
            id                                  INT IDENTITY(1,1) PRIMARY KEY,
            fecha_ejecucion                     DATETIME DEFAULT GETDATE(),
            sp_nombre                           VARCHAR(100),
            filas_ordenes_antes                 INT,
            filas_ordenes_despues               INT,
            filas_descuentos_antes              INT,
            filas_descuentos_despues            INT,
            filas_resultado_antes               INT,
            filas_resultado_despues             INT,
            duracion_seg                        INT,
            estado                              VARCHAR(20),
            mensaje                             VARCHAR(2000),
            periodo_ejecutado                   VARCHAR(2),
            -- Comparación de sumas: ORDEN_NETA (FLOAT)
            suma_orden_neta_stg                 FLOAT,
            suma_orden_neta_mat                 FLOAT,
            diff_orden_neta                     FLOAT,
            -- Comparación de sumas: VAL_2X1 (FLOAT)
            suma_val_2x1_stg                    FLOAT,
            suma_val_2x1_mat                    FLOAT,
            diff_val_2x1                        FLOAT,
            -- Comparación de sumas: VALOR_FINANCIACION (DECIMAL)
            suma_valor_financiacion_stg         DECIMAL(18,2),
            suma_valor_financiacion_mat         DECIMAL(18,2),
            diff_valor_financiacion             DECIMAL(18,2)
        )
    END

    RAISERROR('>>> [0/8] INICIANDO PROCESO - Capturando volumetrias iniciales...', 0, 1) WITH NOWAIT;

    -- Captura cuántos registros existen ANTES de la carga (baseline para el log)
    -- Soporta tanto formato corto (26%) como formato largo (2026%)
    SELECT @filas_ordenes_pre    = COUNT(*)
    FROM   Financiera.Ordenes_Financieras_con_descuento
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';

    SELECT @filas_descuentos_pre = COUNT(*)
    FROM   Financiera.DESCUENTOS
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';

    SELECT @filas_resultado_pre  = COUNT(*)
    FROM   FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';


    BEGIN TRY

        -- ======================================================
        -- FASE I · PASO 1/8: STAGING – ACTUALIZACIÓN DE PERIODOS
        -- ======================================================
        RAISERROR('>>> [1/8] STAGING: Actualizando y obteniendo lista de periodos...', 0, 1) WITH NOWAIT;

        -- Limpia la tabla de períodos históricos local antes de refrescarla
        TRUNCATE TABLE Financiera.periodos_historico;

        -- Extrae desde Oracle los períodos desde 2020 hasta el año actual.
        -- Formato corto (2 dígitos): solo 24, 25, 26 para evitar colisión
        --   con periodos tipo 2009A, 2010B, etc. que también empiezan con '20','21'...
        -- Formato largo (4 dígitos): fijo 2020-2023 + dinámico 2024-2026 con SYSDATE
        INSERT INTO Financiera.periodos_historico (
            COD_PERIODO, NOM_PERIODO, TIP_PERIODO, FEC_INICIO, FEC_FIN,
            NUM_SEMANAS, GEN_PERIODO, EMP_TIP_PERIODO, MAX_UNI_MATRICULAR, NUM_SEMANAS_POS
        )
        SELECT *
        FROM   OPENQUERY([172.16.1.175], '
            SELECT COD_PERIODO, NOM_PERIODO, TIP_PERIODO, FEC_INICIO, FEC_FIN,
                   NUM_SEMANAS, GEN_PERIODO, EMP_TIP_PERIODO, MAX_UNI_MATRICULAR, NUM_SEMANAS_POS
            FROM   SRC_ENC_PERIODO
            WHERE
                -- Formato corto: solo años recientes sin ambigüedad (24, 25, 26)
                SUBSTR(COD_PERIODO, 1, 2) IN (
                    TO_CHAR(SYSDATE, ''YY''),
                    TO_CHAR(SYSDATE - INTERVAL ''1'' YEAR, ''YY''),
                    TO_CHAR(SYSDATE - INTERVAL ''2'' YEAR, ''YY'')
                )
             OR
                -- Formato largo: fijo desde 2020 + dinámico años recientes
                -- Evita traer 2009, 2010, 2011... que colisionan con prefijo ''20''
                SUBSTR(COD_PERIODO, 1, 4) IN (
                    ''2020'', ''2021'', ''2022'', ''2023'',
                    TO_CHAR(SYSDATE, ''YYYY''),
                    TO_CHAR(SYSDATE - INTERVAL ''1'' YEAR, ''YYYY''),
                    TO_CHAR(SYSDATE - INTERVAL ''2'' YEAR, ''YYYY'')
                )
        ');

        -- Construye la lista de periodos del año a cargar (ej. '26001','2026A'...)
        -- FIX: incluye formato largo (20YY*) además del corto (YY*)
        SELECT @ListaPeriodosCarga = STRING_AGG('''' + COD_PERIODO + '''', ',')
        FROM   Financiera.periodos_historico
        WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
            OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%';

        -- Aborta si no hay períodos para el filtro solicitado
        IF @ListaPeriodosCarga IS NULL
            RAISERROR('No se encontraron periodos en Financiera.periodos_historico para el filtro especificado.', 16, 1);

        -- Construye la lista TOTAL (24+25+26) para tablas con carga histórica
        SELECT @ListaPeriodosTotal = STRING_AGG('''' + COD_PERIODO + '''', ',')
        FROM   Financiera.periodos_historico;


        -- ======================================================
        -- FASE I · PASO 2/8: STAGING – ÓRDENES FINANCIERAS
        -- ======================================================
        RAISERROR('>>> [2/8] STAGING: Extrayendo Ordenes Financieras...', 0, 1) WITH NOWAIT;

        DROP TABLE IF EXISTS #Stg_Ordenes_Financieras;

        -- Tabla temporal para recibir las órdenes financieras desde Oracle
        CREATE TABLE #Stg_Ordenes_Financieras (
            IDENTIFICACION          VARCHAR(50)     COLLATE DATABASE_DEFAULT,
            NOMBRE                  VARCHAR(200)    COLLATE DATABASE_DEFAULT,
            PERIODO                 VARCHAR(20)     COLLATE DATABASE_DEFAULT,
            ORDEN                   VARCHAR(50)     COLLATE DATABASE_DEFAULT,
            DOCUMENTO               VARCHAR(50)     COLLATE DATABASE_DEFAULT,
            CONCEPTO_MAT            VARCHAR(100)    COLLATE DATABASE_DEFAULT,
            VALOR_MAT               DECIMAL(18,2),
            CONCEPTO_IDIOMAS        VARCHAR(100)    COLLATE DATABASE_DEFAULT,
            VALOR_IDIOMAS           DECIMAL(18,2),
            CONCEPTO_SERVICIO_MED   VARCHAR(100)    COLLATE DATABASE_DEFAULT,
            VALOR_SERVICIO_MED      DECIMAL(18,2),
            CONCEPTO_BONO_SOL       VARCHAR(100)    COLLATE DATABASE_DEFAULT,
            VALOR_BONO_SOL          DECIMAL(18,2),
            OTROS_DESCUENTOS        DECIMAL(18,2),
            GRUPO                   VARCHAR(50)     COLLATE DATABASE_DEFAULT,
            DESCRIPCION_GRUPO       VARCHAR(200)    COLLATE DATABASE_DEFAULT,
            DESCUENTO_PRONTO_PAGO   DECIMAL(18,2),
            VAL_BECDTOS             DECIMAL(18,2),
            ORDEN_NETA              DECIMAL(18,2),
            VALOR_2x1               DECIMAL(18,2)
        );

        -- Construye la consulta Oracle dinámica para órdenes financieras.
        -- FIX: TO_CHAR(IDENTIFICACION) y TO_CHAR(ORDEN) evitan notación científica.
        -- FIX: columnas en orden correcto → ORDEN_NETA primero, VALOR_2x1 al final.
        SET @OracleSQL = N'
            SELECT TO_CHAR(IDENTIFICACION)  AS IDENTIFICACION,
                   NOMBRE,
                   PERIODO,
                   TO_CHAR(ORDEN)            AS ORDEN,
                   DOCUMENTO,
                   CONCEPTO_MAT,
                   VALOR_MAT,
                   CONCEPTO_IDIOMAS,
                   VALOR_IDIOMAS,
                   CONCEPTO_SERVICIO_MED,
                   VALOR_SERVICIO_MED,
                   CONCEPTO_BONO_SOL,
                   VALOR_BONO_SOL,
                   OTROS_DESCUENTOS,
                   GRUPO,
                   DESCRIPCION_GRUPO,
                   DESCUENTO_PRONTO_PAGO,
                   VAL_BECDTOS,
                   CASE
                       WHEN NVL(VALOR_2x1, 0) > 0
                           THEN (  NVL(VALOR_MAT,          0)
                                 + NVL(VALOR_IDIOMAS,       0)
                                 + NVL(VALOR_SERVICIO_MED,  0)
                                 + NVL(VALOR_2X1,           0))
                       ELSE        (  NVL(VALOR_MAT,          0)
                                 + NVL(VALOR_IDIOMAS,       0)
                                 + NVL(VALOR_SERVICIO_MED,  0)
                                 + NVL(VALOR_BONO_SOL,      0)
                                 + NVL(OTROS_DESCUENTOS,    0)
                                 + NVL(DESCUENTO_PRONTO_PAGO, 0))
                   END AS ORDEN_NETA,
                   VALOR_2x1
            FROM   ICEBERG.V_ccrecibopagoantcod_2
            WHERE  PERIODO IN (@P_LISTA)
        ';

        -- Inyecta la lista de periodos y envuelve en OPENQUERY para ejecución en Oracle
        SET @OracleSQL = REPLACE(@OracleSQL, '@P_LISTA', @ListaPeriodosCarga);
        SET @TSQL      = N'SELECT * FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';

        -- Carga el resultado en la tabla temporal local
        INSERT INTO #Stg_Ordenes_Financieras
        EXEC(@TSQL);


        -- ======================================================
        -- FASE I · PASO 3/8: STAGING – DESCUENTOS Y PERFIL
        -- ======================================================
        RAISERROR('>>> [3/8] STAGING: Extrayendo Descuentos...', 0, 1) WITH NOWAIT;

        DROP TABLE IF EXISTS ##Stg_Descuentos;

        -- Construye la consulta Oracle para descuentos y datos completos del alumno.
        -- FIX: agrega TO_CHAR(cun.ORDEN) AS ORDEN_STR para evitar notación científica.
        SET @OracleSQL = N'
            SELECT
                cun.*,
                B.TIP_IDENTIFICACION,
                B.NOM_TERCERO,
                B.SEG_NOMBRE,
                B.PRI_APELLIDO,
                B.SEG_APELLIDO,
                TO_CHAR(cun.ORDEN)                            AS ORDEN_STR,
                (SELECT DECODE(liq.liquidacion, '''', ''NO PAGO'', ''PAGO'')
                 FROM   ORDEN O
                 LEFT   JOIN liquidacion_orden liq
                            ON liq.orden      = o.orden
                           AND liq.documento  = o.documento
                 WHERE  O.CLIENTE_SOLICITADO  = CUN.CLIENTE
                   AND  o.orden               = CUN.ORDEN
                   AND  o.documento           = CUN.documento
                   AND  o.periodo             = CUN.periodo)  AS EST_PAG_FINANCIERO,
                TO_CHAR(FEC_FINAN,          ''DD/MM/YYYY'')   AS fec_finan_char,
                TO_CHAR(b.fec_exp_documento, ''DD/MM/YYYY'')  AS fec_exp_char,
                b.gen_tercero,
                B.DIR_EMAIL                                   AS EMAIL_B,
                NVL(cun.EMAIL_PER, dir_email)                 AS email_per_calc,
                (SELECT o.GRUPO
                 FROM   ORDEN O
                 WHERE  O.CLIENTE_SOLICITADO = CUN.CLIENTE
                   AND  o.orden     = CUN.ORDEN
                   AND  o.documento = CUN.documento
                   AND  o.periodo   = CUN.periodo)            AS grupo_facturacion,
                (SELECT MAX(UNIQUE (V.DESCRIPCION_GRUPO))
                 FROM   ORDEN O
                 INNER  JOIN VENCIMIENTO_PERIODO V
                             ON V.PERIODO = O.PERIODO
                            AND V.GRUPO   = O.GRUPO
                 WHERE  O.CLIENTE_SOLICITADO = CUN.CLIENTE
                   AND  o.orden     = CUN.ORDEN
                   AND  o.documento = CUN.documento
                   AND  o.periodo   = CUN.periodo)            AS DESCRIPCION_GRUPO_CALC,
                CASE
                    WHEN es_numero(SUBSTR(cun.fuente, 1, 4)) = ''S''
                        THEN -1 * cunp_indicadores_financieros.retorna_devolucion_x_rev_orden(
                                    cun.cliente, cun.periodo, cun.documento,
                                    cun.orden,   SUBSTR(cun.fuente, 1, 4))
                    ELSE 0
                END                                           AS NCR_ANULACION_CALC,
                CASE
                    WHEN fuente LIKE ''2100%''
                        THEN cup_cunt_control_tarifas_icb.retorna_nivel_alumno(cun.doc_alum)
                    ELSE NULL
                END                                           AS semestre_calculado,
                (SELECT creditos_academicos
                 FROM   orden o
                 WHERE  o.documento = cun.documento
                   AND  o.orden     = cun.orden)              AS creditos_orden,
                TO_CHAR(FEC_RECIBO,    ''DD/MM/YYYY'')        AS fec_recibo_char,
                TO_CHAR(FEC_SIGUIENTE, ''DD/MM/YYYY'')        AS fec_siguiente_char,
                TO_CHAR(FEC_ANTERIOR,  ''DD/MM/YYYY'')        AS fec_anterior_char,
                cup_reportes_matriculas.retorna_datos_formulario(
                    cun.documento, cun.orden)                 AS formulario,
                NVL(
                    NVL(
                        (SELECT S.VALOR
                         FROM   SOLICITUD_NOTA S
                         WHERE  S.ORDEN          = CUN.ORDEN
                           AND  S.DOCUMENTO      = CUN.DOCUMENTO
                           AND  S.CONCEPTO_NOTA  = 99
                           AND  S.CAUSA_NOTA     = 20
                           AND  S.ESTADO         = ''A''
                           AND  S.NOTA_CREDITO  IS NOT NULL),
                        (SELECT S.VALOR
                         FROM   SOLICITUD_NOTA S
                         WHERE  S.ORDEN          = CUN.ORDEN
                           AND  S.DOCUMENTO      = CUN.DOCUMENTO
                           AND  S.CONCEPTO_NOTA  = 201
                           AND  S.CAUSA_NOTA     = 212
                           AND  S.ESTADO         = ''A''
                           AND  S.NOTA_CREDITO  IS NOT NULL)
                    ), 0)                                     AS VAL_2X1_CALC
            FROM   CUNT_ALUMNOS_ORDENES_X_PERIODO cun
            INNER  JOIN BAS_TERCERO B
                        ON b.id_tercero = cun.id_tercero
            WHERE  cun.PERIODO   IN (@P_LISTA)
              AND  cun.DOCUMENTO NOT IN (''RPVI'')
        ';

        SET @OracleSQL = REPLACE(@OracleSQL, '@P_LISTA', @ListaPeriodosCarga);
        SET @TSQL      = N'SELECT * INTO ##Stg_Descuentos FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        EXEC(@TSQL);


        -- ======================================================
        -- FASE I · PASO 4/8: STAGING – RECAUDO MEDIOS DE PAGO
        -- ======================================================
        -- Estrategia de extracción:
        --   · Carga inicial 2020-2025: trae todos los periodos históricos
        --   · Refresh diario: trae todos los registros con ANO_PAGO = año actual
        --     independientemente del periodo académico al que pertenezcan
        RAISERROR('>>> [4/8] STAGING: Extrayendo Recaudo (carga historica 2020-2025 + refresh diario por ANO_PAGO)...', 0, 1) WITH NOWAIT;

        DROP TABLE IF EXISTS ##Stg_Recaudo_Medios;

        -- Extrae cómo pagó cada estudiante: caja, franquicia, portal web, etc.
        -- NOTA: ANO_PAGO se calcula en SQL Server con TRY_CONVERT estilo 103
        --       para manejar el formato DD/MM/YYYY que viene desde Oracle.
        --       No se calcula en Oracle para evitar errores con fechas inválidas.
        SET @OracleSQL = N'
            SELECT DISTINCT
                CAST(rp.DOC_ALUM AS VARCHAR(100))  AS CLIENTE,
                rp.PERIODO,
                CAST(rp.NUMERO   AS VARCHAR(100))  AS NUMERO,
                rp.FECHA_DE_PAGO,
                rp.VALOR_INGRESO_DIRECTO           AS VALOR,
                rc.CAJA,
                rc.DESCRIPCION,
                C.NOMBRE_CAJA,
                P.NOMBRE                           AS NOMBRE_FRANQUICIA
            FROM   ICEBERG.R_RECAUDO_PAGOS rp
            LEFT   JOIN ICEBERG.RECIBO_CAJA rc
                        ON rc.NUMERO = rp.NUMERO
            LEFT   JOIN CAJA C
                        ON C.CAJA = rc.CAJA
            LEFT   JOIN PORTAL_PAGOS_CUN.PPT_CUN_DETALLE_RESPUESTA_PAGO D
                        ON D.recibo_iceberg = rp.NUMERO
            LEFT   JOIN PORTAL_PAGOS_CUN.PPT_CUN_RESPUESTA_PAGO RPp
                        ON RPp.REFERENCIA = D.REFERENCIA
                       AND RPp.SECUENCIA  = D.SECUENCIA
            LEFT   JOIN PORTAL_PAGOS_CUN.PPT_CUN_NOMBRE_FRANQUICIA_PAGO P
                        ON P.FRANQUICIA = RPp.FRANCHISE
            WHERE
                -- Periodos históricos 2020-2025: para carga inicial idempotente
                SUBSTR(rp.PERIODO, 1, 2) IN (''24'', ''25'')
             OR SUBSTR(rp.PERIODO, 1, 4) IN (
                    ''2020'', ''2021'', ''2022'', ''2023'', ''2024'', ''2025''
                )
             OR
                -- Periodo actual: todos los registros del año en curso
                -- independientemente del periodo académico
                SUBSTR(rp.PERIODO, 1, 2) IN (@P_ANIO_ACTUAL_CORTO)
             OR SUBSTR(rp.PERIODO, 1, 4) IN (@P_ANIO_ACTUAL_LARGO)
        ';

        -- Inyecta el año actual en formato corto y largo
        SET @OracleSQL = REPLACE(@OracleSQL, '@P_ANIO_ACTUAL_CORTO', '''' + @PeriodoCarga + '''');
        SET @OracleSQL = REPLACE(@OracleSQL, '@P_ANIO_ACTUAL_LARGO', '''20' + @PeriodoCarga + '''');
        SET @TSQL      = N'SELECT * INTO ##Stg_Recaudo_Medios FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        EXEC(@TSQL);


        -- ======================================================
        -- FASE I · PASO 5/8: STAGING – DETALLE DE CARTERA
        -- ======================================================
        RAISERROR('>>> [5/8] STAGING: Extrayendo Cartera (24+25+26 para carga historica)...', 0, 1) WITH NOWAIT;

        DROP TABLE IF EXISTS ##Stg_Detalle_Cartera;

        -- Extrae el estado de financiación de cada alumno: cuotas, deuda, valor programa, etc.
        -- FIX: TO_CHAR en IDENTIFICACION, ORDEN_MATRICULA y ORDEN_CUOTA_INICIAL
        --      para evitar notación científica en números largos.
        SET @OracleSQL = N'
            SELECT
                TO_CHAR(v.IDENTIFICACION)               AS IDENTIFICACION,
                v.PERIODO,
                MAX(v.NOMBRE)                           AS NOMBRE,
                TO_CHAR(v.ORDEN_MATRICULA)              AS ORDEN_MATRICULA,
                MAX(v.DOCUMENTO_MATRICULA)              AS DOCUMENTO_MATRICULA,
                MAX(v.NUMERO_TOTAL_CUOTAS)              AS NUMERO_TOTAL_CUOTAS,
                MAX(v.CUOTAS_PAGADAS)                   AS CUOTAS_PAGADAS,
                MAX(TO_CHAR(v.ORDEN_CUOTA_INICIAL))     AS ORDEN_CUOTA_INICIAL,
                MAX(v.DOCUMENTO_CUOTA_INICIAL)          AS DOCUMENTO_CUOTA_INICIAL,
                MAX(v.VALOR_CUOTA_INICIAL)              AS VALOR_CUOTA_INICIAL,
                MAX(v.DEUDA_CUOTA_INICIAL)              AS DEUDA_CUOTA_INICIAL,
                MAX(v.VALOR_FINANCIACION)               AS VALOR_FINANCIACION,
                MAX(v.VALOR_PROGRAMA)                   AS VALOR_PROGRAMA,
                SUM(v.VALOR_CUOTA)                      AS VALOR_CUOTA_TOTAL,
                SUM(v.VALOR_PAGADO_CUOTA)               AS VALOR_PAGADO_TOTAL,
                SUM(v.DEUDA_CUOTA)                      AS DEUDA_CUOTA_TOTAL,
                MAX(v.DEUDA_FINANCIACION)               AS DEUDA_FINANCIACION
            FROM   iceberg.v_valores_cartera_financiacion v
            WHERE  v.PERIODO IN (@P_LISTA)
            GROUP  BY v.IDENTIFICACION,
                      v.PERIODO,
                      v.ORDEN_MATRICULA
        ';

        SET @OracleSQL = REPLACE(@OracleSQL, '@P_LISTA', @ListaPeriodosTotal);
        SET @TSQL      = N'SELECT * INTO ##Stg_Detalle_Cartera FROM OPENQUERY([172.16.1.175], ''' + REPLACE(@OracleSQL, '''', '''''') + ''')';
        EXEC(@TSQL);


        -- ======================================================
        -- FASE II · PASO 6/8: ACTUALIZACIÓN TRANSACCIONAL
        --          DE TABLAS LOCALES
        -- ======================================================
        RAISERROR('>>> [6/8] FASE II: Actualizando tablas locales...', 0, 1) WITH NOWAIT;

        BEGIN TRANSACTION

            -- --------------------------------------------------
            -- 6a. Órdenes Financieras: refresh del periodo actual
            -- --------------------------------------------------

            -- Elimina los registros del periodo a cargar antes de reinsertarlos
            DELETE FROM Financiera.Ordenes_Financieras_con_descuento
            WHERE  PERIODO IN (
                SELECT COD_PERIODO
                FROM   Financiera.periodos_historico
                WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                    OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
            );

            -- Inserta los datos frescos extraídos desde Oracle
            INSERT INTO Financiera.Ordenes_Financieras_con_descuento (
                IDENTIFICACION, NOMBRE, PERIODO, ORDEN, DOCUMENTO,
                CONCEPTO_MAT, VALOR_MAT, CONCEPTO_IDIOMAS, VALOR_IDIOMAS,
                CONCEPTO_SERVICIO_MED, VALOR_SERVICIO_MED, CONCEPTO_BONO_SOL,
                VALOR_BONO_SOL, OTROS_DESCUENTOS, GRUPO, DESCRIPCION_GRUPO,
                DESCUENTO_PRONTO_PAGO, VAL_BECDTOS, ORDEN_NETA, VALOR_2x1,
                fecha_actualizacion
            )
            SELECT
                IDENTIFICACION, NOMBRE, PERIODO, ORDEN, DOCUMENTO,
                CONCEPTO_MAT, VALOR_MAT, CONCEPTO_IDIOMAS, VALOR_IDIOMAS,
                CONCEPTO_SERVICIO_MED, VALOR_SERVICIO_MED, CONCEPTO_BONO_SOL,
                VALOR_BONO_SOL, OTROS_DESCUENTOS, GRUPO, DESCRIPCION_GRUPO,
                DESCUENTO_PRONTO_PAGO, VAL_BECDTOS, ORDEN_NETA, VALOR_2x1,
                GETDATE()
            FROM   #Stg_Ordenes_Financieras;


            -- --------------------------------------------------
            -- 6b. Descuentos: refresh del periodo actual
            -- --------------------------------------------------

            -- Elimina los descuentos del periodo a cargar antes de reinsertarlos
            DELETE FROM Financiera.DESCUENTOS
            WHERE  PERIODO IN (
                SELECT COD_PERIODO
                FROM   Financiera.periodos_historico
                WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                    OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
            );

            -- Inserta descuentos y perfil completo del alumno desde el staging.
            -- FIX: usa ORDEN_STR (en lugar de ORDEN directa) para evitar notación científica.
            INSERT INTO FINANCIERA.DESCUENTOS (
                PERIODO, TIP_IDENTIFICACION, DOC_ALUM, ID_TERCERO,
                NOM_TERCERO, SEG_NOMBRE, PRI_APELLIDO, SEG_APELLIDO,
                CLIENTE, EST_PAG_ACA, EST_PAG_FINANCIERO, FEC_CRE_ACAD,
                FEC_FINAN, FEC_NAC, FEC_EXP, GEN_TERCERO,
                DIRECCION_CASA, EMAIL, EMAIL_PER, TEL_CASA, TEL_CELULAR,
                COD_SEDE, SEDE, COD_SECC, SECCIONAL, COD_MODA, MODALIDAD,
                COD_UNI, NOM_UNIDAD, COD_PROGRAMA, NOM_PROGRAMA, PENSUM,
                COD_NIVEL, NIVEL, COD_TIPO, TIPO, ID_JORNADA, NOM_JORNADA,
                NUEVO, TIP_INSCR, CLASE_ACTUAL, PERIODO_ULT_PAGO, NOMCENCOS,
                FONDO, NOMBRE_FONDO, DOCUMENTO, ORDEN,
                GRUPO_FACTURACION, DESCRIPCION_GRUPO, PRODUCTO, FUENTE,
                REF_LIQUIDACION, VALOR_ORDEN, VAL_LIQUIDADO, VAL_PAGADO,
                RECARGO, ADICIONALES, VAL_PAGO_DIRECTO, SALDO_FAVOR,
                VAL_CREDITO, VAL_ICETEX, VAL_CONTRATOS, VAL_BECDTOS,
                VAL_OTRAS_NCR, FEC_PAGO_LIQ, NCR_ANULACION, SEMESTRE_SINU,
                SEMESTRE_CALCULADO, CREDITOS_ORDEN, UBICACION,
                USU_CREA, USU_ACTU, GRU_EDUCONT,
                FEC_RECIBO, FEC_SIGUIENTE, FEC_ANTERIOR, FORMULARIO,
                VAL_TARJETA_DEBITO, VAL_TARJETA_CREDITO, VAL_PAGO_BANCO,
                VAL_EFECTIVO, VAL_PLACE, VAL_2X1, fecha_actualizacion
            )
            SELECT
                PERIODO, TIP_IDENTIFICACION, DOC_ALUM, ID_TERCERO,
                NOM_TERCERO, SEG_NOMBRE, PRI_APELLIDO, SEG_APELLIDO,
                CLIENTE, EST_PAG_ACA, EST_PAG_FINANCIERO, FEC_CRE_ACAD,
                fec_finan_char, FEC_NAC, fec_exp_char, gen_tercero,
                DIRECCION_CASA, EMAIL_B, email_per_calc, TEL_CASA, TEL_CELULAR,
                COD_SEDE, SEDE, COD_SECC, SECCIONAL, COD_MODA, MODALIDAD,
                COD_UNI, nom_unidad, COD_PROGRAMA, NOM_PROGRAMA, PENSUM,
                COD_NIVEL, Nivel, COD_TIPO, tipo, ID_JORNADA, nom_jornada,
                NUEVO, TIP_INSCR, CLASE_ACTUAL, PERIODO_ULT_PAGO, NomCencos,
                FONDO, nombre_fondo, DOCUMENTO, ORDEN_STR,
                grupo_facturacion, DESCRIPCION_GRUPO_CALC, PRODUCTO, FUENTE,
                REF_LIQUIDACION, VALOR_ORDEN, val_liquidado, VAL_PAGADO,
                RECARGO, ADICIONALES, VAL_PAGO_DIRECTO, SALDO_FAVOR,
                VAL_CREDITO, VAL_ICETEX, VAL_CONTRATOS, VAL_BECDTOS,
                VAL_OTRAS_NCR, fec_pago_liq, NCR_ANULACION_CALC, SEMESTRE,
                semestre_calculado, creditos_orden, UBICACION,
                USU_CREA, USU_ACTU, GRU_EDUCONT,
                fec_recibo_char, fec_siguiente_char, fec_anterior_char, formulario,
                VAL_TARJETA_DEBITO, VAL_TARJETA_CREDITO, VAL_PAGO_BANCO,
                VAL_EFECTIVO, VAL_PLACE, VAL_2X1_CALC, GETDATE()
            FROM   ##Stg_Descuentos;


            -- --------------------------------------------------
            -- 6c. Recaudo medios de pago
            --     Estrategia APPEND-ONLY (tabla nunca se borra):
            --
            --     · CARGA INICIAL (2020-2025):
            --       Si el periodo NO tiene ningún registro en destino
            --       → INSERT completo de ese periodo (carga única)
            --       Si ya tiene registros → omite (idempotente)
            --
            --     · REFRESH DIARIO (ANO_PAGO = año en curso):
            --       Por cada fila del staging con ANO_PAGO = YEAR(GETDATE())
            --       → INSERT solo si no existe por clave (CLIENTE, PERIODO, NUMERO)
            --       Captura pagos nuevos del día, incluyendo pagos tardíos
            --       de periodos históricos registrados en el año actual
            -- --------------------------------------------------

            -- CARGA INICIAL (2020-2025):
            -- Detecta automáticamente si el periodo ya fue cargado.
            -- Condición: periodo histórico Y no existe aún en destino Y fila no duplicada.
            INSERT INTO Financiera.recaudo_medios_pago (
                CLIENTE, PERIODO, NUMERO, FECHA_DE_PAGO,
                VALOR, CAJA, NOMBRE, DESCRIPCION, NOMBRE_CAJA,
                ANO_PAGO, fecha_actualizacion
            )
            SELECT
                stg.CLIENTE, stg.PERIODO, stg.NUMERO, stg.FECHA_DE_PAGO,
                stg.VALOR, stg.CAJA, stg.NOMBRE_FRANQUICIA, stg.DESCRIPCION,
                stg.NOMBRE_CAJA,
                -- Calcula ANO_PAGO en SQL Server con estilo 103 (DD/MM/YYYY)
                -- para manejar correctamente el formato que viene desde Oracle
                YEAR(TRY_CONVERT(DATE, stg.FECHA_DE_PAGO, 103)),
                GETDATE()
            FROM   ##Stg_Recaudo_Medios stg
            WHERE
                -- Solo periodos históricos (no el año actual)
                YEAR(TRY_CONVERT(DATE, stg.FECHA_DE_PAGO, 103)) < YEAR(GETDATE())
              AND
                -- Solo si ese periodo aún no tiene ningún registro en destino
                NOT EXISTS (
                    SELECT 1
                    FROM   Financiera.recaudo_medios_pago d
                    WHERE  d.PERIODO = stg.PERIODO
                )
              AND
                -- Solo filas que no existan por clave natural (idempotente)
                NOT EXISTS (
                    SELECT 1
                    FROM   Financiera.recaudo_medios_pago d
                    WHERE  d.CLIENTE = stg.CLIENTE
                      AND  d.PERIODO = stg.PERIODO
                      AND  d.NUMERO  = stg.NUMERO
                );

            -- REFRESH DIARIO (ANO_PAGO = año en curso):
            -- Inserta pagos nuevos del año actual para cualquier periodo académico.
            -- Incluye pagos tardíos de periodos históricos registrados este año.
            -- Solo inserta filas nuevas → tabla append-only garantizada.
            INSERT INTO Financiera.recaudo_medios_pago (
                CLIENTE, PERIODO, NUMERO, FECHA_DE_PAGO,
                VALOR, CAJA, NOMBRE, DESCRIPCION, NOMBRE_CAJA,
                ANO_PAGO, fecha_actualizacion
            )
            SELECT
                stg.CLIENTE, stg.PERIODO, stg.NUMERO, stg.FECHA_DE_PAGO,
                stg.VALOR, stg.CAJA, stg.NOMBRE_FRANQUICIA, stg.DESCRIPCION,
                stg.NOMBRE_CAJA,
                -- Calcula ANO_PAGO con estilo 103 (DD/MM/YYYY)
                YEAR(TRY_CONVERT(DATE, stg.FECHA_DE_PAGO, 103)),
                GETDATE()
            FROM   ##Stg_Recaudo_Medios stg
            WHERE
                -- Solo registros con FECHA_DE_PAGO en el año en curso
                YEAR(TRY_CONVERT(DATE, stg.FECHA_DE_PAGO, 103)) = YEAR(GETDATE())
              AND
                -- Solo filas que no existan por clave natural (append-only idempotente)
                NOT EXISTS (
                    SELECT 1
                    FROM   Financiera.recaudo_medios_pago d
                    WHERE  d.CLIENTE = stg.CLIENTE
                      AND  d.PERIODO = stg.PERIODO
                      AND  d.NUMERO  = stg.NUMERO
                );


            -- --------------------------------------------------
            -- 6d. Detalle de cartera
            --     · Periodo actual (26)  → siempre DELETE + INSERT (refresh)
            --     · Históricos (24, 25)  → INSERT solo si no existe por
            --       clave (IDENTIFICACION, PERIODO, ORDEN_MATRICULA)
            -- --------------------------------------------------

            -- Elimina el detalle de cartera del periodo actual para refresh
            DELETE FROM Financiera.detalle_cartera
            WHERE  PERIODO IN (
                SELECT COD_PERIODO
                FROM   Financiera.periodos_historico
                WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                    OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
            );

            -- Inserta el detalle de cartera fresco del periodo actual
            INSERT INTO Financiera.detalle_cartera (
                PERIODO, IDENTIFICACION, NOMBRE,
                ORDEN_MATRICULA, DOCUMENTO_MATRICULA,
                NUMERO_TOTAL_CUOTAS, CUOTAS_PAGADAS,
                ORDEN_CUOTA_INICIAL, DOCUMENTO_CUOTA_INICIAL,
                VALOR_CUOTA_INICIAL, DEUDA_CUOTA_INICIAL,
                VALOR_FINANCIACION, VALOR_PROGRAMA,
                VALOR_CUOTA_TOTAL, VALOR_PAGADO_TOTAL,
                DEUDA_CUOTA_TOTAL, DEUDA_FINANCIACION,
                fecha_actualizacion
            )
            SELECT
                PERIODO, IDENTIFICACION, NOMBRE,
                ORDEN_MATRICULA, DOCUMENTO_MATRICULA,
                NUMERO_TOTAL_CUOTAS, CUOTAS_PAGADAS,
                ORDEN_CUOTA_INICIAL, DOCUMENTO_CUOTA_INICIAL,
                VALOR_CUOTA_INICIAL, DEUDA_CUOTA_INICIAL,
                VALOR_FINANCIACION, VALOR_PROGRAMA,
                VALOR_CUOTA_TOTAL, VALOR_PAGADO_TOTAL,
                DEUDA_CUOTA_TOTAL, DEUDA_FINANCIACION,
                GETDATE()
            FROM   ##Stg_Detalle_Cartera
            WHERE  PERIODO IN (
                SELECT COD_PERIODO
                FROM   Financiera.periodos_historico
                WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                    OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
            );

            -- Históricos (24, 25): INSERT a nivel de fila,
            -- solo registros que no existan por (IDENTIFICACION, PERIODO, ORDEN_MATRICULA)
            INSERT INTO Financiera.detalle_cartera (
                PERIODO, IDENTIFICACION, NOMBRE,
                ORDEN_MATRICULA, DOCUMENTO_MATRICULA,
                NUMERO_TOTAL_CUOTAS, CUOTAS_PAGADAS,
                ORDEN_CUOTA_INICIAL, DOCUMENTO_CUOTA_INICIAL,
                VALOR_CUOTA_INICIAL, DEUDA_CUOTA_INICIAL,
                VALOR_FINANCIACION, VALOR_PROGRAMA,
                VALOR_CUOTA_TOTAL, VALOR_PAGADO_TOTAL,
                DEUDA_CUOTA_TOTAL, DEUDA_FINANCIACION,
                fecha_actualizacion
            )
            SELECT
                stg.PERIODO, stg.IDENTIFICACION, stg.NOMBRE,
                stg.ORDEN_MATRICULA, stg.DOCUMENTO_MATRICULA,
                stg.NUMERO_TOTAL_CUOTAS, stg.CUOTAS_PAGADAS,
                stg.ORDEN_CUOTA_INICIAL, stg.DOCUMENTO_CUOTA_INICIAL,
                stg.VALOR_CUOTA_INICIAL, stg.DEUDA_CUOTA_INICIAL,
                stg.VALOR_FINANCIACION, stg.VALOR_PROGRAMA,
                stg.VALOR_CUOTA_TOTAL, stg.VALOR_PAGADO_TOTAL,
                stg.DEUDA_CUOTA_TOTAL, stg.DEUDA_FINANCIACION,
                GETDATE()
            FROM   ##Stg_Detalle_Cartera stg
            WHERE  stg.PERIODO NOT IN (
                       SELECT COD_PERIODO
                       FROM   Financiera.periodos_historico
                       WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                           OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
                   )
              AND  NOT EXISTS (
                       SELECT 1
                       FROM   Financiera.detalle_cartera d
                       WHERE  d.IDENTIFICACION  = stg.IDENTIFICACION
                         AND  d.PERIODO         = stg.PERIODO
                         AND  d.ORDEN_MATRICULA = stg.ORDEN_MATRICULA
                   );

        COMMIT TRANSACTION

        -- Captura sumas del staging ANTES de eliminar las tablas temporales
        -- para comparar contra lo que quedó materializado en las tablas destino
        SELECT @suma_orden_neta_stg         = SUM(ORDEN_NETA)
        FROM   #Stg_Ordenes_Financieras;

        SELECT @suma_orden_neta_mat         = SUM(ORDEN_NETA)
        FROM   Financiera.Ordenes_Financieras_con_descuento
        WHERE  PERIODO LIKE @PeriodoCarga + '%'
            OR PERIODO LIKE '20' + @PeriodoCarga + '%';

        SELECT @suma_val_2x1_stg            = SUM(VAL_2X1_CALC)
        FROM   ##Stg_Descuentos;

        SELECT @suma_val_2x1_mat            = SUM(VAL_2X1)
        FROM   Financiera.DESCUENTOS
        WHERE  PERIODO LIKE @PeriodoCarga + '%'
            OR PERIODO LIKE '20' + @PeriodoCarga + '%';

        SELECT @suma_valor_financiacion_stg = SUM(TRY_CAST(VALOR_FINANCIACION AS DECIMAL(18,2)))
        FROM   ##Stg_Detalle_Cartera;

        SELECT @suma_valor_financiacion_mat = SUM(TRY_CAST(VALOR_FINANCIACION AS DECIMAL(18,2)))
        FROM   Financiera.detalle_cartera
        WHERE  PERIODO LIKE @PeriodoCarga + '%'
            OR PERIODO LIKE '20' + @PeriodoCarga + '%';

        -- Libera las tablas globales temporales una vez capturadas las sumas
        DROP TABLE IF EXISTS ##Stg_Descuentos;
        DROP TABLE IF EXISTS ##Stg_Recaudo_Medios;
        DROP TABLE IF EXISTS ##Stg_Detalle_Cartera;


        -- ======================================================
        -- FASE III · PASO 7/8: CRUCE CON ZOHO CRM
        -- ======================================================
        RAISERROR('>>> [7/8] FASE III: Cruzando con Zoho...', 0, 1) WITH NOWAIT;

        DROP TABLE IF EXISTS #ZOHO_FILTRADO;

        -- Filtra la base comercial de Zoho: solo alumnos que pagaron,
        -- están activos/egresados/graduados y tienen documentos FAMA o FECO.
        -- Normaliza DOC_ALUM y ORDEN a VARCHAR para el JOIN posterior.
        SELECT
            CAST(TRY_CAST(DOC_ALUM AS BIGINT) AS VARCHAR(50))  AS DOC_ALUM_JOIN,
            CAST(TRY_CAST(ORDEN    AS BIGINT) AS VARCHAR(50))  AS ORDEN_JOIN,
            *
        INTO   #ZOHO_FILTRADO
        FROM   Zoho.Base_Personas
        WHERE  PERIODO IN (
                   SELECT COD_PERIODO
                   FROM   Financiera.periodos_historico
                   WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                       OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
               )
          AND  ESTADO_PAGO_DATA  = 'PAGO'
          AND  EST_MATRICULADO   IN ('1-Activo', '2-Egresado', '3-Graduado')
          AND  DOCUMENTO         IN ('FAMA', 'FECO');

        -- Índice para acelerar el cruce con las tablas financieras
        CREATE INDEX IX_ZOHO_DOC_ORDEN ON #ZOHO_FILTRADO (DOC_ALUM_JOIN, ORDEN_JOIN);

        DROP TABLE IF EXISTS #VENTAS_CON_ORDENES_FINAL;

        -- Cruza Zoho con Descuentos, Órdenes Financieras y Cartera Total.
        -- Calcula el ORDEN_NETO según si aplica beneficio 2x1 o no.
        -- Normaliza FuerzaComercialFinal: alumnos antiguos → 'PERMANENCIA'.
        -- Normaliza TIP_INSCR: NULL → 'Normal', 'OTRA' → 'Reconocimiento de titulo'.
        SELECT DISTINCT
            A.DOC_ALUM_JOIN                                        AS Documento_Estudiante_zoho,
            A.PERIODO                                              AS PERIODO_ORIGEN,
            A.PERIODO_DATA                                         AS PERIODO,
            A.TIPO_ALUM_DATA                                       AS NUEVO,
            DBO.NORMALIZAR(
                CASE WHEN TIPO_ALUM_DATA = 'ANTIGUO'
                     THEN 'PERMANENCIA'
                     ELSE A.Fuerza_Comercial_data
                END
            )                                                      AS FuerzaComercialFinal,
            A.ESTADO_PAGO_DATA                                     AS ESTADO_PAGO,
            A.EST_MATRICULADO,
            A.seccional                                            AS SECCIONAL,
            A.SEDE,
            A.COD_UNI,
            A.PROGRAMA,
            A.NOM_PROGRAMA,
            A.DOCUMENTO,
            A.MODALIDAD,
            A.Ciudad,
            A.ORDEN_JOIN                                           AS ORDEN,
            A.NIVEL,
            A.CONVENIO                                             AS NOMBRE_DE_CONVENIO,
            A.CLASE_ACTUAL,
            A.TIPO_PRODUCTO,
            A.Clase_actual_data,
            A.Usuario_crea,
            A.usuarioorigen,
            A.nomusuarioorigen,
            A.Campaña,
            B.VALOR_ORDEN,
            B.ADICIONALES,
            B.VAL_BECDTOS,
            B.VAL_OTRAS_NCR,
            B.VAL_2X1,
            C.VALOR_IDIOMAS                                        AS Valor_ingles,
            CASE
                WHEN COALESCE(B.VAL_2x1, 0) > 0
                    THEN   COALESCE(B.VALOR_ORDEN,    0)
                         + COALESCE(B.ADICIONALES,    0)
                         + COALESCE(C.VALOR_IDIOMAS,  0)
                         - COALESCE(B.VAL_2x1,        0)
                ELSE       COALESCE(B.VALOR_ORDEN,    0)
                         + COALESCE(B.ADICIONALES,    0)
                         + COALESCE(C.VALOR_IDIOMAS,  0)
                         + COALESCE(B.VAL_BECDTOS,    0)
            END                                                    AS ORDEN_NETO,
            A.lat                                                  AS LATITUD,
            A.lon                                                  AS LONGITUD,
            A.ciudad                                               AS CIUDAD_GEOLOCALIZADA,
            A.departamento                                         AS DEPARTAMENTO_GEOLOCALIZADO,
            A.localidad                                            AS LOCALIDAD_GEOLOCALIZADA,
            D.CARTERA_ESTUDIANTE,
            CASE
                WHEN NULLIF(LTRIM(RTRIM(A.TIP_INSCR)), '') IS NULL
                    THEN 'Normal'
                WHEN UPPER(LTRIM(RTRIM(A.TIP_INSCR))) = 'OTRA'
                    THEN 'Reconocimiento de titulo'
                ELSE LTRIM(RTRIM(A.TIP_INSCR))
            END                                                    AS TIP_INSCR
        INTO   #VENTAS_CON_ORDENES_FINAL
        FROM   #ZOHO_FILTRADO A
        LEFT   JOIN Financiera.Descuentos B
                    ON  A.DOC_ALUM_JOIN = B.DOC_ALUM
                    AND A.PERIODO       = B.PERIODO
                    AND A.DOCUMENTO     = B.DOCUMENTO
                    AND A.ORDEN_JOIN    = B.ORDEN
        LEFT   JOIN Financiera.Ordenes_Financieras_con_descuento C
                    ON  A.DOC_ALUM_JOIN = C.IDENTIFICACION
                    AND A.PERIODO       = C.PERIODO
                    AND A.DOCUMENTO     = C.DOCUMENTO
                    AND A.ORDEN_JOIN    = C.ORDEN
        LEFT   JOIN (
                    -- Subconsulta: cartera vigente por estudiante (solo documentos NDB)
                    SELECT
                        CAST(IDENTIFICACION AS VARCHAR(50))         AS IDENTIFICACION,
                        PERIODO,
                        SUM(TRY_CAST(TOTAL AS DECIMAL(18,2)))       AS CARTERA_ESTUDIANTE
                    FROM   Financiera.Cartera_Total
                    WHERE  DOCUMENTO = 'NDB'
                    GROUP  BY IDENTIFICACION, PERIODO
                   ) D
                    ON  A.DOC_ALUM_JOIN = D.IDENTIFICACION
                    AND A.PERIODO       = D.PERIODO;

        -- Índice para acelerar el INSERT final hacia RESULTADO_INGRESOXPERIODO_FINAL
        CREATE INDEX IX_VENTAS_JOIN ON #VENTAS_CON_ORDENES_FINAL (Documento_Estudiante_zoho);


        -- ======================================================
        -- FASE IV · PASO 8/8: CONSOLIDACIÓN DEL RESULTADO FINAL
        -- ======================================================
        RAISERROR('>>> [8/8] FASE IV: Consolidando Resultado Final...', 0, 1) WITH NOWAIT;

        BEGIN TRANSACTION

            -- Elimina el resultado previo del periodo a cargar
            DELETE FROM FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL
            WHERE  PERIODO IN (
                SELECT COD_PERIODO
                FROM   Financiera.periodos_historico
                WHERE  COD_PERIODO LIKE @PeriodoCarga + '%'
                    OR COD_PERIODO LIKE '20' + @PeriodoCarga + '%'
            );

            -- CTE: agrupa el recaudo por estudiante y periodo,
            -- concatenando franquicia y caja (máx. 50 caracteres)
            WITH Recibos_Agrupados AS (
                SELECT
                    CLIENTE,
                    PERIODO,
                    SUM(VALOR)                                                   AS VALOR_RECAUDO,
                    CAST(LEFT(STRING_AGG(NOMBRE,      ' - '), 50) AS VARCHAR(50)) AS NOMBRE_FRANQUICIA,
                    CAST(LEFT(STRING_AGG(NOMBRE_CAJA, ' - '), 50) AS VARCHAR(50)) AS NOMBRE_CAJA
                FROM   Financiera.recaudo_medios_pago
                GROUP  BY CLIENTE, PERIODO
            )
            -- Inserta el resultado final: ventas Zoho + financiero Oracle
            -- + recaudo agrupado + detalle de cartera por financiación
            INSERT INTO FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL (
                Documento_Estudiante_zoho, PERIODO_ORIGEN, PERIODO,
                NUEVO, FuerzaComercialFinal, ESTADO_PAGO, EST_MATRICULADO,
                SECCIONAL, SEDE, COD_UNI, PROGRAMA, NOM_PROGRAMA,
                DOCUMENTO, MODALIDAD, Ciudad, ORDEN, NIVEL,
                NOMBRE_DE_CONVENIO, CLASE_ACTUAL, TIPO_PRODUCTO,
                Clase_actual_data, Usuario_crea, usuarioorigen,
                nomusuarioorigen, Campaña, VALOR_ORDEN, ADICIONALES,
                VAL_BECDTOS, VAL_OTRAS_NCR, VAL_2X1, Valor_ingles,
                ORDEN_NETO, LATITUD, LONGITUD, CIUDAD_GEOLOCALIZADA,
                DEPARTAMENTO_GEOLOCALIZADO, LOCALIDAD_GEOLOCALIZADA,
                CARTERA_ESTUDIANTE, VALOR_RECAUDO, NOMBRE_FRANQUICIA,
                NOMBRE_CAJA, TIP_INSCR, VALOR_CUOTA_INICIAL,
                VALOR_FINANCIACION
            )
            SELECT
                a.Documento_Estudiante_zoho,
                a.PERIODO_ORIGEN,
                a.PERIODO,
                a.NUEVO,
                CAST(LEFT(a.FuerzaComercialFinal, 50) AS VARCHAR(50)),
                a.ESTADO_PAGO,
                a.EST_MATRICULADO,
                a.SECCIONAL,
                a.SEDE,
                a.COD_UNI,
                a.PROGRAMA,
                a.NOM_PROGRAMA,
                a.DOCUMENTO,
                a.MODALIDAD,
                a.Ciudad,
                a.ORDEN,
                a.NIVEL,
                a.NOMBRE_DE_CONVENIO,
                a.CLASE_ACTUAL,
                a.TIPO_PRODUCTO,
                a.Clase_actual_data,
                a.Usuario_crea,
                a.usuarioorigen,
                a.nomusuarioorigen,
                a.Campaña,
                a.VALOR_ORDEN,
                a.ADICIONALES,
                a.VAL_BECDTOS,
                a.VAL_OTRAS_NCR,
                a.VAL_2X1,
                a.Valor_ingles,
                a.ORDEN_NETO,
                a.LATITUD,
                a.LONGITUD,
                a.CIUDAD_GEOLOCALIZADA,
                a.DEPARTAMENTO_GEOLOCALIZADO,
                a.LOCALIDAD_GEOLOCALIZADA,
                a.CARTERA_ESTUDIANTE,
                b.VALOR_RECAUDO,
                b.NOMBRE_FRANQUICIA,
                b.NOMBRE_CAJA,
                CAST(LEFT(a.TIP_INSCR, 20) AS VARCHAR(20)),
                dc.VALOR_CUOTA_INICIAL,
                dc.VALOR_FINANCIACION
            FROM   #VENTAS_CON_ORDENES_FINAL a
            LEFT   JOIN Recibos_Agrupados b
                        ON  a.Documento_Estudiante_zoho = b.CLIENTE
                        AND a.PERIODO                   = b.PERIODO
            LEFT   JOIN Financiera.detalle_cartera dc
                        ON  a.Documento_Estudiante_zoho = dc.IDENTIFICACION
                        AND a.ORDEN                     = dc.ORDEN_MATRICULA
                        AND a.PERIODO                   = dc.PERIODO;

        COMMIT TRANSACTION

    END TRY


    -- ==========================================================
    -- BLOQUE DE CONTROL DE ERRORES
    -- ==========================================================
    BEGIN CATCH

        SET @err_mensaje   = ERROR_MESSAGE();
        SET @err_linea     = ERROR_LINE();
        SET @err_severidad = ERROR_SEVERITY();

        -- Deshace cualquier transacción abierta si hubo error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Registra el error en el log.
        -- LEFT(..., 2000) previene error 8152 si el mensaje excede VARCHAR(2000).
        INSERT INTO Financiera.LOG_Usp_Ejecucion_PDN2025 (
            sp_nombre,
            filas_ordenes_antes,    filas_descuentos_antes,
            filas_resultado_antes,  duracion_seg,
            estado,                 mensaje,
            periodo_ejecutado
        )
        VALUES (
            'Usp_Ejecucion_PDN2025',
            @filas_ordenes_pre,
            @filas_descuentos_pre,
            @filas_resultado_pre,
            DATEDIFF(SECOND, @inicio, GETDATE()),
            'ERROR',
            LEFT('Linea: ' + CAST(@err_linea AS VARCHAR) + ' | ' + @err_mensaje, 2000),
            @PeriodoCarga
        );

        -- Relanza el error con su severidad original
        RAISERROR('%s', @err_severidad, 1, @err_mensaje);
        RETURN;

    END CATCH


    -- ==========================================================
    -- AUDITORÍA DE CIERRE (EJECUCIÓN EXITOSA)
    -- ==========================================================

    -- Captura volumetrías POST-ejecución para comparar contra el baseline
    SELECT @filas_ordenes_post    = COUNT(*)
    FROM   Financiera.Ordenes_Financieras_con_descuento
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';

    SELECT @filas_descuentos_post = COUNT(*)
    FROM   Financiera.DESCUENTOS
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';

    SELECT @filas_resultado_post  = COUNT(*)
    FROM   FINANCIERA.RESULTADO_INGRESOXPERIODO_FINAL
    WHERE  PERIODO LIKE @PeriodoCarga + '%'
        OR PERIODO LIKE '20' + @PeriodoCarga + '%';

    SET @duracion_seg = DATEDIFF(SECOND, @inicio, GETDATE());

    -- Registra la ejecución exitosa con todas las métricas comparativas
    INSERT INTO Financiera.LOG_Usp_Ejecucion_PDN2025 (
        sp_nombre,
        filas_ordenes_antes,    filas_ordenes_despues,
        filas_descuentos_antes, filas_descuentos_despues,
        filas_resultado_antes,  filas_resultado_despues,
        duracion_seg,           estado,                  mensaje,
        periodo_ejecutado,
        suma_orden_neta_stg,    suma_orden_neta_mat,     diff_orden_neta,
        suma_val_2x1_stg,       suma_val_2x1_mat,        diff_val_2x1,
        suma_valor_financiacion_stg, suma_valor_financiacion_mat, diff_valor_financiacion
    )
    VALUES (
        'Usp_Ejecucion_PDN2025',
        @filas_ordenes_pre,    @filas_ordenes_post,
        @filas_descuentos_pre, @filas_descuentos_post,
        @filas_resultado_pre,  @filas_resultado_post,
        @duracion_seg,
        'OK',
        'Ejecucion exitosa. Duracion: ' + CAST(@duracion_seg AS VARCHAR) + 's',
        @PeriodoCarga,
        @suma_orden_neta_stg,
        @suma_orden_neta_mat,
        @suma_orden_neta_stg - @suma_orden_neta_mat,
        @suma_val_2x1_stg,
        @suma_val_2x1_mat,
        @suma_val_2x1_stg - @suma_val_2x1_mat,
        @suma_valor_financiacion_stg,
        @suma_valor_financiacion_mat,
        @suma_valor_financiacion_stg - @suma_valor_financiacion_mat
    );

    RAISERROR('>>> SP finalizado OK. Duracion: %d segundos.', 0, 1, @duracion_seg) WITH NOWAIT;

END
