USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]    Script Date: 6/04/2026 12:40:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor: [Johan Santamaria]
-- Fecha de Creación: [27-05-2025]
-- Descripción: Stored Procedure para procesar información de financiación con datos académicos
-- Versión: 1.0
-- =============================================

ALTER PROCEDURE [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]
    @Debug BIT = 0           -- 1 para mostrar mensajes de debug
AS
BEGIN
    SET NOCOUNT ON;
    
INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
SELECT db_name(),user_name(),'Inicio USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @RowCount INT;

    BEGIN TRY
        
        -- =============================================
        -- PASO 1: VALIDACIONES INICIALES
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Iniciando proceso de financiación con información académica...';

        -- =============================================
        -- PASO 2: ELIMINAR Y RECREAR TABLA PRINCIPAL SIEMPRE
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Eliminando tabla principal si existe...';
            
        -- Eliminar tabla si existe
        IF OBJECT_ID('CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA', 'U') IS NOT NULL
        BEGIN
            DROP TABLE CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA;
            IF @Debug = 1
                PRINT 'Tabla eliminada exitosamente.';
        END
        
        IF @Debug = 1
            PRINT 'Creando tabla principal...';
        
        -- Crear tabla principal siempre
        CREATE TABLE CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA (
            NOMBRES_COMPLETOS_ESTUDIANTE NVARCHAR(255),
            TIPO_PROGRAMA_ESTUDIANTE NVARCHAR(100),
            TIPO_DOCUMENTO_ESTUDIANTE NVARCHAR(50),
            GENERO_ESTUDIANTE NVARCHAR(20),
            NUMERO_DOCUMENTO_ESTUDIANTE NVARCHAR(100),
            EDAD_ESTUDIANTE INT,
            VALOR_MATRICULA DECIMAL(18,2),
            VALOR_FINANCIACION DECIMAL(18,2),
            VALOR_TOTAL_FINANCIACION DECIMAL(18,2),
            VALOR_CUOTA_INICIAL DECIMAL(18,2),
            COSTO_PLATAFORMA DECIMAL(18,2),
            CUOTAS INT,
            VALOR_CUOTA DECIMAL(18,2),
            REFERENCIA_PAGO NVARCHAR(100),
            ORDEN_CUN NVARCHAR(100),
            FECHA_SOLICITUD_CREDITO DATETIME,
            FECHA_APROBACION DATETIME,
            PROGRAMA NVARCHAR(255),
            MODALIDAD NVARCHAR(100),
            REGIONAL NVARCHAR(100),
            ESTADO_PAGO NVARCHAR(50),
            PERIODO NVARCHAR(20),
            FUERZA_COMERCIAL NVARCHAR(20),
            EST_MATRICULADO NVARCHAR(50),
            TIPO NVARCHAR(25),
            NUEVO NVARCHAR(25),
            AÑO_APROBACION INT,
            MES_APROBACION VARCHAR(20),
            DIA_APROBACION INT,
            VALOR_CUOTA_detalle DECIMAL(18,2),
            PAGOS_REALIZADOS DECIMAL(18,2),
            FECHA_PROCESAMIENTO DATETIME DEFAULT GETDATE(),
			lat NVARCHAR(250),
			lon NVARCHAR(250),
			ciudad_geo NVARCHAR(250),
			departamento NVARCHAR(250),
			localidad NVARCHAR(250)
        );
        
        IF @Debug = 1
            PRINT 'Tabla principal creada exitosamente.';

        -- =============================================
        -- PASO 3: CREAR TABLA TEMPORAL
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Creando tabla temporal...';

        -- Eliminar tabla temporal si existe
        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        CREATE TABLE #FINANCIACION_CON_INFO_ACADEMICA (
            NOMBRES_COMPLETOS_ESTUDIANTE NVARCHAR(500),
            TIPO_PROGRAMA_ESTUDIANTE NVARCHAR(200),
            TIPO_DOCUMENTO_ESTUDIANTE NVARCHAR(100),
            GENERO_ESTUDIANTE NVARCHAR(50),
            NUMERO_DOCUMENTO_ESTUDIANTE NVARCHAR(100),
            EDAD_ESTUDIANTE INT,
            VALOR_MATRICULA NVARCHAR(100),
            VALOR_FINANCIACION NVARCHAR(100),
            VALOR_TOTAL_FINANCIACION NVARCHAR(100),
            VALOR_CUOTA_INICIAL NVARCHAR(100),
            COSTO_PLATAFORMA NVARCHAR(100),
            CUOTAS INT,
            VALOR_CUOTA NVARCHAR(100),
            REFERENCIA_PAGO NVARCHAR(100),
            ORDEN_CUN NVARCHAR(100),
            FECHA_REGISTRO_ESTUDIANTE DATETIME,
            FEC_CREACION DATETIME
        );

        -- =============================================
        -- PASO 4: EXTRAER DATOS DEL SERVIDOR REMOTO
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Extrayendo datos del servidor remoto...';

        INSERT INTO #FINANCIACION_CON_INFO_ACADEMICA
        SELECT 
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            CONVERT(NVARCHAR(100), NUMERO_DOCUMENTO_ESTUDIANTE) AS NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            CONVERT(NVARCHAR(100), REFERENCIA_PAGO) AS REFERENCIA_PAGO,
            CONVERT(NVARCHAR(100), ORDEN_CUN) AS ORDEN_CUN,
            FECHA_REGISTRO_ESTUDIANTE,
            FEC_CREACION
        FROM OPENQUERY ([172.16.1.175],
            'SELECT 
                NOMBRES_COMPLETOS_ESTUDIANTE,
                TIPO_PROGRAMA_ESTUDIANTE,
                TIPO_DOCUMENTO_ESTUDIANTE,
                GENERO_ESTUDIANTE,
                CAST(NUMERO_DOCUMENTO_ESTUDIANTE AS VARCHAR(100)) AS NUMERO_DOCUMENTO_ESTUDIANTE,
                EDAD_ESTUDIANTE,
                VALOR_MATRICULA,
                VALOR_FINANCIACION,
                VALOR_TOTAL_FINANCIACION,
                VALOR_CUOTA_INICIAL,
                COSTO_PLATAFORMA,
                CUOTAS,
                VALOR_CUOTA,
                CAST(REFERENCIA_PAGO AS VARCHAR(100)) AS REFERENCIA_PAGO,
                CAST(ORDEN_CUN AS VARCHAR(100)) AS ORDEN_CUN,
                FECHA_REGISTRO_ESTUDIANTE,
                FEC_CREACION
            FROM ICEBERG.CLTIENE_360_RESPUESTA'
        );

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros extraídos: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 5: INSERTAR DATOS EN TABLA PRINCIPAL
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Insertando datos en tabla principal...';

        INSERT INTO CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA (
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            REFERENCIA_PAGO,
            ORDEN_CUN,
            FECHA_SOLICITUD_CREDITO,
            FECHA_APROBACION,
            PROGRAMA,
            MODALIDAD,
            REGIONAL,
            ESTADO_PAGO,
            PERIODO,
            FUERZA_COMERCIAL,
            EST_MATRICULADO,
            TIPO,
            NUEVO,
			lat,
			lon,
			ciudad_geo,
			departamento,
			localidad

        )
        SELECT DISTINCT
            A.NOMBRES_COMPLETOS_ESTUDIANTE,
            A.TIPO_PROGRAMA_ESTUDIANTE,
            A.TIPO_DOCUMENTO_ESTUDIANTE,
            A.GENERO_ESTUDIANTE,
            A.NUMERO_DOCUMENTO_ESTUDIANTE,
            A.EDAD_ESTUDIANTE,
            TRY_CAST(A.VALOR_MATRICULA AS DECIMAL(18,2)),
            TRY_CAST(A.VALOR_FINANCIACION AS DECIMAL(18,2)),
            TRY_CAST(A.VALOR_TOTAL_FINANCIACION AS DECIMAL(18,2)),
            TRY_CAST(A.VALOR_CUOTA_INICIAL AS DECIMAL(18,2)),
            TRY_CAST(A.COSTO_PLATAFORMA AS DECIMAL(18,2)),
            A.CUOTAS,
            TRY_CAST(A.VALOR_CUOTA AS DECIMAL(18,2)),
            A.REFERENCIA_PAGO,
            A.ORDEN_CUN,
            A.FECHA_REGISTRO_ESTUDIANTE AS FECHA_SOLICITUD_CREDITO,
            A.FEC_CREACION AS FECHA_APROBACION,
            B.NOM_PROGRAMA AS PROGRAMA,
            B.MODALIDAD,
            B.SECCIONAL AS REGIONAL,
            B.ESTADO_PAGO,
            B.Periodo_data AS PERIODO,
            B.Fuerza_comercial_data AS FUERZA_COMERCIAL,
            B.EST_MATRICULADO,
            B.TIPO_ALUM_DATA AS TIPO,
            B.NUEVO,
		    B.lat,
			B.lon,
			B.ciudad AS ciudad_geo,
			B.departamento,
			B.localidad
        FROM #FINANCIACION_CON_INFO_ACADEMICA A
        LEFT JOIN CUN_REPOSITORIO.zoho.Base_Personas B
            ON A.ORDEN_CUN = B.ORDEN 
            AND RTRIM(LTRIM(A.NUMERO_DOCUMENTO_ESTUDIANTE)) = RTRIM(LTRIM(CAST(B.DOC_ALUM AS NVARCHAR(100))));

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros insertados en tabla principal: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 6: ACTUALIZAR CAMPOS DE FECHA
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Actualizando campos de fecha...';

        UPDATE CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA
        SET 
            AÑO_APROBACION = YEAR(FECHA_APROBACION),
            MES_APROBACION = CASE MONTH(FECHA_APROBACION)
                WHEN 1 THEN 'Enero'
                WHEN 2 THEN 'Febrero'
                WHEN 3 THEN 'Marzo'
                WHEN 4 THEN 'Abril'
                WHEN 5 THEN 'Mayo'
                WHEN 6 THEN 'Junio'
                WHEN 7 THEN 'Julio'
                WHEN 8 THEN 'Agosto'
                WHEN 9 THEN 'Septiembre'
                WHEN 10 THEN 'Octubre'
                WHEN 11 THEN 'Noviembre'
                WHEN 12 THEN 'Diciembre'
            END,
            DIA_APROBACION = DAY(FECHA_APROBACION)
        WHERE FECHA_APROBACION IS NOT NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con información de fecha: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 7: ACTUALIZAR VALOR CUOTA DETALLE
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Actualizando valor cuota detalle...';

        UPDATE F
        SET F.VALOR_CUOTA_detalle = TRY_CAST(C.VALOR_CUOTA AS DECIMAL(18,2))
        FROM CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA F
        JOIN OPENQUERY([172.16.1.175], 
             'SELECT ORDEN_CUN, VALOR_CUOTA FROM ICEBERG.CLTIENE_360_DETALLE_CUOTAS') C
        ON F.ORDEN_CUN = C.ORDEN_CUN;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con valor cuota detalle: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 8: ACTUALIZAR PAGOS REALIZADOS
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Actualizando pagos realizados...';

        UPDATE A
        SET A.PAGOS_REALIZADOS = B.Valor
        FROM CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA A
        LEFT JOIN CUN_REPOSITORIO.Financiera.RECIBOS_CAJA B
            ON A.NUMERO_DOCUMENTO_ESTUDIANTE = B.CLIENTE 
            AND A.PERIODO = B.PERIODO;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con pagos realizados: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 9: NORMALIZACIONES DE DATOS
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Aplicando normalizaciones de datos...';

        -- Normalizar nombre de programa
        UPDATE CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA
        SET PROGRAMA = 'ADMINISTRACIÓN DE EMPRESAS'
        WHERE UPPER(PROGRAMA) IN ('ADMINISTRACION DE EMPRESAS', 'ADMINISTRACIÓN DE EMPRESAS');

        -- Calcular valor matrícula cuando es 0
        UPDATE CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA
        SET VALOR_MATRICULA = ISNULL(VALOR_TOTAL_FINANCIACION, 0) + ISNULL(VALOR_CUOTA_INICIAL, 0)
        WHERE VALOR_MATRICULA = 0 OR VALOR_MATRICULA IS NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros normalizados: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 10: LIMPIEZA
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Limpiando tabla temporal...';

        DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        -- =============================================
        -- FINALIZACIÓN
        -- =============================================
        
        IF @Debug = 1
            PRINT 'Proceso completado exitosamente.';

        -- Retornar estadísticas finales
        SELECT 
            COUNT(*) AS TotalRegistros,
            COUNT(DISTINCT NUMERO_DOCUMENTO_ESTUDIANTE) AS EstudiantesUnicos,
            COUNT(DISTINCT PROGRAMA) AS ProgramasUnicos,
            COUNT(DISTINCT PERIODO) AS PeriodosUnicos,
            GETDATE() AS FechaProcesamiento
        FROM CUN_REPOSITORIO.JSANTAMARIA.FINANCIACION_CON_INFO_ACADEMICA;

    END TRY
    BEGIN CATCH
        
        -- Capturar información del error
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Limpiar tabla temporal si existe
        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        -- Log del error (opcional - puedes crear una tabla de logs)
        PRINT 'Error en SP_PROCESAR_FINANCIACION_CON_INFO_ACADEMICA: ' + @ErrorMessage;

        -- Re-lanzar el error
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
    END CATCH
    
    SET NOCOUNT OFF;

	INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
SELECT db_name(),user_name(),'Fin USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error

END


