USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]    Script Date: 14/04/2026 10:39:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor: [Johan Santamaria]
-- Fecha modificación: [06-04-2026]
-- Cambios v2:
--   1. Tabla destino migrada a Financiera.Financiaciones_CTAYUDA
--   2. Añadidas 34 columnas de financiacion_cltiene_v2
--   3. BEGIN TRANSACTION / COMMIT / ROLLBACK explícito
--   4. Índice en temp table, materialización OPENQUERY cuotas, índices en destino
--   5. TRUNCATE en lugar de DROP+CREATE (más rápido en reejecciones)
--   6. ROW_NUMBER() en lugar de SELECT DISTINCT (deduplicación determinista)
--   7. Log de @@ROWCOUNT por paso en LogControlProcesos
-- =============================================
ALTER PROCEDURE [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]
    @Debug BIT = 0           -- 1 para mostrar mensajes de debug
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
    SELECT db_name(), user_name(), 'Inicio USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error;

    DECLARE @ErrorMessage  NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState    INT;
    DECLARE @RowCount      INT;
    DECLARE @TablaExistia  BIT = 0;  -- controla TRUNCATE vs CREATE

    -- =========================================================
    -- TRANSACCIÓN EXPLÍCITA: garantiza rollback ante cualquier error
    -- =========================================================
    BEGIN TRANSACTION;

    BEGIN TRY

        -- =============================================
        -- PASO 1: VALIDACIONES INICIALES
        -- =============================================
        IF @Debug = 1
            PRINT 'Iniciando proceso de financiación con información académica...';

        -- =============================================
        -- PASO 2: TRUNCATE (si existe) o CREATE TABLE (primera ejecución)
        --   TRUNCATE es ~10x más rápido que DROP+CREATE y conserva índices/permisos.
        --   Los índices se eliminan antes del INSERT y se recrean después para
        --   evitar sobrecarga de mantenimiento fila a fila.
        -- =============================================
        IF @Debug = 1
            PRINT 'Verificando tabla principal...';

        IF OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA', 'U') IS NOT NULL
        BEGIN
            SET @TablaExistia = 1;
            -- Eliminar índices antes del vaciado para inserción más rápida
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_DOC')
                DROP INDEX IX_FIN_DOC    ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_ORDEN')
                DROP INDEX IX_FIN_ORDEN  ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_PERIODO')
                DROP INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            TRUNCATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF @Debug = 1
                PRINT 'Tabla vaciada con TRUNCATE (estructura conservada).';
        END
        ELSE
        BEGIN
            IF @Debug = 1
                PRINT 'Creando tabla principal (primera ejecución)...';

        CREATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
            -- ── Columnas originales ──────────────────────────────────────
            NOMBRES_COMPLETOS_ESTUDIANTE    NVARCHAR(255),
            TIPO_PROGRAMA_ESTUDIANTE        NVARCHAR(100),
            TIPO_DOCUMENTO_ESTUDIANTE       NVARCHAR(50),
            GENERO_ESTUDIANTE               NVARCHAR(20),
            NUMERO_DOCUMENTO_ESTUDIANTE     NVARCHAR(100),
            EDAD_ESTUDIANTE                 INT,
            VALOR_MATRICULA                 DECIMAL(18,2),
            VALOR_FINANCIACION              DECIMAL(18,2),
            VALOR_TOTAL_FINANCIACION        DECIMAL(18,2),
            VALOR_CUOTA_INICIAL             DECIMAL(18,2),
            COSTO_PLATAFORMA                DECIMAL(18,2),
            CUOTAS                          INT,
            VALOR_CUOTA                     DECIMAL(18,2),
            REFERENCIA_PAGO                 NVARCHAR(100),
            ORDEN_CUN                       NVARCHAR(100),
            FECHA_SOLICITUD_CREDITO         DATETIME,
            FECHA_APROBACION                DATETIME,
            PROGRAMA                        NVARCHAR(255),
            MODALIDAD                       NVARCHAR(100),
            REGIONAL                        NVARCHAR(100),
            ESTADO_PAGO                     NVARCHAR(50),
            PERIODO                         NVARCHAR(20),
            FUERZA_COMERCIAL                NVARCHAR(20),
            EST_MATRICULADO                 NVARCHAR(50),
            TIPO                            NVARCHAR(25),
            NUEVO                           NVARCHAR(25),
            [AÑO_APROBACION]               INT,
            MES_APROBACION                  VARCHAR(20),
            DIA_APROBACION                  INT,
            VALOR_CUOTA_detalle             DECIMAL(18,2),
            PAGOS_REALIZADOS                DECIMAL(18,2),
            FECHA_PROCESAMIENTO             DATETIME DEFAULT GETDATE(),
            lat                             NVARCHAR(250),
            lon                             NVARCHAR(250),
            ciudad_geo                      NVARCHAR(250),
            departamento                    NVARCHAR(250),
            localidad                       NVARCHAR(250),
            -- ── Nuevas columnas financiacion_cltiene_v2 ─────────────────
            -- Contacto (SINU.BAS_TERCERO)
            EMAIL_INSTITUCIONAL             NVARCHAR(255),
            EMAIL_PERSONAL                  NVARCHAR(255),
            CELULAR                         NVARCHAR(50),
            TELEFONO                        NVARCHAR(50),
            -- Orden RPVI (ICEBERG.ORDEN)
            DOCUMENTO_RPVI                  NVARCHAR(10),
            ORDEN_RPVI                      NVARCHAR(100),
            DOCUMENTO_ORDEN_INICIAL         NVARCHAR(10),
            ESTADO_ORDEN_RPVI               NVARCHAR(20),
            FECHA_ORDEN                     DATETIME,
            FECHA_VENCIMIENTO_ORDEN         DATETIME,
            MENSAJE                         NVARCHAR(500),
            CENTRO_COSTO                    NVARCHAR(50),
            VALOR_ORDEN_TOTAL               DECIMAL(18,2),
            DESCRIPCION                     NVARCHAR(500),
            GRUPO                           NVARCHAR(50),
            FONDO                           NVARCHAR(50),
            FUENTE_FUNCION                  NVARCHAR(100),
            -- Proceso CLTIENE
            FECHA_APROBACION_CUOTA_INI      DATETIME,
            FECHA_CREA_ESTUDIANTE_CLTIENE   DATETIME,
            FECHA_FIN_PROCESO_CLTIENE       DATETIME,
            -- Financiero CLTIENE_360_ESTUDIANTES
            VALOR_AVAL                      DECIMAL(18,2),
            SERVICIO_MEDICO                 DECIMAL(18,2),
            VALOR_PAGADO                    DECIMAL(18,2),
            VALOR_ORDEN                     DECIMAL(18,2),
            VALOR_FINANCIADO                DECIMAL(18,2),
            VALOR_PAGADO_EN_ICEBERG         DECIMAL(18,2),
            GASTOS_TECNICOS                 DECIMAL(18,2),
            PORCENTAJE_INTERES              DECIMAL(18,2),
            ESTADO_PAGO_ESTUDIO             NVARCHAR(50),
            -- Estados y control
            TIENE_PROCESO_360               NVARCHAR(5),
            TIENE_PROCESO_LEGALIZADO        NVARCHAR(5),
            ORDEN_RPVI_LIQUIDADA            NVARCHAR(5),
            ORDEN_INICIAL_LIQUIDADA         NVARCHAR(5),
            OBSERVACION                     NVARCHAR(500),
            -- Auditoría ETL
            [timestamp]                     DATETIME DEFAULT GETDATE()
        );

        IF @Debug = 1
            PRINT 'Tabla principal creada exitosamente.';
        END  -- END ELSE (primera ejecución)

        -- =============================================
        -- PASO 3: CREAR TABLA TEMPORAL
        -- =============================================
        IF @Debug = 1
            PRINT 'Creando tabla temporal...';

        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        CREATE TABLE #FINANCIACION_CON_INFO_ACADEMICA (
            NOMBRES_COMPLETOS_ESTUDIANTE    NVARCHAR(500),
            TIPO_PROGRAMA_ESTUDIANTE        NVARCHAR(200),
            TIPO_DOCUMENTO_ESTUDIANTE       NVARCHAR(100),
            GENERO_ESTUDIANTE               NVARCHAR(50),
            NUMERO_DOCUMENTO_ESTUDIANTE     NVARCHAR(100),
            EDAD_ESTUDIANTE                 INT,
            VALOR_MATRICULA                 NVARCHAR(100),
            VALOR_FINANCIACION              NVARCHAR(100),
            VALOR_TOTAL_FINANCIACION        NVARCHAR(100),
            VALOR_CUOTA_INICIAL             NVARCHAR(100),
            COSTO_PLATAFORMA                NVARCHAR(100),
            CUOTAS                          INT,
            VALOR_CUOTA                     NVARCHAR(100),
            REFERENCIA_PAGO                 NVARCHAR(100),
            ORDEN_CUN                       NVARCHAR(100),
            FECHA_REGISTRO_ESTUDIANTE       DATETIME,
            FEC_CREACION                    DATETIME
        );

        -- Optimización: índice en temp table para acelerar JOIN del PASO 5
        CREATE INDEX IX_TMP_DOC_ORDEN
            ON #FINANCIACION_CON_INFO_ACADEMICA(NUMERO_DOCUMENTO_ESTUDIANTE, ORDEN_CUN);

        -- =============================================
        -- PASO 4: EXTRAER DATOS DEL SERVIDOR REMOTO
        -- =============================================
        IF @Debug = 1
            PRINT 'Extrayendo datos del servidor remoto...';

        INSERT INTO #FINANCIACION_CON_INFO_ACADEMICA
        SELECT
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            CONVERT(NVARCHAR(100), NUMERO_DOCUMENTO_ESTUDIANTE) AS NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            CONVERT(NVARCHAR(100), REFERENCIA_PAGO)  AS REFERENCIA_PAGO,
            CONVERT(NVARCHAR(100), ORDEN_CUN)         AS ORDEN_CUN,
            FECHA_REGISTRO_ESTUDIANTE,
            FEC_CREACION
        FROM OPENQUERY([172.16.1.175],
            'SELECT
                NOMBRES_COMPLETOS_ESTUDIANTE,
                TIPO_PROGRAMA_ESTUDIANTE,
                TIPO_DOCUMENTO_ESTUDIANTE,
                GENERO_ESTUDIANTE,
                CAST(NUMERO_DOCUMENTO_ESTUDIANTE AS VARCHAR(100)) AS NUMERO_DOCUMENTO_ESTUDIANTE,
                EDAD_ESTUDIANTE,
                VALOR_MATRICULA,
                VALOR_FINANCIACION,
                VALOR_TOTAL_FINANCIACION,
                VALOR_CUOTA_INICIAL,
                COSTO_PLATAFORMA,
                CUOTAS,
                VALOR_CUOTA,
                CAST(REFERENCIA_PAGO AS VARCHAR(100)) AS REFERENCIA_PAGO,
                CAST(ORDEN_CUN AS VARCHAR(100))       AS ORDEN_CUN,
                FECHA_REGISTRO_ESTUDIANTE,
                FEC_CREACION
            FROM ICEBERG.CLTIENE_360_RESPUESTA'
        );

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros extraídos: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 5: INSERTAR DATOS EN TABLA PRINCIPAL
        -- =============================================
        IF @Debug = 1
            PRINT 'Insertando datos en tabla principal...';

        -- ROW_NUMBER() garantiza deduplicación determinista:
        -- ante duplicados (mismo doc + orden), conserva el registro más reciente (MAX FEC_CREACION).
        ;WITH CTE_DEDUP AS (
            SELECT
                A.NOMBRES_COMPLETOS_ESTUDIANTE,
                A.TIPO_PROGRAMA_ESTUDIANTE,
                A.TIPO_DOCUMENTO_ESTUDIANTE,
                A.GENERO_ESTUDIANTE,
                A.NUMERO_DOCUMENTO_ESTUDIANTE,
                A.EDAD_ESTUDIANTE,
                A.VALOR_MATRICULA,
                A.VALOR_FINANCIACION,
                A.VALOR_TOTAL_FINANCIACION,
                A.VALOR_CUOTA_INICIAL,
                A.COSTO_PLATAFORMA,
                A.CUOTAS,
                A.VALOR_CUOTA,
                A.REFERENCIA_PAGO,
                A.ORDEN_CUN,
                A.FECHA_REGISTRO_ESTUDIANTE,
                A.FEC_CREACION,
                B.NOM_PROGRAMA,
                B.MODALIDAD,
                B.SECCIONAL,
                B.ESTADO_PAGO,
                B.Periodo_data,
                B.Fuerza_comercial_data,
                B.EST_MATRICULADO,
                B.TIPO_ALUM_DATA,
                B.NUEVO,
                B.lat, B.lon, B.ciudad, B.departamento, B.localidad,
                ROW_NUMBER() OVER (
                    PARTITION BY A.NUMERO_DOCUMENTO_ESTUDIANTE, A.ORDEN_CUN
                    ORDER BY A.FEC_CREACION DESC
                ) AS rn
            FROM #FINANCIACION_CON_INFO_ACADEMICA A
            LEFT JOIN CUN_REPOSITORIO.zoho.Base_Personas B
                ON  A.ORDEN_CUN = B.ORDEN
                AND RTRIM(LTRIM(A.NUMERO_DOCUMENTO_ESTUDIANTE)) = RTRIM(LTRIM(CAST(B.DOC_ALUM AS NVARCHAR(100))))
        )
        INSERT INTO CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            REFERENCIA_PAGO,
            ORDEN_CUN,
            FECHA_SOLICITUD_CREDITO,
            FECHA_APROBACION,
            PROGRAMA,
            MODALIDAD,
            REGIONAL,
            ESTADO_PAGO,
            PERIODO,
            FUERZA_COMERCIAL,
            EST_MATRICULADO,
            TIPO,
            NUEVO,
            lat, lon, ciudad_geo, departamento, localidad
        )
        SELECT
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            TRY_CAST(VALOR_MATRICULA         AS DECIMAL(18,2)),
            TRY_CAST(VALOR_FINANCIACION       AS DECIMAL(18,2)),
            TRY_CAST(VALOR_TOTAL_FINANCIACION AS DECIMAL(18,2)),
            TRY_CAST(VALOR_CUOTA_INICIAL      AS DECIMAL(18,2)),
            TRY_CAST(COSTO_PLATAFORMA         AS DECIMAL(18,2)),
            CUOTAS,
            TRY_CAST(VALOR_CUOTA              AS DECIMAL(18,2)),
            REFERENCIA_PAGO,
            ORDEN_CUN,
            FECHA_REGISTRO_ESTUDIANTE AS FECHA_SOLICITUD_CREDITO,
            FEC_CREACION              AS FECHA_APROBACION,
            NOM_PROGRAMA              AS PROGRAMA,
            MODALIDAD,
            SECCIONAL                 AS REGIONAL,
            ESTADO_PAGO,
            Periodo_data              AS PERIODO,
            Fuerza_comercial_data     AS FUERZA_COMERCIAL,
            EST_MATRICULADO,
            TIPO_ALUM_DATA            AS TIPO,
            NUEVO,
            lat, lon, ciudad AS ciudad_geo, departamento, localidad
        FROM CTE_DEDUP
        WHERE rn = 1;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros insertados en tabla principal: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 5: INSERT tabla principal', @RowCount, getdate(), 0;

        -- Optimización: recrear índices post-INSERT (bulk build es mucho más rápido que mantenimiento fila a fila)
        CREATE INDEX IX_FIN_DOC     ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(NUMERO_DOCUMENTO_ESTUDIANTE);
        CREATE INDEX IX_FIN_ORDEN   ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(ORDEN_CUN);
        CREATE INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(PERIODO);

        -- =============================================
        -- PASO 5B: POBLAR COLUMNAS DE financiacion_cltiene_v2
        --   Materializa el OPENQUERY en #FINANCIACION_V2, agrega índice y
        --   hace UPDATE JOIN local (evita OPENQUERY directo en UPDATE).
        -- =============================================
        IF @Debug = 1
            PRINT 'Extrayendo datos complementarios (financiacion_cltiene_v2)...';

        IF OBJECT_ID('tempdb..#FINANCIACION_V2') IS NOT NULL
            DROP TABLE #FINANCIACION_V2;

        SELECT
            CAST(IDENTIFICACION             AS NVARCHAR(100))  AS IDENTIFICACION,
            CAST(EMAIL_INSTITUCIONAL        AS NVARCHAR(255))  AS EMAIL_INSTITUCIONAL,
            CAST(EMAIL_PERSONAL             AS NVARCHAR(255))  AS EMAIL_PERSONAL,
            CAST(CELULAR                    AS NVARCHAR(50))   AS CELULAR,
            CAST(TELEFONO                   AS NVARCHAR(50))   AS TELEFONO,
            CAST(DOCUMENTO_RPVI             AS NVARCHAR(10))   AS DOCUMENTO_RPVI,
            CAST(ORDEN_RPVI                 AS NVARCHAR(100))  AS ORDEN_RPVI,
            CAST(DOCUMENTO_ORDEN_INI        AS NVARCHAR(10))   AS DOCUMENTO_ORDEN_INICIAL,
            CAST(ESTADO_ORDEN_RPVI          AS NVARCHAR(20))   AS ESTADO_ORDEN_RPVI,
            TRY_CAST(FECHA_ORDEN            AS DATETIME)       AS FECHA_ORDEN,
            TRY_CAST(FECHA_VENCIMIENTO      AS DATETIME)       AS FECHA_VENCIMIENTO_ORDEN,
            CAST(MENSAJE                    AS NVARCHAR(500))  AS MENSAJE,
            CAST(CENTRO_COSTO               AS NVARCHAR(50))   AS CENTRO_COSTO,
            TRY_CAST(VALOR_ORDEN_TOTAL      AS DECIMAL(18,2))  AS VALOR_ORDEN_TOTAL,
            CAST(DESCRIPCION                AS NVARCHAR(500))  AS DESCRIPCION,
            CAST(GRUPO                      AS NVARCHAR(50))   AS GRUPO,
            CAST(FONDO                      AS NVARCHAR(50))   AS FONDO,
            CAST(FUENTE_FUNCION             AS NVARCHAR(100))  AS FUENTE_FUNCION,
            TRY_CAST(FECHA_APROBACION_CUOTA_INI AS DATETIME)   AS FECHA_APROBACION_CUOTA_INI,
            TRY_CAST(FECHA_CREA_ESTUDIANTE  AS DATETIME)       AS FECHA_CREA_ESTUDIANTE_CLTIENE,
            TRY_CAST(FECHA_FIN_PROCESO      AS DATETIME)       AS FECHA_FIN_PROCESO_CLTIENE,
            TRY_CAST(VALOR_AVAL             AS DECIMAL(18,2))  AS VALOR_AVAL,
            TRY_CAST(SERVICIO_MEDICO        AS DECIMAL(18,2))  AS SERVICIO_MEDICO,
            TRY_CAST(VALOR_PAGADO           AS DECIMAL(18,2))  AS VALOR_PAGADO,
            TRY_CAST(VALOR_ORDEN            AS DECIMAL(18,2))  AS VALOR_ORDEN,
            TRY_CAST(VALOR_FINANCIADO       AS DECIMAL(18,2))  AS VALOR_FINANCIADO,
            TRY_CAST(VALOR_PAGADO_EN_ICEBERG AS DECIMAL(18,2)) AS VALOR_PAGADO_EN_ICEBERG,
            TRY_CAST(GASTOS_TECNICOS        AS DECIMAL(18,2))  AS GASTOS_TECNICOS,
            TRY_CAST(PORCENTAJE_INTERES     AS DECIMAL(18,2))  AS PORCENTAJE_INTERES,
            CAST(ESTADO_PAGO_ESTUDIO        AS NVARCHAR(50))   AS ESTADO_PAGO_ESTUDIO,
            CAST(TIENE_PROCESO_360          AS NVARCHAR(5))    AS TIENE_PROCESO_360,
            CAST(TIENE_PROCESO_LEGALIZADO   AS NVARCHAR(5))    AS TIENE_PROCESO_LEGALIZADO,
            CAST(ORDEN_RPVI_LIQUIDADA       AS NVARCHAR(5))    AS ORDEN_RPVI_LIQUIDADA,
            CAST(ORDEN_INICIAL_LIQUIDADA    AS NVARCHAR(5))    AS ORDEN_INICIAL_LIQUIDADA,
            CAST(OBSERVACION                AS NVARCHAR(500))  AS OBSERVACION,
            CAST(ORDEN_CUN                  AS NVARCHAR(100))  AS ORDEN_CUN
        INTO #FINANCIACION_V2
        FROM OPENQUERY([172.16.1.175], '
        SELECT
          CAST(B.NUM_IDENTIFICACION AS VARCHAR(100)) AS IDENTIFICACION,
          B.DIR_EMAIL               AS EMAIL_INSTITUCIONAL,
          B.DIR_EMAIL_PER           AS EMAIL_PERSONAL,
          B.TEL_CECULAR             AS CELULAR,
          B.TEL_RESIDENCIA          AS TELEFONO,
          O.DOCUMENTO               AS DOCUMENTO_RPVI,
          CAST(O.ORDEN AS VARCHAR(100)) AS ORDEN_RPVI,
          T.DOCUMENTO               AS DOCUMENTO_ORDEN_INI,
          DECODE(ORD.ESTADO,''V'',''VIGENTE'',''A'',''ANULADA'',ORD.ESTADO) AS ESTADO_ORDEN_RPVI,
          O.FECHA_ORDEN,
          O.FECHA_VENCIMIENTO,
          O.MENSAJE,
          O.CENTRO_COSTO,
          O.VALOR_TOTAL             AS VALOR_ORDEN_TOTAL,
          O.DESCRIPCION,
          O.GRUPO,
          O.FONDO,
          O.FUENTE_FUNCION,
          C.FECHA_PAGO              AS FECHA_APROBACION_CUOTA_INI,
          E.FEC_CREACION            AS FECHA_CREA_ESTUDIANTE,
          M.FEC_CREACION            AS FECHA_FIN_PROCESO,
          E.VALOR_AVAL,
          E.SERVICIO_MEDICO,
          E.VALOR_PAGADO,
          E.VALOR_MATRICULA         AS VALOR_ORDEN,
          E.VALOR_FINANCIACION      AS VALOR_FINANCIADO,
          C.VALOR                   AS VALOR_PAGADO_EN_ICEBERG,
          E.GASTOS_TECNICOS,
          E.PORCENTAJE_INTERES,
          E.ESTADO_PAGO_ESTUDIO,
          DECODE(E.NUMERO_DOCUMENTO,NULL,''NO'',''SI'') AS TIENE_PROCESO_360,
          DECODE(M.ID,NULL,''NO'',''SI'')               AS TIENE_PROCESO_LEGALIZADO,
          DECODE(LR.LIQUIDACION,NULL,''NO'',''SI'')     AS ORDEN_RPVI_LIQUIDADA,
          DECODE(LM.LIQUIDACION,NULL,''NO'',''SI'')     AS ORDEN_INICIAL_LIQUIDADA,
          CASE WHEN E.NUMERO_DOCUMENTO IS NULL THEN ''''
               ELSE DECODE(E.ESTADO_FINANCIACION,1,''CREDITO COMPLETADO'',''CREDITO PENDIENTE CTAYUDA'')
          END AS OBSERVACION,
          CAST(T.ORDEN AS VARCHAR(100)) AS ORDEN_CUN
        FROM ICEBERG.ORDEN O
          INNER JOIN SINU.BAS_TERCERO B ON B.NUM_IDENTIFICACION = TO_CHAR(O.CLIENTE_SOLICITADO)
          INNER JOIN SINU.BAS_CEN_COSTO CC ON CC.COD_CEN_COSTO = O.CENTRO_COSTO
          LEFT JOIN ICEBERG.CUNT_TRAMITE_EXTERNO T ON O.ORDEN = T.ORDEN_INICIAL
          LEFT JOIN ICEBERG.CREDITO R ON R.CLIENTE = B.NUM_IDENTIFICACION AND R.ORDEN = T.ORDEN AND OBSERVACIONES LIKE ''%CLTIENE%''
          LEFT JOIN ICEBERG.CLTIENE_360_ESTUDIANTES E ON E.NUMERO_DOCUMENTO = T.IDENTIFICACION AND E.ORDEN_CUN = T.ORDEN
          LEFT JOIN ICEBERG.CLTIENE_360_RESPUESTA M ON M.NUMERO_DOCUMENTO_ESTUDIANTE = E.NUMERO_DOCUMENTO AND M.ORDEN_CUN = E.ORDEN_CUN AND M.VALIDACION=1
          LEFT JOIN PORTAL_PAGOS_CUN.PPT_CUN_DETALLE_RESPUESTA_PAGO D ON D.REFERENCIA = E.REFERENCIA_PAGO
          LEFT JOIN RECIBO_CAJA C ON C.NUMERO = D.RECIBO_ICEBERG AND C.ESTADO=''V''
          LEFT JOIN ORDEN ORD ON ORD.ORDEN = T.ORDEN_INICIAL AND ORD.DOCUMENTO = T.DOCUMENTO_INICIAL
          LEFT JOIN LIQUIDACION_ORDEN LR ON LR.ORDEN = T.ORDEN_INICIAL AND LR.DOCUMENTO = T.DOCUMENTO_INICIAL
          LEFT JOIN LIQUIDACION_ORDEN LM ON LM.ORDEN = T.ORDEN AND LM.DOCUMENTO = T.DOCUMENTO
        WHERE O.DOCUMENTO=''RPVI''
          AND UPPER(O.DESCRIPCION) LIKE ''%CLTIENE%''
          AND O.ESTADO=''V''
        ');

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros extraídos de financiacion_cltiene_v2: ' + CAST(@RowCount AS VARCHAR(10));

        CREATE INDEX IX_FV2_ORDEN_DOC
            ON #FINANCIACION_V2(ORDEN_CUN, IDENTIFICACION);

        UPDATE F
        SET
            F.EMAIL_INSTITUCIONAL           = V.EMAIL_INSTITUCIONAL,
            F.EMAIL_PERSONAL                = V.EMAIL_PERSONAL,
            F.CELULAR                       = V.CELULAR,
            F.TELEFONO                      = V.TELEFONO,
            F.DOCUMENTO_RPVI                = V.DOCUMENTO_RPVI,
            F.ORDEN_RPVI                    = V.ORDEN_RPVI,
            F.DOCUMENTO_ORDEN_INICIAL       = V.DOCUMENTO_ORDEN_INICIAL,
            F.ESTADO_ORDEN_RPVI             = V.ESTADO_ORDEN_RPVI,
            F.FECHA_ORDEN                   = V.FECHA_ORDEN,
            F.FECHA_VENCIMIENTO_ORDEN       = V.FECHA_VENCIMIENTO_ORDEN,
            F.MENSAJE                       = V.MENSAJE,
            F.CENTRO_COSTO                  = V.CENTRO_COSTO,
            F.VALOR_ORDEN_TOTAL             = V.VALOR_ORDEN_TOTAL,
            F.DESCRIPCION                   = V.DESCRIPCION,
            F.GRUPO                         = V.GRUPO,
            F.FONDO                         = V.FONDO,
            F.FUENTE_FUNCION                = V.FUENTE_FUNCION,
            F.FECHA_APROBACION_CUOTA_INI    = V.FECHA_APROBACION_CUOTA_INI,
            F.FECHA_CREA_ESTUDIANTE_CLTIENE = V.FECHA_CREA_ESTUDIANTE_CLTIENE,
            F.FECHA_FIN_PROCESO_CLTIENE     = V.FECHA_FIN_PROCESO_CLTIENE,
            F.VALOR_AVAL                    = V.VALOR_AVAL,
            F.SERVICIO_MEDICO               = V.SERVICIO_MEDICO,
            F.VALOR_PAGADO                  = V.VALOR_PAGADO,
            F.VALOR_ORDEN                   = V.VALOR_ORDEN,
            F.VALOR_FINANCIADO              = V.VALOR_FINANCIADO,
            F.VALOR_PAGADO_EN_ICEBERG       = V.VALOR_PAGADO_EN_ICEBERG,
            F.GASTOS_TECNICOS               = V.GASTOS_TECNICOS,
            F.PORCENTAJE_INTERES            = V.PORCENTAJE_INTERES,
            F.ESTADO_PAGO_ESTUDIO           = V.ESTADO_PAGO_ESTUDIO,
            F.TIENE_PROCESO_360             = V.TIENE_PROCESO_360,
            F.TIENE_PROCESO_LEGALIZADO      = V.TIENE_PROCESO_LEGALIZADO,
            F.ORDEN_RPVI_LIQUIDADA          = V.ORDEN_RPVI_LIQUIDADA,
            F.ORDEN_INICIAL_LIQUIDADA       = V.ORDEN_INICIAL_LIQUIDADA,
            F.OBSERVACION                   = V.OBSERVACION
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA F
        JOIN #FINANCIACION_V2 V
            ON  F.ORDEN_CUN                   = V.ORDEN_CUN
            AND F.NUMERO_DOCUMENTO_ESTUDIANTE = V.IDENTIFICACION;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con datos CLTIENE_V2: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 5B: UPDATE columnas financiacion_cltiene_v2', @RowCount, getdate(), 0;

        DROP TABLE #FINANCIACION_V2;

        -- =============================================
        -- PASO 6: ACTUALIZAR CAMPOS DE FECHA
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando campos de fecha...';

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET
            [AÑO_APROBACION] = YEAR(FECHA_APROBACION),
            MES_APROBACION   = CASE MONTH(FECHA_APROBACION)
                WHEN 1  THEN 'Enero'       WHEN 2  THEN 'Febrero'
                WHEN 3  THEN 'Marzo'       WHEN 4  THEN 'Abril'
                WHEN 5  THEN 'Mayo'        WHEN 6  THEN 'Junio'
                WHEN 7  THEN 'Julio'       WHEN 8  THEN 'Agosto'
                WHEN 9  THEN 'Septiembre'  WHEN 10 THEN 'Octubre'
                WHEN 11 THEN 'Noviembre'   WHEN 12 THEN 'Diciembre'
            END,
            DIA_APROBACION = DAY(FECHA_APROBACION)
        WHERE FECHA_APROBACION IS NOT NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con información de fecha: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 6: UPDATE fechas', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 7: ACTUALIZAR VALOR CUOTA DETALLE
        --         (materializado en temp para evitar OPENQUERY en UPDATE)
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando valor cuota detalle...';

        IF OBJECT_ID('tempdb..#CUOTAS_DETALLE') IS NOT NULL
            DROP TABLE #CUOTAS_DETALLE;

        SELECT
            CAST(ORDEN_CUN   AS NVARCHAR(100)) AS ORDEN_CUN,
            CAST(VALOR_CUOTA AS NVARCHAR(100)) AS VALOR_CUOTA
        INTO #CUOTAS_DETALLE
        FROM OPENQUERY([172.16.1.175],
            'SELECT CAST(ORDEN_CUN AS VARCHAR(100)) ORDEN_CUN,
                    CAST(VALOR_CUOTA AS VARCHAR(100)) VALOR_CUOTA
             FROM ICEBERG.CLTIENE_360_DETALLE_CUOTAS'
        );

        CREATE INDEX IX_CUOTAS ON #CUOTAS_DETALLE(ORDEN_CUN);

        UPDATE F
        SET F.VALOR_CUOTA_detalle = TRY_CAST(C.VALOR_CUOTA AS DECIMAL(18,2))
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA F
        JOIN #CUOTAS_DETALLE C ON F.ORDEN_CUN = C.ORDEN_CUN;

        DROP TABLE #CUOTAS_DETALLE;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con valor cuota detalle: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 7: UPDATE cuota detalle', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 8: ACTUALIZAR PAGOS REALIZADOS
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando pagos realizados...';

        UPDATE A
        SET A.PAGOS_REALIZADOS = B.Valor
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA A
        LEFT JOIN CUN_REPOSITORIO.Financiera.RECIBOS_CAJA B
            ON  A.NUMERO_DOCUMENTO_ESTUDIANTE = B.CLIENTE
            AND A.PERIODO = B.PERIODO;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con pagos realizados: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 8: UPDATE pagos realizados', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 9: NORMALIZACIONES DE DATOS
        -- =============================================
        IF @Debug = 1
            PRINT 'Aplicando normalizaciones de datos...';

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET PROGRAMA = 'ADMINISTRACIÓN DE EMPRESAS'
        WHERE UPPER(PROGRAMA) IN ('ADMINISTRACION DE EMPRESAS', 'ADMINISTRACIÓN DE EMPRESAS');

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET VALOR_MATRICULA = ISNULL(VALOR_TOTAL_FINANCIACION, 0) + ISNULL(VALOR_CUOTA_INICIAL, 0)
        WHERE VALOR_MATRICULA = 0 OR VALOR_MATRICULA IS NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros normalizados: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 9: normalizaciones', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 10: LIMPIEZA
        -- =============================================
        IF @Debug = 1
            PRINT 'Limpiando tabla temporal...';

        DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        -- =============================================
        -- FINALIZACIÓN
        -- =============================================
        IF @Debug = 1
            PRINT 'Proceso completado exitosamente.';

        COMMIT TRANSACTION;

        -- Retornar estadísticas finales
        SELECT
            COUNT(*)                                   AS TotalRegistros,
            COUNT(DISTINCT NUMERO_DOCUMENTO_ESTUDIANTE) AS EstudiantesUnicos,
            COUNT(DISTINCT PROGRAMA)                   AS ProgramasUnicos,
            COUNT(DISTINCT PERIODO)                    AS PeriodosUnicos,
            GETDATE()                                  AS FechaProcesamiento
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;

    END TRY
    BEGIN CATCH

        -- Capturar información del error
        SELECT
            @ErrorMessage  = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState    = ERROR_STATE();

        -- Revertir todos los cambios DML/DDL
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Limpiar tablas temporales si quedaron abiertas
        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;
        IF OBJECT_ID('tempdb..#CUOTAS_DETALLE') IS NOT NULL
            DROP TABLE #CUOTAS_DETALLE;
        IF OBJECT_ID('tempdb..#FINANCIACION_V2') IS NOT NULL
            DROP TABLE #FINANCIACION_V2;

        -- Loggear el error (fuera de transacción, ya se hizo rollback)
        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'Error USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', 0, getdate(), @ErrorMessage;

        PRINT 'Error en USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA: ' + @ErrorMessage;

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

    END CATCH

    SET NOCOUNT OFF;

    INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
    SELECT db_name(), user_name(), 'Fin USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error;

END