USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]    Script Date: 6/04/2026 6:58:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor: [Johan Santamaria]
-- Fecha modificación: [06-04-2026]
-- Cambios v2:
--   1. Tabla destino migrada a Financiera.Financiaciones_CTAYUDA
--   2. Añadidas 34 columnas de financiacion_cltiene_v2
--   3. BEGIN TRANSACTION / COMMIT / ROLLBACK explícito
--   4. Índice en temp table, materialización OPENQUERY cuotas, índices en destino
--   5. TRUNCATE en lugar de DROP+CREATE (más rápido en reejecciones)
--   6. ROW_NUMBER() en lugar de SELECT DISTINCT (deduplicación determinista)
--   7. Log de @@ROWCOUNT por paso en LogControlProcesos
-- =============================================
ALTER PROCEDURE [dbo].[USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA]
    @Debug BIT = 0           -- 1 para mostrar mensajes de debug
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
    SELECT db_name(), user_name(), 'Inicio USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error;

    DECLARE @ErrorMessage  NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState    INT;
    DECLARE @RowCount      INT;
    DECLARE @TablaExistia  BIT = 0;  -- controla TRUNCATE vs CREATE

    -- =========================================================
    -- TRANSACCIÓN EXPLÍCITA: garantiza rollback ante cualquier error
    -- =========================================================
    BEGIN TRANSACTION;

    BEGIN TRY

        -- =============================================
        -- PASO 1: VALIDACIONES INICIALES
        -- =============================================
        IF @Debug = 1
            PRINT 'Iniciando proceso de financiación con información académica...';

        -- =============================================
        -- PASO 2: TRUNCATE (si existe) o CREATE TABLE (primera ejecución)
        --   TRUNCATE es ~10x más rápido que DROP+CREATE y conserva índices/permisos.
        --   Los índices se eliminan antes del INSERT y se recrean después para
        --   evitar sobrecarga de mantenimiento fila a fila.
        -- =============================================
        IF @Debug = 1
            PRINT 'Verificando tabla principal...';

        IF OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA', 'U') IS NOT NULL
        BEGIN
            SET @TablaExistia = 1;
            -- Eliminar índices antes del vaciado para inserción más rápida
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_DOC')
                DROP INDEX IX_FIN_DOC    ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_ORDEN')
                DROP INDEX IX_FIN_ORDEN  ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_PERIODO')
                DROP INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            TRUNCATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            IF @Debug = 1
                PRINT 'Tabla vaciada con TRUNCATE (estructura conservada).';
        END
        ELSE
        BEGIN
            IF @Debug = 1
                PRINT 'Creando tabla principal (primera ejecución)...';

        CREATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
            -- ── Columnas originales ──────────────────────────────────────
            NOMBRES_COMPLETOS_ESTUDIANTE    NVARCHAR(255),
            TIPO_PROGRAMA_ESTUDIANTE        NVARCHAR(100),
            TIPO_DOCUMENTO_ESTUDIANTE       NVARCHAR(50),
            GENERO_ESTUDIANTE               NVARCHAR(20),
            NUMERO_DOCUMENTO_ESTUDIANTE     NVARCHAR(100),
            EDAD_ESTUDIANTE                 INT,
            VALOR_MATRICULA                 DECIMAL(18,2),
            VALOR_FINANCIACION              DECIMAL(18,2),
            VALOR_TOTAL_FINANCIACION        DECIMAL(18,2),
            VALOR_CUOTA_INICIAL             DECIMAL(18,2),
            COSTO_PLATAFORMA                DECIMAL(18,2),
            CUOTAS                          INT,
            VALOR_CUOTA                     DECIMAL(18,2),
            REFERENCIA_PAGO                 NVARCHAR(100),
            ORDEN_CUN                       NVARCHAR(100),
            FECHA_SOLICITUD_CREDITO         DATETIME,
            FECHA_APROBACION                DATETIME,
            PROGRAMA                        NVARCHAR(255),
            MODALIDAD                       NVARCHAR(100),
            REGIONAL                        NVARCHAR(100),
            ESTADO_PAGO                     NVARCHAR(50),
            PERIODO                         NVARCHAR(20),
            FUERZA_COMERCIAL                NVARCHAR(20),
            EST_MATRICULADO                 NVARCHAR(50),
            TIPO                            NVARCHAR(25),
            NUEVO                           NVARCHAR(25),
            [AÑO_APROBACION]               INT,
            MES_APROBACION                  VARCHAR(20),
            DIA_APROBACION                  INT,
            VALOR_CUOTA_detalle             DECIMAL(18,2),
            PAGOS_REALIZADOS                DECIMAL(18,2),
            FECHA_PROCESAMIENTO             DATETIME DEFAULT GETDATE(),
            lat                             NVARCHAR(250),
            lon                             NVARCHAR(250),
            ciudad_geo                      NVARCHAR(250),
            departamento                    NVARCHAR(250),
            localidad                       NVARCHAR(250),
            -- ── Nuevas columnas financiacion_cltiene_v2 ─────────────────
            -- Contacto (SINU.BAS_TERCERO)
            EMAIL_INSTITUCIONAL             NVARCHAR(255),
            EMAIL_PERSONAL                  NVARCHAR(255),
            CELULAR                         NVARCHAR(50),
            TELEFONO                        NVARCHAR(50),
            -- Orden RPVI (ICEBERG.ORDEN)
            DOCUMENTO_RPVI                  NVARCHAR(10),
            ORDEN_RPVI                      NVARCHAR(100),
            DOCUMENTO_ORDEN_INICIAL         NVARCHAR(10),
            ESTADO_ORDEN_RPVI               NVARCHAR(20),
            FECHA_ORDEN                     DATETIME,
            FECHA_VENCIMIENTO_ORDEN         DATETIME,
            MENSAJE                         NVARCHAR(500),
            CENTRO_COSTO                    NVARCHAR(50),
            VALOR_ORDEN_TOTAL               DECIMAL(18,2),
            DESCRIPCION                     NVARCHAR(500),
            GRUPO                           NVARCHAR(50),
            FONDO                           NVARCHAR(50),
            FUENTE_FUNCION                  NVARCHAR(100),
            -- Proceso CLTIENE
            FECHA_APROBACION_CUOTA_INI      DATETIME,
            FECHA_CREA_ESTUDIANTE_CLTIENE   DATETIME,
            FECHA_FIN_PROCESO_CLTIENE       DATETIME,
            -- Financiero CLTIENE_360_ESTUDIANTES
            VALOR_AVAL                      DECIMAL(18,2),
            SERVICIO_MEDICO                 DECIMAL(18,2),
            VALOR_PAGADO                    DECIMAL(18,2),
            VALOR_ORDEN                     DECIMAL(18,2),
            VALOR_FINANCIADO                DECIMAL(18,2),
            VALOR_PAGADO_EN_ICEBERG         DECIMAL(18,2),
            GASTOS_TECNICOS                 DECIMAL(18,2),
            PORCENTAJE_INTERES              DECIMAL(18,2),
            ESTADO_PAGO_ESTUDIO             NVARCHAR(50),
            -- Estados y control
            TIENE_PROCESO_360               NVARCHAR(5),
            TIENE_PROCESO_LEGALIZADO        NVARCHAR(5),
            ORDEN_RPVI_LIQUIDADA            NVARCHAR(5),
            ORDEN_INICIAL_LIQUIDADA         NVARCHAR(5),
            OBSERVACION                     NVARCHAR(500),
            -- Auditoría ETL
            [timestamp]                     DATETIME DEFAULT GETDATE()
        );

        IF @Debug = 1
            PRINT 'Tabla principal creada exitosamente.';
        END  -- END ELSE (primera ejecución)

        -- =============================================
        -- PASO 3: CREAR TABLA TEMPORAL
        -- =============================================
        IF @Debug = 1
            PRINT 'Creando tabla temporal...';

        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        CREATE TABLE #FINANCIACION_CON_INFO_ACADEMICA (
            NOMBRES_COMPLETOS_ESTUDIANTE    NVARCHAR(500),
            TIPO_PROGRAMA_ESTUDIANTE        NVARCHAR(200),
            TIPO_DOCUMENTO_ESTUDIANTE       NVARCHAR(100),
            GENERO_ESTUDIANTE               NVARCHAR(50),
            NUMERO_DOCUMENTO_ESTUDIANTE     NVARCHAR(100),
            EDAD_ESTUDIANTE                 INT,
            VALOR_MATRICULA                 NVARCHAR(100),
            VALOR_FINANCIACION              NVARCHAR(100),
            VALOR_TOTAL_FINANCIACION        NVARCHAR(100),
            VALOR_CUOTA_INICIAL             NVARCHAR(100),
            COSTO_PLATAFORMA                NVARCHAR(100),
            CUOTAS                          INT,
            VALOR_CUOTA                     NVARCHAR(100),
            REFERENCIA_PAGO                 NVARCHAR(100),
            ORDEN_CUN                       NVARCHAR(100),
            FECHA_REGISTRO_ESTUDIANTE       DATETIME,
            FEC_CREACION                    DATETIME
        );

        -- Optimización: índice en temp table para acelerar JOIN del PASO 5
        CREATE INDEX IX_TMP_DOC_ORDEN
            ON #FINANCIACION_CON_INFO_ACADEMICA(NUMERO_DOCUMENTO_ESTUDIANTE, ORDEN_CUN);

        -- =============================================
        -- PASO 4: EXTRAER DATOS DEL SERVIDOR REMOTO
        -- =============================================
        IF @Debug = 1
            PRINT 'Extrayendo datos del servidor remoto...';

        INSERT INTO #FINANCIACION_CON_INFO_ACADEMICA
        SELECT
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            CONVERT(NVARCHAR(100), NUMERO_DOCUMENTO_ESTUDIANTE) AS NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            CONVERT(NVARCHAR(100), REFERENCIA_PAGO)  AS REFERENCIA_PAGO,
            CONVERT(NVARCHAR(100), ORDEN_CUN)         AS ORDEN_CUN,
            FECHA_REGISTRO_ESTUDIANTE,
            FEC_CREACION
        FROM OPENQUERY([172.16.1.175],
            'SELECT
                NOMBRES_COMPLETOS_ESTUDIANTE,
                TIPO_PROGRAMA_ESTUDIANTE,
                TIPO_DOCUMENTO_ESTUDIANTE,
                GENERO_ESTUDIANTE,
                CAST(NUMERO_DOCUMENTO_ESTUDIANTE AS VARCHAR(100)) AS NUMERO_DOCUMENTO_ESTUDIANTE,
                EDAD_ESTUDIANTE,
                VALOR_MATRICULA,
                VALOR_FINANCIACION,
                VALOR_TOTAL_FINANCIACION,
                VALOR_CUOTA_INICIAL,
                COSTO_PLATAFORMA,
                CUOTAS,
                VALOR_CUOTA,
                CAST(REFERENCIA_PAGO AS VARCHAR(100)) AS REFERENCIA_PAGO,
                CAST(ORDEN_CUN AS VARCHAR(100))       AS ORDEN_CUN,
                FECHA_REGISTRO_ESTUDIANTE,
                FEC_CREACION
            FROM ICEBERG.CLTIENE_360_RESPUESTA'
        );

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros extraídos: ' + CAST(@RowCount AS VARCHAR(10));

        -- =============================================
        -- PASO 5: INSERTAR DATOS EN TABLA PRINCIPAL
        -- =============================================
        IF @Debug = 1
            PRINT 'Insertando datos en tabla principal...';

        -- ROW_NUMBER() garantiza deduplicación determinista:
        -- ante duplicados (mismo doc + orden), conserva el registro más reciente (MAX FEC_CREACION).
        ;WITH CTE_DEDUP AS (
            SELECT
                A.NOMBRES_COMPLETOS_ESTUDIANTE,
                A.TIPO_PROGRAMA_ESTUDIANTE,
                A.TIPO_DOCUMENTO_ESTUDIANTE,
                A.GENERO_ESTUDIANTE,
                A.NUMERO_DOCUMENTO_ESTUDIANTE,
                A.EDAD_ESTUDIANTE,
                A.VALOR_MATRICULA,
                A.VALOR_FINANCIACION,
                A.VALOR_TOTAL_FINANCIACION,
                A.VALOR_CUOTA_INICIAL,
                A.COSTO_PLATAFORMA,
                A.CUOTAS,
                A.VALOR_CUOTA,
                A.REFERENCIA_PAGO,
                A.ORDEN_CUN,
                A.FECHA_REGISTRO_ESTUDIANTE,
                A.FEC_CREACION,
                B.NOM_PROGRAMA,
                B.MODALIDAD,
                B.SECCIONAL,
                B.ESTADO_PAGO,
                B.Periodo_data,
                B.Fuerza_comercial_data,
                B.EST_MATRICULADO,
                B.TIPO_ALUM_DATA,
                B.NUEVO,
                B.lat, B.lon, B.ciudad, B.departamento, B.localidad,
                ROW_NUMBER() OVER (
                    PARTITION BY A.NUMERO_DOCUMENTO_ESTUDIANTE, A.ORDEN_CUN
                    ORDER BY A.FEC_CREACION DESC
                ) AS rn
            FROM #FINANCIACION_CON_INFO_ACADEMICA A
            LEFT JOIN CUN_REPOSITORIO.zoho.Base_Personas B
                ON  A.ORDEN_CUN = B.ORDEN
                AND RTRIM(LTRIM(A.NUMERO_DOCUMENTO_ESTUDIANTE)) = RTRIM(LTRIM(CAST(B.DOC_ALUM AS NVARCHAR(100))))
        )
        INSERT INTO CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            VALOR_MATRICULA,
            VALOR_FINANCIACION,
            VALOR_TOTAL_FINANCIACION,
            VALOR_CUOTA_INICIAL,
            COSTO_PLATAFORMA,
            CUOTAS,
            VALOR_CUOTA,
            REFERENCIA_PAGO,
            ORDEN_CUN,
            FECHA_SOLICITUD_CREDITO,
            FECHA_APROBACION,
            PROGRAMA,
            MODALIDAD,
            REGIONAL,
            ESTADO_PAGO,
            PERIODO,
            FUERZA_COMERCIAL,
            EST_MATRICULADO,
            TIPO,
            NUEVO,
            lat, lon, ciudad_geo, departamento, localidad
        )
        SELECT
            NOMBRES_COMPLETOS_ESTUDIANTE,
            TIPO_PROGRAMA_ESTUDIANTE,
            TIPO_DOCUMENTO_ESTUDIANTE,
            GENERO_ESTUDIANTE,
            NUMERO_DOCUMENTO_ESTUDIANTE,
            EDAD_ESTUDIANTE,
            TRY_CAST(VALOR_MATRICULA         AS DECIMAL(18,2)),
            TRY_CAST(VALOR_FINANCIACION       AS DECIMAL(18,2)),
            TRY_CAST(VALOR_TOTAL_FINANCIACION AS DECIMAL(18,2)),
            TRY_CAST(VALOR_CUOTA_INICIAL      AS DECIMAL(18,2)),
            TRY_CAST(COSTO_PLATAFORMA         AS DECIMAL(18,2)),
            CUOTAS,
            TRY_CAST(VALOR_CUOTA              AS DECIMAL(18,2)),
            REFERENCIA_PAGO,
            ORDEN_CUN,
            FECHA_REGISTRO_ESTUDIANTE AS FECHA_SOLICITUD_CREDITO,
            FEC_CREACION              AS FECHA_APROBACION,
            NOM_PROGRAMA              AS PROGRAMA,
            MODALIDAD,
            SECCIONAL                 AS REGIONAL,
            ESTADO_PAGO,
            Periodo_data              AS PERIODO,
            Fuerza_comercial_data     AS FUERZA_COMERCIAL,
            EST_MATRICULADO,
            TIPO_ALUM_DATA            AS TIPO,
            NUEVO,
            lat, lon, ciudad AS ciudad_geo, departamento, localidad
        FROM CTE_DEDUP
        WHERE rn = 1;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros insertados en tabla principal: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 5: INSERT tabla principal', @RowCount, getdate(), 0;

        -- Optimización: recrear índices post-INSERT (bulk build es mucho más rápido que mantenimiento fila a fila)
        CREATE INDEX IX_FIN_DOC     ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(NUMERO_DOCUMENTO_ESTUDIANTE);
        CREATE INDEX IX_FIN_ORDEN   ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(ORDEN_CUN);
        CREATE INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(PERIODO);

        -- =============================================
        -- PASO 6: ACTUALIZAR CAMPOS DE FECHA
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando campos de fecha...';

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET
            [AÑO_APROBACION] = YEAR(FECHA_APROBACION),
            MES_APROBACION   = CASE MONTH(FECHA_APROBACION)
                WHEN 1  THEN 'Enero'       WHEN 2  THEN 'Febrero'
                WHEN 3  THEN 'Marzo'       WHEN 4  THEN 'Abril'
                WHEN 5  THEN 'Mayo'        WHEN 6  THEN 'Junio'
                WHEN 7  THEN 'Julio'       WHEN 8  THEN 'Agosto'
                WHEN 9  THEN 'Septiembre'  WHEN 10 THEN 'Octubre'
                WHEN 11 THEN 'Noviembre'   WHEN 12 THEN 'Diciembre'
            END,
            DIA_APROBACION = DAY(FECHA_APROBACION)
        WHERE FECHA_APROBACION IS NOT NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con información de fecha: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 6: UPDATE fechas', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 7: ACTUALIZAR VALOR CUOTA DETALLE
        --         (materializado en temp para evitar OPENQUERY en UPDATE)
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando valor cuota detalle...';

        IF OBJECT_ID('tempdb..#CUOTAS_DETALLE') IS NOT NULL
            DROP TABLE #CUOTAS_DETALLE;

        SELECT
            CAST(ORDEN_CUN   AS NVARCHAR(100)) AS ORDEN_CUN,
            CAST(VALOR_CUOTA AS NVARCHAR(100)) AS VALOR_CUOTA
        INTO #CUOTAS_DETALLE
        FROM OPENQUERY([172.16.1.175],
            'SELECT CAST(ORDEN_CUN AS VARCHAR(100)) ORDEN_CUN,
                    CAST(VALOR_CUOTA AS VARCHAR(100)) VALOR_CUOTA
             FROM ICEBERG.CLTIENE_360_DETALLE_CUOTAS'
        );

        CREATE INDEX IX_CUOTAS ON #CUOTAS_DETALLE(ORDEN_CUN);

        UPDATE F
        SET F.VALOR_CUOTA_detalle = TRY_CAST(C.VALOR_CUOTA AS DECIMAL(18,2))
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA F
        JOIN #CUOTAS_DETALLE C ON F.ORDEN_CUN = C.ORDEN_CUN;

        DROP TABLE #CUOTAS_DETALLE;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con valor cuota detalle: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 7: UPDATE cuota detalle', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 8: ACTUALIZAR PAGOS REALIZADOS
        -- =============================================
        IF @Debug = 1
            PRINT 'Actualizando pagos realizados...';

        UPDATE A
        SET A.PAGOS_REALIZADOS = B.Valor
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA A
        LEFT JOIN CUN_REPOSITORIO.Financiera.RECIBOS_CAJA B
            ON  A.NUMERO_DOCUMENTO_ESTUDIANTE = B.CLIENTE
            AND A.PERIODO = B.PERIODO;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros actualizados con pagos realizados: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 8: UPDATE pagos realizados', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 9: NORMALIZACIONES DE DATOS
        -- =============================================
        IF @Debug = 1
            PRINT 'Aplicando normalizaciones de datos...';

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET PROGRAMA = 'ADMINISTRACIÓN DE EMPRESAS'
        WHERE UPPER(PROGRAMA) IN ('ADMINISTRACION DE EMPRESAS', 'ADMINISTRACIÓN DE EMPRESAS');

        UPDATE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA
        SET VALOR_MATRICULA = ISNULL(VALOR_TOTAL_FINANCIACION, 0) + ISNULL(VALOR_CUOTA_INICIAL, 0)
        WHERE VALOR_MATRICULA = 0 OR VALOR_MATRICULA IS NULL;

        SET @RowCount = @@ROWCOUNT;
        IF @Debug = 1
            PRINT 'Registros normalizados: ' + CAST(@RowCount AS VARCHAR(10));

        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'PASO 9: normalizaciones', @RowCount, getdate(), 0;

        -- =============================================
        -- PASO 10: LIMPIEZA
        -- =============================================
        IF @Debug = 1
            PRINT 'Limpiando tabla temporal...';

        DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;

        -- =============================================
        -- FINALIZACIÓN
        -- =============================================
        IF @Debug = 1
            PRINT 'Proceso completado exitosamente.';

        COMMIT TRANSACTION;

        -- Retornar estadísticas finales
        SELECT
            COUNT(*)                                   AS TotalRegistros,
            COUNT(DISTINCT NUMERO_DOCUMENTO_ESTUDIANTE) AS EstudiantesUnicos,
            COUNT(DISTINCT PROGRAMA)                   AS ProgramasUnicos,
            COUNT(DISTINCT PERIODO)                    AS PeriodosUnicos,
            GETDATE()                                  AS FechaProcesamiento
        FROM CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;

    END TRY
    BEGIN CATCH

        -- Capturar información del error
        SELECT
            @ErrorMessage  = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState    = ERROR_STATE();

        -- Revertir todos los cambios DML/DDL
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Limpiar tablas temporales si quedaron abiertas
        IF OBJECT_ID('tempdb..#FINANCIACION_CON_INFO_ACADEMICA') IS NOT NULL
            DROP TABLE #FINANCIACION_CON_INFO_ACADEMICA;
        IF OBJECT_ID('tempdb..#CUOTAS_DETALLE') IS NOT NULL
            DROP TABLE #CUOTAS_DETALLE;

        -- Loggear el error (fuera de transacción, ya se hizo rollback)
        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
        SELECT db_name(), user_name(), 'Error USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', 0, getdate(), @ErrorMessage;

        PRINT 'Error en USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA: ' + @ErrorMessage;

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

    END CATCH

    SET NOCOUNT OFF;

    INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (baseDatos, usuario, proceso, registrosAfectados, fechaEjecucion, error)
    SELECT db_name(), user_name(), 'Fin USP_PROCESAR_FINANCIACION_2025_CON_INFO_ACADEMICA', @@rowcount, getdate(), @@error;

END