USE [CUN_REPOSITORIO]
GO
/****** Object:  StoredProcedure [Financiera].[USP_PROCESAR_FINANCIACION_CTAYUDA]    Script Date: 20/04/2026 3:13:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================================================================================================
-- 🏛️ ARQUITECTURA DE DATOS: Financiera.USP_PROCESAR_FINANCIACION_CTAYUDA
-- ===================================================================================================
-- AUTOR                 : Jefferson Patiño / Equipo de Desarrollo Financiero
-- FECHA MODIFICACIÓN    : 14-04-2026
--
-- 📊 RESUMEN EJECUTIVO Y OBJETIVO FINANCIERO:
-- Este proceso ETL (Single-Pass) materializa la "Sábana Maestra de Riesgo y Recaudo" para el programa
-- CTAYUDA. Su objetivo es unificar el ciclo de vida del crédito estudiantil: desde la originación 
-- (aprobación), pasando por la legalización (RPVI), la atribución comercial (CRM), hasta el 
-- comportamiento de pago (Recaudo en Caja) y la exposición al riesgo (Aging de Cartera/Mora).
--
-- 📖 GLOSARIO RÁPIDO PARA NUEVOS DESARROLLADORES:
-- - ICEBERG: Sistema core transaccional donde nacen los créditos.
-- - RPVI: Recibo de Pago de Valor Inicial (La cuota que legaliza/activa el crédito).
-- - NDB: Nota Débito (Representa una deuda viva del estudiante en Cartera).
-- - Aging: Clasificación de la deuda por días de mora (Corriente, 1 a 30 días, etc.).
--
-- 🔄 MAPA DE RUTA DEL DATO (DATA LINEAGE):
-- [1. ORIGINACIÓN] -> ICEBERG (Linked Server: 172.16.1.175). Motor Core de créditos.
-- [2. LEGALIZACIÓN]-> SINU. ERP Master Data (Cruza terceros y estados de órdenes).
-- [3. COMERCIAL]   -> ZOHO (CUN_REPOSITORIO.zoho). CRM. Atribución de venta y geolocalización.
-- [4. RIESGO/MORA] -> CARTERA (Financiera.Cartera_Total). Snapshot de deuda (Notas Débito NDB).
-- [5. CASH FLOW]   -> RECAUDO (Financiera.RECIBOS_CAJA). Dinero real líquido ingresado a la CUN.
-- [6. NET REVENUE] -> INGRESO (Financiera.resultado_ingresoxperiodo_final). Valor neto por orden.
--
-- 🛡️ REGLAS DE GOBIERNO Y MITIGACIÓN DE RIESGOS (DATA QUALITY):
-- - Integridad de Cardinalidad (1:1): Se prohíbe el Producto Cartesiano. Todos los cruces periféricos 
--   están blindados con ROW_NUMBER() OVER(PARTITION BY... ORDER BY Fecha DESC) o agregaciones (SUM/MAX)
--   para garantizar que la deuda o el recaudo NUNCA se dupliquen (Falsa inflación del P&L).
-- - Optimización SARGable: Limpieza de llaves (LTRIM/RTRIM/NORMALIZAR) en la etapa de Staging (CTEs) 
--   para que el motor SQL utilice los índices eficientemente durante los LEFT JOINs.
-- ===================================================================================================
ALTER PROCEDURE [Financiera].[USP_PROCESAR_FINANCIACION_CTAYUDA]
    @Debug BIT = 0 -- (Feature Flag) Activar en 1 para imprimir el log de ejecución en la consola de SSMS.
AS
BEGIN
    -- Apagar mensajes de (X rows affected) para reducir la latencia de red y sobrecarga en memoria.
    SET NOCOUNT ON;

    -- [AUDITORÍA DEL SISTEMA]: Registrar en la bitácora que el proceso ha iniciado.
    INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (
        baseDatos, 
        usuario, 
        proceso, 
        registrosAfectados, 
        fechaEjecucion, 
        error
    )
    SELECT 
        DB_NAME(), 
        USER_NAME(), 
        'Inicio ETL Financiero CTAYUDA (V3 Master)', 
        @@ROWCOUNT, 
        GETDATE(), 
        @@ERROR;

    DECLARE 
        @ErrorMessage  NVARCHAR(4000), 
        @ErrorSeverity INT, 
        @ErrorState    INT, 
        @RowCount      INT;

    -- ===============================================================================================
    -- 🛑 CONTROL ACID (Atomicidad, Consistencia, Aislamiento, Durabilidad)
    -- Envolvemos todo en una transacción. Si algo falla (ej. caída de red), la base de datos 
    -- deshace todos los cambios. Así evitamos dejar a los usuarios con tableros de Power BI en blanco.
    -- ===============================================================================================
    BEGIN TRANSACTION;

    BEGIN TRY

        IF @Debug = 1 PRINT '>> Fase 1: Validaciones de seguridad e inicio de transacción...';

        -- ===========================================================================================
        -- 🛠️ FASE 1: DDL (DATA DEFINITION) - PREPARACIÓN DE INGESTA MASIVA (BULK LOAD)
        -- Propósito Técnico: Preparar la tabla física para recibir los datos frescos.
        -- Estrategia de Rendimiento: 
        -- 1. TRUNCATE vacía la tabla al instante porque no registra fila por fila en el Transaction Log.
        -- 2. Eliminar los índices (Drop) antes de insertar millones de registros hace que la escritura
        --    en disco sea un 70% más rápida. Los índices se reconstruyen al final.
        -- ===========================================================================================
        IF OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA', 'U') IS NOT NULL
        BEGIN
            IF @Debug = 1 PRINT '>> Fase 1.1: Limpiando Storage y apagando índices de búsqueda...';
            
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_DOC')
                DROP INDEX IX_FIN_DOC ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_ORDEN')
                DROP INDEX IX_FIN_ORDEN ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            
            IF EXISTS (SELECT 1 FROM sys.indexes WHERE object_id = OBJECT_ID('CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA') AND name = 'IX_FIN_PERIODO')
                DROP INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
            
            TRUNCATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA;
        END
        ELSE
        BEGIN
            IF @Debug = 1 PRINT '>> Fase 1.1: Tabla no detectada. Ejecutando Auto-Creación de Esquema...';
            
            -- Si la tabla no existe en el esquema, el SP la auto-genera con sus columnas oficiales.
            CREATE TABLE CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
                RES_NOMBRES_COMPLETOS_ESTUDIANTE    NVARCHAR(255), 
                RES_TIPO_PROGRAMA_ESTUDIANTE        NVARCHAR(100), 
                RES_TIPO_DOCUMENTO_ESTUDIANTE       NVARCHAR(50), 
                RES_GENERO_ESTUDIANTE               NVARCHAR(20), 
                RES_EDAD_ESTUDIANTE                 INT, 
                RPVI_EMAIL_INSTITUCIONAL            NVARCHAR(255), 
                RPVI_EMAIL_PERSONAL                 NVARCHAR(255), 
                RPVI_CELULAR                        NVARCHAR(50), 
                RPVI_TELEFONO                       NVARCHAR(50), 
                DR_NUMERO_DOCUMENTO_ESTUDIANTE      NVARCHAR(100), 
                DR_ORDEN_CUN                        NVARCHAR(100), 
                DR_REFERENCIA_PAGO                  NVARCHAR(100), 
                RPVI_DOCUMENTO_RPVI                 NVARCHAR(10), 
                RPVI_ORDEN_RPVI                     NVARCHAR(100), 
                RPVI_DOCUMENTO_ORDEN_INICIAL        NVARCHAR(10), 
                RES_VALOR_MATRICULA                 DECIMAL(18,2), 
                RES_VALOR_FINANCIACION              DECIMAL(18,2), 
                RES_VALOR_TOTAL_FINANCIACION        DECIMAL(18,2), 
                RES_VALOR_CUOTA_INICIAL             DECIMAL(18,2), 
                RES_COSTO_PLATAFORMA                DECIMAL(18,2), 
                RES_CUOTAS                          INT, 
                CUO_VALOR_CUOTA_detalle             DECIMAL(18,2), 
                RES_FECHA_SOLICITUD_CREDITO         DATETIME, 
                RES_FECHA_APROBACION                DATETIME, 
                RES_AÑO_APROBACION                  INT, 
                RES_MES_APROBACION                  VARCHAR(20), 
                RES_DIA_APROBACION                  INT, 
                RPVI_FECHA_ORDEN                    DATETIME, 
                RPVI_FECHA_VENCIMIENTO_ORDEN        DATETIME, 
                RPVI_FECHA_APROBACION_CUOTA_INI     DATETIME, 
                DR_FECHA_CREA_ESTUDIANTE_CLTIENE    DATETIME, 
                RPVI_FECHA_FIN_PROCESO_CLTIENE      DATETIME, 
                ZH_PROGRAMA                         NVARCHAR(255), 
                ZH_MODALIDAD                        NVARCHAR(100), 
                ZH_REGIONAL                         NVARCHAR(100), 
                ZH_ESTADO_PAGO                      NVARCHAR(50), 
                ZH_PERIODO                          NVARCHAR(20), 
                ZH_FUERZA_COMERCIAL                 NVARCHAR(50), 
                ZH_EST_MATRICULADO                  NVARCHAR(50), 
                ZH_TIPO                             NVARCHAR(25), 
                ZH_NUEVO                            NVARCHAR(25), 
                ZH_lat                              NVARCHAR(250), 
                ZH_lon                              NVARCHAR(250), 
                ZH_ciudad_geo                       NVARCHAR(250), 
                ZH_departamento                     NVARCHAR(250), 
                ZH_localidad                        NVARCHAR(250), 
                REC_PAGOS_REALIZADOS                DECIMAL(18,2), 
                CT_VALOR_ORIGINAL                   DECIMAL(18,2), 
                CT_CORRIENTE                        DECIMAL(18,2), 
                CT_GR1A30                           DECIMAL(18,2), 
                CT_GR31A60                          DECIMAL(18,2), 
                CT_GR61A90                          DECIMAL(18,2), 
                CT_GR91A120                         DECIMAL(18,2), 
                CT_GR121A150                        DECIMAL(18,2), 
                CT_GR151A360                        DECIMAL(18,2), 
                CT_GR360MAS                         DECIMAL(18,2), 
                CT_TOTAL                            DECIMAL(18,2), 
                CT_FECHA_VENCIMIENTO                DATETIME, 
                CT_ESTADO_ALUMNO                    NVARCHAR(100), 
                CT_NOM_UNIDAD                       NVARCHAR(255), 
                CT_ESTADO                           NVARCHAR(100), 
                CT_MARCA_ACADEMICA                  NVARCHAR(100), 
                DR_VALOR_AVAL                       DECIMAL(18,2), 
                DR_SERVICIO_MEDICO                  DECIMAL(18,2), 
                DR_VALOR_PAGADO                     DECIMAL(18,2), 
                DR_VALOR_ORDEN                      DECIMAL(18,2), 
                RPVI_VALOR_PAGADO_EN_ICEBERG        DECIMAL(18,2), 
                DR_GASTOS_TECNICOS                  DECIMAL(18,2), 
                DR_PORCENTAJE_INTERES               DECIMAL(18,2), 
                DR_ESTADO_PAGO_ESTUDIO              NVARCHAR(50), 
                RPVI_ESTADO_ORDEN_RPVI              NVARCHAR(20), 
                RPVI_MENSAJE                        NVARCHAR(500), 
                RPVI_CENTRO_COSTO                   NVARCHAR(50), 
                RPVI_VALOR_ORDEN_TOTAL              DECIMAL(18,2), 
                RPVI_DESCRIPCION                    NVARCHAR(500), 
                RPVI_GRUPO                          NVARCHAR(50), 
                RPVI_FONDO                          NVARCHAR(50), 
                RPVI_FUENTE_FUNCION                 NVARCHAR(100), 
                RPVI_TIENE_PROCESO_360              NVARCHAR(5), 
                RPVI_TIENE_PROCESO_LEGALIZADO       NVARCHAR(5), 
                RPVI_ORDEN_RPVI_LIQUIDADA           NVARCHAR(5), 
                RPVI_ORDEN_INICIAL_LIQUIDADA        NVARCHAR(5), 
                RPVI_OBSERVACION                    NVARCHAR(500), 
                ING_ORDEN_NETO                      DECIMAL(18,2), 
                AUD_FECHA_PROCESAMIENTO             DATETIME DEFAULT GETDATE()
            );
        END

        -- ===========================================================================================
        -- 🧠 FASE 2 y 3: MEMORY STAGING (CTEs) E INSERCIÓN SINGLE-PASS
        -- Propósito Técnico: En lugar de crear tablas temporales físicas (#Tabla), usamos CTEs (WITH). 
        -- Esto permite a SQL Server procesar todo en memoria RAM ("al vuelo") haciendo la consulta muy rápida.
        -- ===========================================================================================
        IF @Debug = 1 PRINT '>> Fase 2 y 3: Construyendo datasets virtuales (CTEs) e integrando modelos...';

        -- INICIO ESTRICTO DEL BLOQUE WITH (No se pueden colocar comandos intermedios hasta el INSERT)
        WITH 
        
        -- ── 2.1 [GOLDEN RECORD] DRIVER DE CRÉDITOS ──
        -- Propósito Negocio: Identificar a la población base. ¿A quiénes se les aprobó realmente un crédito?
        -- Lógica SQL: Extrae de ICEBERG a los estudiantes con ESTADO_FINANCIACION = 1. 
        --             Actúa como la "espina dorsal" de la tabla final.
        CTE_DriverEstudiantes AS (
            SELECT
                LTRIM(RTRIM(CAST(NUMERO_DOCUMENTO AS NVARCHAR(100)))) AS NUMERO_DOCUMENTO,
                LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100))))        AS ORDEN_CUN,
                CAST(REFERENCIA_PAGO AS NVARCHAR(100))                AS REFERENCIA_PAGO,
                FEC_CREACION                                          AS FECHA_CREA_ESTUDIANTE_CLTIENE,
                TRY_CAST(VALOR_AVAL AS DECIMAL(18,2))                 AS VALOR_AVAL,
                TRY_CAST(SERVICIO_MEDICO AS DECIMAL(18,2))            AS SERVICIO_MEDICO,
                TRY_CAST(VALOR_PAGADO AS DECIMAL(18,2))               AS VALOR_PAGADO,
                TRY_CAST(VALOR_MATRICULA AS DECIMAL(18,2))            AS VALOR_ORDEN,
                TRY_CAST(GASTOS_TECNICOS AS DECIMAL(18,2))            AS GASTOS_TECNICOS,
                TRY_CAST(PORCENTAJE_INTERES AS DECIMAL(18,2))         AS PORCENTAJE_INTERES,
                CAST(ESTADO_PAGO_ESTUDIO AS NVARCHAR(50))             AS ESTADO_PAGO_ESTUDIO
            FROM OPENQUERY([172.16.1.175], '
                SELECT 
                    CAST(NUMERO_DOCUMENTO AS VARCHAR(100))   AS NUMERO_DOCUMENTO, 
                    CAST(ORDEN_CUN AS VARCHAR(100))          AS ORDEN_CUN, 
                    CAST(REFERENCIA_PAGO AS VARCHAR(100))    AS REFERENCIA_PAGO, 
                    FEC_CREACION, 
                    VALOR_AVAL, 
                    SERVICIO_MEDICO, 
                    VALOR_PAGADO, 
                    VALOR_MATRICULA, 
                    GASTOS_TECNICOS, 
                    PORCENTAJE_INTERES, 
                    CAST(ESTADO_PAGO_ESTUDIO AS VARCHAR(50)) AS ESTADO_PAGO_ESTUDIO
                FROM ICEBERG.CLTIENE_360_ESTUDIANTES 
                WHERE ESTADO_FINANCIACION = 1
            ')
        ),

        -- ── 2.2 [AMORTIZATION PLAN] TABLA DE AMORTIZACIÓN Y SIMULACIÓN ──
        -- Propósito Negocio: Obtener las condiciones pactadas del crédito (Número de cuotas y valor inicial).
        -- Lógica SQL: Un estudiante puede simular varias veces. Se usa ROW_NUMBER particionado por Orden
        --             para quedarnos exclusivamente con la simulación más reciente (rn = 1).
        CTE_RespuestaCredito AS (
            SELECT
                LTRIM(RTRIM(CAST(NUMERO_DOCUMENTO_ESTUDIANTE  AS NVARCHAR(100)))) AS NUMERO_DOCUMENTO_ESTUDIANTE, 
                LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100))))                    AS ORDEN_CUN,
                CAST(NOMBRES_COMPLETOS_ESTUDIANTE AS NVARCHAR(500))               AS NOMBRES_COMPLETOS_ESTUDIANTE, 
                CAST(TIPO_PROGRAMA_ESTUDIANTE AS NVARCHAR(200))                   AS TIPO_PROGRAMA_ESTUDIANTE,
                CAST(TIPO_DOCUMENTO_ESTUDIANTE AS NVARCHAR(100))                  AS TIPO_DOCUMENTO_ESTUDIANTE, 
                CAST(GENERO_ESTUDIANTE AS NVARCHAR(50))                           AS GENERO_ESTUDIANTE, 
                EDAD_ESTUDIANTE,
                TRY_CAST(VALOR_MATRICULA AS DECIMAL(18,2))                        AS VALOR_MATRICULA, 
                TRY_CAST(VALOR_FINANCIACION AS DECIMAL(18,2))                     AS VALOR_FINANCIACION, 
                TRY_CAST(VALOR_TOTAL_FINANCIACION AS DECIMAL(18,2))               AS VALOR_TOTAL_FINANCIACION,
                TRY_CAST(VALOR_CUOTA_INICIAL AS DECIMAL(18,2))                    AS VALOR_CUOTA_INICIAL, 
                TRY_CAST(COSTO_PLATAFORMA AS DECIMAL(18,2))                       AS COSTO_PLATAFORMA, 
                CUOTAS, 
                FECHA_REGISTRO_ESTUDIANTE                                         AS FECHA_SOLICITUD_CREDITO, 
                FEC_CREACION                                                      AS FECHA_APROBACION,
                ROW_NUMBER() OVER (
                    PARTITION BY NUMERO_DOCUMENTO_ESTUDIANTE, ORDEN_CUN 
                    ORDER BY FEC_CREACION DESC
                ) AS rn
            FROM OPENQUERY([172.16.1.175], '
                SELECT 
                    CAST(NUMERO_DOCUMENTO_ESTUDIANTE AS VARCHAR(100)) AS NUMERO_DOCUMENTO_ESTUDIANTE, 
                    CAST(ORDEN_CUN AS VARCHAR(100))                   AS ORDEN_CUN, 
                    NOMBRES_COMPLETOS_ESTUDIANTE, 
                    TIPO_PROGRAMA_ESTUDIANTE, 
                    TIPO_DOCUMENTO_ESTUDIANTE, 
                    GENERO_ESTUDIANTE, 
                    EDAD_ESTUDIANTE, 
                    VALOR_MATRICULA, 
                    VALOR_FINANCIACION, 
                    VALOR_TOTAL_FINANCIACION, 
                    VALOR_CUOTA_INICIAL, 
                    COSTO_PLATAFORMA, 
                    CUOTAS, 
                    FECHA_REGISTRO_ESTUDIANTE, 
                    FEC_CREACION
                FROM ICEBERG.CLTIENE_360_RESPUESTA
            ')
        ),

        -- ── 2.3 [LEGAL ONBOARDING] ESTADO DEL RECIBO RPVI ──
        -- Propósito Negocio: Verificar si el crédito ya se formalizó (legalizó) mediante el pago del recibo inicial.
        -- Lógica SQL: Cruce distribuido entre ICEBERG (Órdenes) y SINU (Maestro de Terceros).
        CTE_ContactoRpvi AS (
            SELECT 
                IDENTIFICACION, 
                ORDEN_CUN, 
                EMAIL_INSTITUCIONAL, 
                EMAIL_PERSONAL, 
                CELULAR, 
                TELEFONO, 
                DOCUMENTO_RPVI, 
                ORDEN_RPVI, 
                DOCUMENTO_ORDEN_INICIAL, 
                ESTADO_ORDEN_RPVI, 
                FECHA_ORDEN, 
                FECHA_VENCIMIENTO_ORDEN, 
                MENSAJE, 
                CENTRO_COSTO, 
                VALOR_ORDEN_TOTAL, 
                DESCRIPCION, 
                GRUPO, 
                FONDO, 
                FUENTE_FUNCION, 
                FECHA_APROBACION_CUOTA_INI, 
                FECHA_FIN_PROCESO_CLTIENE, 
                VALOR_PAGADO_EN_ICEBERG, 
                TIENE_PROCESO_360, 
                TIENE_PROCESO_LEGALIZADO, 
                ORDEN_RPVI_LIQUIDADA, 
                ORDEN_INICIAL_LIQUIDADA, 
                OBSERVACION
            FROM (
                SELECT
                    LTRIM(RTRIM(CAST(IDENTIFICACION AS NVARCHAR(100)))) AS IDENTIFICACION, 
                    LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100))))      AS ORDEN_CUN, 
                    CAST(EMAIL_INSTITUCIONAL AS NVARCHAR(255))          AS EMAIL_INSTITUCIONAL, 
                    CAST(EMAIL_PERSONAL AS NVARCHAR(255))               AS EMAIL_PERSONAL, 
                    CAST(CELULAR AS NVARCHAR(50))                       AS CELULAR, 
                    CAST(TELEFONO AS NVARCHAR(50))                      AS TELEFONO, 
                    CAST(DOCUMENTO_RPVI AS NVARCHAR(10))                AS DOCUMENTO_RPVI, 
                    CAST(ORDEN_RPVI AS NVARCHAR(100))                   AS ORDEN_RPVI, 
                    CAST(DOCUMENTO_ORDEN_INI AS NVARCHAR(10))           AS DOCUMENTO_ORDEN_INICIAL, 
                    CAST(ESTADO_ORDEN_RPVI AS NVARCHAR(20))             AS ESTADO_ORDEN_RPVI, 
                    TRY_CAST(FECHA_ORDEN AS DATETIME)                   AS FECHA_ORDEN, 
                    TRY_CAST(FECHA_VENCIMIENTO AS DATETIME)             AS FECHA_VENCIMIENTO_ORDEN, 
                    CAST(MENSAJE AS NVARCHAR(500))                      AS MENSAJE, 
                    CAST(CENTRO_COSTO AS NVARCHAR(50))                  AS CENTRO_COSTO, 
                    TRY_CAST(VALOR_ORDEN_TOTAL AS DECIMAL(18,2))        AS VALOR_ORDEN_TOTAL, 
                    CAST(DESCRIPCION AS NVARCHAR(500))                  AS DESCRIPCION, 
                    CAST(GRUPO AS NVARCHAR(50))                         AS GRUPO, 
                    CAST(FONDO AS NVARCHAR(50))                         AS FONDO, 
                    CAST(FUENTE_FUNCION AS NVARCHAR(100))               AS FUENTE_FUNCION, 
                    TRY_CAST(FECHA_APROBACION_CUOTA_INI AS DATETIME)    AS FECHA_APROBACION_CUOTA_INI, 
                    TRY_CAST(FECHA_FIN_PROCESO AS DATETIME)             AS FECHA_FIN_PROCESO_CLTIENE, 
                    TRY_CAST(VALOR_PAGADO_EN_ICEBERG AS DECIMAL(18,2))  AS VALOR_PAGADO_EN_ICEBERG, 
                    CAST(TIENE_PROCESO_360 AS NVARCHAR(5))              AS TIENE_PROCESO_360, 
                    CAST(TIENE_PROCESO_LEGALIZADO AS NVARCHAR(5))       AS TIENE_PROCESO_LEGALIZADO, 
                    CAST(ORDEN_RPVI_LIQUIDADA AS NVARCHAR(5))           AS ORDEN_RPVI_LIQUIDADA, 
                    CAST(ORDEN_INICIAL_LIQUIDADA AS NVARCHAR(5))        AS ORDEN_INICIAL_LIQUIDADA, 
                    CAST(OBSERVACION AS NVARCHAR(500))                  AS OBSERVACION,
                    ROW_NUMBER() OVER(
                        PARTITION BY 
                            LTRIM(RTRIM(CAST(IDENTIFICACION AS NVARCHAR(100)))), 
                            LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100)))) 
                        ORDER BY TRY_CAST(FECHA_ORDEN AS DATETIME) DESC
                    ) AS rn
                FROM OPENQUERY([172.16.1.175], '
                    SELECT 
                        CAST(B.NUM_IDENTIFICACION AS VARCHAR(100)) AS IDENTIFICACION, 
                        B.DIR_EMAIL                                AS EMAIL_INSTITUCIONAL, 
                        B.DIR_EMAIL_PER                            AS EMAIL_PERSONAL, 
                        B.TEL_CECULAR                              AS CELULAR, 
                        B.TEL_RESIDENCIA                           AS TELEFONO, 
                        O.DOCUMENTO                                AS DOCUMENTO_RPVI, 
                        CAST(O.ORDEN AS VARCHAR(100))              AS ORDEN_RPVI, 
                        T.DOCUMENTO                                AS DOCUMENTO_ORDEN_INI, 
                        DECODE(ORD.ESTADO,''V'',''VIGENTE'',''A'',''ANULADA'',ORD.ESTADO) AS ESTADO_ORDEN_RPVI, 
                        O.FECHA_ORDEN, 
                        O.FECHA_VENCIMIENTO, 
                        O.MENSAJE, 
                        O.CENTRO_COSTO, 
                        O.VALOR_TOTAL                              AS VALOR_ORDEN_TOTAL, 
                        O.DESCRIPCION, 
                        O.GRUPO, 
                        O.FONDO, 
                        O.FUENTE_FUNCION, 
                        C.FECHA_PAGO                               AS FECHA_APROBACION_CUOTA_INI, 
                        M.FEC_CREACION                             AS FECHA_FIN_PROCESO, 
                        C.VALOR                                    AS VALOR_PAGADO_EN_ICEBERG, 
                        DECODE(E.NUMERO_DOCUMENTO,NULL,''NO'',''SI'') AS TIENE_PROCESO_360, 
                        DECODE(M.ID,NULL,''NO'',''SI'')               AS TIENE_PROCESO_LEGALIZADO, 
                        DECODE(LR.LIQUIDACION,NULL,''NO'',''SI'')     AS ORDEN_RPVI_LIQUIDADA, 
                        DECODE(LM.LIQUIDACION,NULL,''NO'',''SI'')     AS ORDEN_INICIAL_LIQUIDADA, 
                        CASE WHEN E.NUMERO_DOCUMENTO IS NULL 
                             THEN '''' 
                             ELSE DECODE(E.ESTADO_FINANCIACION,1,''CREDITO COMPLETADO'',''CREDITO PENDIENTE CTAYUDA'') 
                        END                                        AS OBSERVACION, 
                        CAST(T.ORDEN AS VARCHAR(100))              AS ORDEN_CUN
                        
                    FROM ICEBERG.ORDEN O 
                    INNER JOIN SINU.BAS_TERCERO B 
                        ON B.NUM_IDENTIFICACION = TO_CHAR(O.CLIENTE_SOLICITADO) 
                    INNER JOIN SINU.BAS_CEN_COSTO CC 
                        ON CC.COD_CEN_COSTO = O.CENTRO_COSTO 
                    LEFT JOIN ICEBERG.CUNT_TRAMITE_EXTERNO T 
                        ON O.ORDEN = T.ORDEN_INICIAL 
                    LEFT JOIN ICEBERG.CREDITO R 
                        ON R.CLIENTE = B.NUM_IDENTIFICACION 
                        AND R.ORDEN = T.ORDEN 
                        AND OBSERVACIONES LIKE ''%CLTIENE%'' 
                    LEFT JOIN ICEBERG.CLTIENE_360_ESTUDIANTES E 
                        ON E.NUMERO_DOCUMENTO = T.IDENTIFICACION 
                        AND E.ORDEN_CUN = T.ORDEN 
                    LEFT JOIN ICEBERG.CLTIENE_360_RESPUESTA M 
                        ON M.NUMERO_DOCUMENTO_ESTUDIANTE = E.NUMERO_DOCUMENTO 
                        AND M.ORDEN_CUN = E.ORDEN_CUN 
                        AND M.VALIDACION = 1 
                    LEFT JOIN PORTAL_PAGOS_CUN.PPT_CUN_DETALLE_RESPUESTA_PAGO D 
                        ON D.REFERENCIA = E.REFERENCIA_PAGO 
                    LEFT JOIN RECIBO_CAJA C 
                        ON C.NUMERO = D.RECIBO_ICEBERG 
                        AND C.ESTADO = ''V'' 
                    LEFT JOIN ORDEN ORD 
                        ON ORD.ORDEN = T.ORDEN_INICIAL 
                        AND ORD.DOCUMENTO = T.DOCUMENTO_INICIAL 
                    LEFT JOIN LIQUIDACION_ORDEN LR 
                        ON LR.ORDEN = T.ORDEN_INICIAL 
                        AND LR.DOCUMENTO = T.DOCUMENTO_INICIAL 
                    LEFT JOIN LIQUIDACION_ORDEN LM 
                        ON LM.ORDEN = T.ORDEN 
                        AND LM.DOCUMENTO = T.DOCUMENTO
                        
                    WHERE O.DOCUMENTO = ''RPVI'' 
                      AND UPPER(O.DESCRIPCION) LIKE ''%CLTIENE%'' 
                      AND O.ESTADO = ''V''
                ')
            ) AS ContactoDeduplicado 
            WHERE rn = 1
        ),

        -- ── 2.4 [FLATTEN] DETALLE DE CUOTAS PACTADAS ──
        -- Propósito Negocio: Saber el monto mensual que debe pagar el estudiante.
        -- Lógica SQL: Para evitar que un crédito de 3 cuotas genere 3 filas duplicadas, se agrupa (GROUP BY)
        --             la orden y se extrae el valor máximo de la cuota (MAX), aplanando la información a 1:1.
        CTE_InfoCuotas AS (
            SELECT 
                LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100)))) AS ORDEN_CUN, 
                MAX(TRY_CAST(VALOR_CUOTA AS DECIMAL(18,2)))    AS VALOR_CUOTA_detalle
            FROM OPENQUERY([172.16.1.175], '
                SELECT 
                    CAST(ORDEN_CUN AS VARCHAR(100))   AS ORDEN_CUN, 
                    CAST(VALOR_CUOTA AS VARCHAR(100)) AS VALOR_CUOTA 
                FROM ICEBERG.CLTIENE_360_DETALLE_CUOTAS
            ')
            GROUP BY 
                LTRIM(RTRIM(CAST(ORDEN_CUN AS NVARCHAR(100))))
        ),

        -- ── 2.5 [CREDIT RISK & AGING] PORTAFOLIO DE CARTERA (MORA) ──
        -- Propósito Negocio: Medir el riesgo de impago evaluando el "Aging" (días de mora) de las Notas Débito.
        -- Lógica SQL: Se filtra exclusivamente por documento 'NDB' (Deuda viva). El ROW_NUMBER asegura
        --             tomar solo el registro más reciente del periodo, formateando la fecha con código 103 (DD/MM/YYYY).
        CTE_EstadoCartera AS (
            SELECT 
                IDENTIFICACION_CT, 
                PERIODO_CT, 
                FECHA_VENCIMIENTO, 
                CT_VALOR_ORIGINAL, 
                CT_CORRIENTE, 
                CT_GR1A30, 
                CT_GR31A60, 
                CT_GR61A90, 
                CT_GR91A120, 
                CT_GR121A150, 
                CT_GR151A360, 
                CT_GR360MAS, 
                CT_TOTAL, 
                CT_ESTADO_ALUMNO, 
                CT_NOM_UNIDAD, 
                CT_ESTADO, 
                CT_MARCA_ACADEMICA
            FROM (
                SELECT 
                    LTRIM(RTRIM(CAST(IDENTIFICACION AS NVARCHAR(100)))) AS IDENTIFICACION_CT, 
                    CAST(PERIODO AS NVARCHAR(50))                       AS PERIODO_CT, 
                    TRY_CONVERT(DATETIME, FECHA_VENCIMIENTO, 103)       AS FECHA_VENCIMIENTO, 
                    TRY_CAST(VALOR_ORIGINAL AS DECIMAL(18,2))           AS CT_VALOR_ORIGINAL, 
                    TRY_CAST(CORRIENTE AS DECIMAL(18,2))                AS CT_CORRIENTE, 
                    TRY_CAST(GR1A30 AS DECIMAL(18,2))                   AS CT_GR1A30, 
                    TRY_CAST(GR31A60 AS DECIMAL(18,2))                  AS CT_GR31A60, 
                    TRY_CAST(GR61A90 AS DECIMAL(18,2))                  AS CT_GR61A90, 
                    TRY_CAST(GR91A120 AS DECIMAL(18,2))                 AS CT_GR91A120, 
                    TRY_CAST(GR121A150 AS DECIMAL(18,2))                AS CT_GR121A150, 
                    TRY_CAST(GR151A360 AS DECIMAL(18,2))                AS CT_GR151A360, 
                    TRY_CAST(GR360MAS AS DECIMAL(18,2))                 AS CT_GR360MAS, 
                    TRY_CAST(TOTAL AS DECIMAL(18,2))                    AS CT_TOTAL, 
                    ESTADO_ALUMNO                                       AS CT_ESTADO_ALUMNO, 
                    NOM_UNIDAD                                          AS CT_NOM_UNIDAD, 
                    ESTADO                                              AS CT_ESTADO, 
                    MARCA_ACADEMICA                                     AS CT_MARCA_ACADEMICA,
                    ROW_NUMBER() OVER(
                        PARTITION BY 
                            LTRIM(RTRIM(CAST(IDENTIFICACION AS NVARCHAR(100)))), 
                            CAST(PERIODO AS NVARCHAR(50)) 
                        ORDER BY TRY_CONVERT(DATETIME, FECHA_VENCIMIENTO, 103) DESC
                    ) AS rn
                FROM CUN_REPOSITORIO.Financiera.Cartera_Total
                WHERE DOCUMENTO = 'NDB' 
                  AND (PERIODO LIKE '%24%' OR PERIODO LIKE '%25%' OR PERIODO LIKE '%26%')
            ) AS CarteraDeduplicada 
            WHERE rn = 1
        ),

        -- ── 2.6 [COMMERCIAL ATTRIBUTION] CONTEXTO DE VENTA (ZOHO) ──
        -- Propósito Negocio: Atribuir la originación del crédito a un comercial específico y obtener ubicación.
        -- Lógica SQL: Extrae datos del CRM local (Zoho), deduplicando por Orden y Documento.
        CTE_ContextoAcademico AS (
            SELECT 
                ORDEN_BP, 
                DOC_ALUM_BP, 
                NOM_PROGRAMA, 
                MODALIDAD, 
                SECCIONAL, 
                ESTADO_PAGO, 
                Periodo_data, 
                Fuerza_comercial_data, 
                EST_MATRICULADO, 
                TIPO_ALUM_DATA, 
                NUEVO, 
                lat, 
                lon, 
                ciudad, 
                departamento, 
                localidad
            FROM (
                SELECT 
                    LTRIM(RTRIM(CAST(ORDEN AS NVARCHAR(100))))          AS ORDEN_BP, 
                    LTRIM(RTRIM(CAST(DOC_ALUM AS NVARCHAR(100))))       AS DOC_ALUM_BP, 
                    NOM_PROGRAMA, 
                    MODALIDAD, 
                    SECCIONAL, 
                    ESTADO_PAGO, 
                    CAST(Periodo_data AS NVARCHAR(50))                  AS Periodo_data, 
                    Fuerza_comercial_data, 
                    EST_MATRICULADO, 
                    TIPO_ALUM_DATA, 
                    NUEVO, 
                    lat, 
                    lon, 
                    ciudad, 
                    departamento, 
                    localidad,
                    ROW_NUMBER() OVER(
                        PARTITION BY 
                            LTRIM(RTRIM(CAST(ORDEN AS NVARCHAR(100)))), 
                            LTRIM(RTRIM(CAST(DOC_ALUM AS NVARCHAR(100)))) 
                        ORDER BY CAST(Periodo_data AS NVARCHAR(50)) DESC
                    ) AS rn
                FROM CUN_REPOSITORIO.zoho.Base_Personas
            ) AS ZohoDeduplicado 
            WHERE rn = 1
        ),

        -- ── 2.7 [CASH FLOW REALIZATION] RECAUDO EFECTIVO EN CAJA ──
        -- Propósito Negocio: Cuantificar la liquidez real. ¿Cuánto dinero líquido ha abonado el estudiante?
        -- Lógica SQL: Sumariza (SUM) todos los recibos de caja asociados al estudiante en el periodo vigente.
        CTE_PagosRecaudo AS (
            SELECT 
                LTRIM(RTRIM(CAST(CLIENTE AS NVARCHAR(100)))) AS CLIENTE_RC, 
                CAST(PERIODO AS NVARCHAR(50))                AS PERIODO_RC, 
                SUM(TRY_CAST(Valor AS DECIMAL(18,2)))        AS PAGOS_REALIZADOS
            FROM CUN_REPOSITORIO.Financiera.RECIBOS_CAJA 
            GROUP BY 
                LTRIM(RTRIM(CAST(CLIENTE AS NVARCHAR(100)))), 
                CAST(PERIODO AS NVARCHAR(50))
        ),

        -- ── 2.8 [NET REVENUE] INGRESO NETO POR PERIODO ──
        -- Propósito Negocio: Cuantificar el ingreso neto real asociado a la orden del estudiante.
        -- Lógica SQL: Extrae el campo ORDEN_NETO de la tabla resultado_ingresoxperiodo_final, 
        --             asegurando la granularidad 1:1 mediante ROW_NUMBER.
        CTE_IngresoPeriodo AS (
            SELECT 
                ORDEN, 
                Documento_Estudiante_zoho, 
                ORDEN_NETO
            FROM (
                SELECT 
                    LTRIM(RTRIM(CAST(ORDEN AS NVARCHAR(100))))                     AS ORDEN, 
                    LTRIM(RTRIM(CAST(Documento_Estudiante_zoho AS NVARCHAR(100)))) AS Documento_Estudiante_zoho, 
                    TRY_CAST(ORDEN_NETO AS DECIMAL(18,2))                          AS ORDEN_NETO,
                    ROW_NUMBER() OVER(
                        PARTITION BY 
                            LTRIM(RTRIM(CAST(ORDEN AS NVARCHAR(100)))), 
                            LTRIM(RTRIM(CAST(Documento_Estudiante_zoho AS NVARCHAR(100)))) 
                        ORDER BY TRY_CAST(ORDEN_NETO AS DECIMAL(18,2)) DESC
                    ) AS rn
                FROM CUN_REPOSITORIO.Financiera.resultado_ingresoxperiodo_final
            ) AS IngresoDeduplicado 
            WHERE rn = 1
        )

        -- ===========================================================================================
        -- 🧩 FASE 3: INSERCIÓN MAESTRA (JOIN Y TRANSFORMACIÓN AL VUELO)
        -- Propósito Técnico: Cruzar la Base Poblacional (Driver) con todos sus contextos usando LEFT JOIN.
        -- Esto garantiza que aunque el estudiante no tenga cartera o CRM, nunca desaparezca del reporte.
        -- ===========================================================================================
        INSERT INTO CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA (
            RES_NOMBRES_COMPLETOS_ESTUDIANTE, 
            RES_TIPO_PROGRAMA_ESTUDIANTE, 
            RES_TIPO_DOCUMENTO_ESTUDIANTE, 
            RES_GENERO_ESTUDIANTE, 
            RES_EDAD_ESTUDIANTE, 
            RPVI_EMAIL_INSTITUCIONAL, 
            RPVI_EMAIL_PERSONAL, 
            RPVI_CELULAR, 
            RPVI_TELEFONO, 
            DR_NUMERO_DOCUMENTO_ESTUDIANTE, 
            DR_ORDEN_CUN, 
            DR_REFERENCIA_PAGO, 
            RPVI_DOCUMENTO_RPVI, 
            RPVI_ORDEN_RPVI, 
            RPVI_DOCUMENTO_ORDEN_INICIAL, 
            RES_VALOR_MATRICULA, 
            RES_VALOR_FINANCIACION, 
            RES_VALOR_TOTAL_FINANCIACION, 
            RES_VALOR_CUOTA_INICIAL, 
            RES_COSTO_PLATAFORMA, 
            RES_CUOTAS, 
            CUO_VALOR_CUOTA_detalle, 
            RES_FECHA_SOLICITUD_CREDITO, 
            RES_FECHA_APROBACION, 
            RES_AÑO_APROBACION, 
            RES_MES_APROBACION, 
            RES_DIA_APROBACION, 
            RPVI_FECHA_ORDEN, 
            RPVI_FECHA_VENCIMIENTO_ORDEN, 
            RPVI_FECHA_APROBACION_CUOTA_INI, 
            DR_FECHA_CREA_ESTUDIANTE_CLTIENE, 
            RPVI_FECHA_FIN_PROCESO_CLTIENE, 
            ZH_PROGRAMA, 
            ZH_MODALIDAD, 
            ZH_REGIONAL, 
            ZH_ESTADO_PAGO, 
            ZH_PERIODO, 
            ZH_FUERZA_COMERCIAL, 
            ZH_EST_MATRICULADO, 
            ZH_TIPO, 
            ZH_NUEVO, 
            ZH_lat, 
            ZH_lon, 
            ZH_ciudad_geo, 
            ZH_departamento, 
            ZH_localidad, 
            REC_PAGOS_REALIZADOS, 
            CT_VALOR_ORIGINAL, 
            CT_CORRIENTE, 
            CT_GR1A30, 
            CT_GR31A60, 
            CT_GR61A90, 
            CT_GR91A120, 
            CT_GR121A150, 
            CT_GR151A360, 
            CT_GR360MAS, 
            CT_TOTAL, 
            CT_FECHA_VENCIMIENTO, 
            CT_ESTADO_ALUMNO, 
            CT_NOM_UNIDAD, 
            CT_ESTADO, 
            CT_MARCA_ACADEMICA, 
            DR_VALOR_AVAL, 
            DR_SERVICIO_MEDICO, 
            DR_VALOR_PAGADO, 
            DR_VALOR_ORDEN, 
            RPVI_VALOR_PAGADO_EN_ICEBERG, 
            DR_GASTOS_TECNICOS, 
            DR_PORCENTAJE_INTERES, 
            DR_ESTADO_PAGO_ESTUDIO, 
            RPVI_ESTADO_ORDEN_RPVI, 
            RPVI_MENSAJE, 
            RPVI_CENTRO_COSTO, 
            RPVI_VALOR_ORDEN_TOTAL, 
            RPVI_DESCRIPCION, 
            RPVI_GRUPO, 
            RPVI_FONDO, 
            RPVI_FUENTE_FUNCION, 
            RPVI_TIENE_PROCESO_360, 
            RPVI_TIENE_PROCESO_LEGALIZADO, 
            RPVI_ORDEN_RPVI_LIQUIDADA, 
            RPVI_ORDEN_INICIAL_LIQUIDADA, 
            RPVI_OBSERVACION, 
            ING_ORDEN_NETO
        )
        SELECT
            RespCredito.NOMBRES_COMPLETOS_ESTUDIANTE,
            
            -- [Sanitización de Datos]: Remueve tildes y pasa a mayúsculas usando la función local NORMALIZAR.
            -- Esto evita discrepancias en los filtros de Power BI (ej. diferenciar entre 'Sistemas' y 'Sistémas').
            dbo.NORMALIZAR(RespCredito.TIPO_PROGRAMA_ESTUDIANTE),
            
            RespCredito.TIPO_DOCUMENTO_ESTUDIANTE,
            RespCredito.GENERO_ESTUDIANTE,
            RespCredito.EDAD_ESTUDIANTE,
            ContactoRpvi.EMAIL_INSTITUCIONAL,
            ContactoRpvi.EMAIL_PERSONAL,
            ContactoRpvi.CELULAR,
            ContactoRpvi.TELEFONO,
            
            -- Llaves Maestras para Conciliación en BI
            DriverEstudiante.NUMERO_DOCUMENTO,
            DriverEstudiante.ORDEN_CUN,
            DriverEstudiante.REFERENCIA_PAGO,
            ContactoRpvi.DOCUMENTO_RPVI,
            ContactoRpvi.ORDEN_RPVI,
            ContactoRpvi.DOCUMENTO_ORDEN_INICIAL,
            
            -- [Contabilidad Preventiva]: Si el API de ICEBERG envía el Valor Matrícula en Cero ($0), 
            -- reconstruimos el Capital Base matemáticamente: (Monto Financiado + Cuota Inicial).
            CASE 
                WHEN ISNULL(RespCredito.VALOR_MATRICULA, 0) = 0 
                THEN ISNULL(RespCredito.VALOR_TOTAL_FINANCIACION, 0) + ISNULL(RespCredito.VALOR_CUOTA_INICIAL, 0) 
                ELSE RespCredito.VALOR_MATRICULA 
            END,
            
            RespCredito.VALOR_FINANCIACION,
            RespCredito.VALOR_TOTAL_FINANCIACION,
            RespCredito.VALOR_CUOTA_INICIAL,
            RespCredito.COSTO_PLATAFORMA,
            RespCredito.CUOTAS,
            InfoCuotas.VALOR_CUOTA_detalle,
            RespCredito.FECHA_SOLICITUD_CREDITO,
            RespCredito.FECHA_APROBACION,
            YEAR(RespCredito.FECHA_APROBACION), 
            
            -- [Usabilidad Analítica]: Extracción de mes en String explícito para tableros interactivos.
            CASE MONTH(RespCredito.FECHA_APROBACION) 
                WHEN 1  THEN 'Enero'      
                WHEN 2  THEN 'Febrero' 
                WHEN 3  THEN 'Marzo'      
                WHEN 4  THEN 'Abril' 
                WHEN 5  THEN 'Mayo'       
                WHEN 6  THEN 'Junio' 
                WHEN 7  THEN 'Julio'      
                WHEN 8  THEN 'Agosto' 
                WHEN 9  THEN 'Septiembre' 
                WHEN 10 THEN 'Octubre' 
                WHEN 11 THEN 'Noviembre' 
                WHEN 12 THEN 'Diciembre' 
            END,
             
            DAY(RespCredito.FECHA_APROBACION),
            ContactoRpvi.FECHA_ORDEN,
            ContactoRpvi.FECHA_VENCIMIENTO_ORDEN,
            ContactoRpvi.FECHA_APROBACION_CUOTA_INI,
            DriverEstudiante.FECHA_CREA_ESTUDIANTE_CLTIENE,
            ContactoRpvi.FECHA_FIN_PROCESO_CLTIENE,
            
            -- Sanitización aplicada a las dimensiones Comerciales y Académicas (ZOHO)
            dbo.NORMALIZAR(CtxAcademico.NOM_PROGRAMA),
            dbo.NORMALIZAR(CtxAcademico.MODALIDAD),
            dbo.NORMALIZAR(CtxAcademico.SECCIONAL),
            CtxAcademico.ESTADO_PAGO,
            CtxAcademico.Periodo_data,
            dbo.NORMALIZAR(CtxAcademico.Fuerza_comercial_data),
            
            CtxAcademico.EST_MATRICULADO,
            CtxAcademico.TIPO_ALUM_DATA,
            CtxAcademico.NUEVO,
            CtxAcademico.lat,
            CtxAcademico.lon,
            CtxAcademico.ciudad,
            CtxAcademico.departamento,
            CtxAcademico.localidad,
            
            -- Indicadores Duros Financieros (Hard Metrics)
            PagosRecaudo.PAGOS_REALIZADOS,
            EstadoCartera.CT_VALOR_ORIGINAL,
            EstadoCartera.CT_CORRIENTE,
            EstadoCartera.CT_GR1A30,
            EstadoCartera.CT_GR31A60,
            EstadoCartera.CT_GR61A90,
            EstadoCartera.CT_GR91A120,
            EstadoCartera.CT_GR121A150,
            EstadoCartera.CT_GR151A360,
            EstadoCartera.CT_GR360MAS,
            EstadoCartera.CT_TOTAL,
            EstadoCartera.FECHA_VENCIMIENTO,
            EstadoCartera.CT_ESTADO_ALUMNO,
            EstadoCartera.CT_NOM_UNIDAD,
            EstadoCartera.CT_ESTADO,
            EstadoCartera.CT_MARCA_ACADEMICA,
            
            -- Datos Operacionales y Control de Aprobación
            DriverEstudiante.VALOR_AVAL,
            DriverEstudiante.SERVICIO_MEDICO,
            DriverEstudiante.VALOR_PAGADO,
            DriverEstudiante.VALOR_ORDEN,
            ContactoRpvi.VALOR_PAGADO_EN_ICEBERG,
            DriverEstudiante.GASTOS_TECNICOS,
            DriverEstudiante.PORCENTAJE_INTERES,
            DriverEstudiante.ESTADO_PAGO_ESTUDIO,
            ContactoRpvi.ESTADO_ORDEN_RPVI,
            ContactoRpvi.MENSAJE,
            ContactoRpvi.CENTRO_COSTO,
            ContactoRpvi.VALOR_ORDEN_TOTAL,
            ContactoRpvi.DESCRIPCION,
            ContactoRpvi.GRUPO,
            ContactoRpvi.FONDO,
            ContactoRpvi.FUENTE_FUNCION,
            ContactoRpvi.TIENE_PROCESO_360,
            ContactoRpvi.TIENE_PROCESO_LEGALIZADO,
            ContactoRpvi.ORDEN_RPVI_LIQUIDADA,
            ContactoRpvi.ORDEN_INICIAL_LIQUIDADA,
            ContactoRpvi.OBSERVACION, 
            
            -- Nuevo Campo: Ingreso Neto Operacional
            IngresoPeriodo.ORDEN_NETO
            
        FROM CTE_DriverEstudiantes AS DriverEstudiante
        
        -- [Cruces por Identidad y Originación]: Estudiante vinculado a su Orden de Compra.
        LEFT JOIN CTE_RespuestaCredito AS RespCredito 
            ON  DriverEstudiante.NUMERO_DOCUMENTO = RespCredito.NUMERO_DOCUMENTO_ESTUDIANTE 
            AND DriverEstudiante.ORDEN_CUN        = RespCredito.ORDEN_CUN 
            
        LEFT JOIN CTE_ContextoAcademico AS CtxAcademico 
            ON  DriverEstudiante.ORDEN_CUN        = CtxAcademico.ORDEN_BP 
            AND DriverEstudiante.NUMERO_DOCUMENTO = CtxAcademico.DOC_ALUM_BP
            
        LEFT JOIN CTE_ContactoRpvi AS ContactoRpvi 
            ON  DriverEstudiante.ORDEN_CUN        = ContactoRpvi.ORDEN_CUN 
            AND DriverEstudiante.NUMERO_DOCUMENTO = ContactoRpvi.IDENTIFICACION
            
        LEFT JOIN CTE_InfoCuotas AS InfoCuotas 
            ON  DriverEstudiante.ORDEN_CUN        = InfoCuotas.ORDEN_CUN
            
        -- [Cruces Financieros Estrictos]: Se cruza por Documento Y por Periodo Académico.
        -- Regla: Si cruzamos solo por ID, mezclaríamos pagos y moras del periodo 2026 con deudas viejas del 2024.
        LEFT JOIN CTE_PagosRecaudo AS PagosRecaudo 
            ON  DriverEstudiante.NUMERO_DOCUMENTO = PagosRecaudo.CLIENTE_RC 
            AND CtxAcademico.Periodo_data         = PagosRecaudo.PERIODO_RC
            
        LEFT JOIN CTE_EstadoCartera AS EstadoCartera 
            ON  DriverEstudiante.NUMERO_DOCUMENTO = EstadoCartera.IDENTIFICACION_CT 
            AND CtxAcademico.Periodo_data         = EstadoCartera.PERIODO_CT
            
        -- [Cruce de Ingresos Netos]: Mapeo exacto contra la tabla de resultados del periodo
        LEFT JOIN CTE_IngresoPeriodo AS IngresoPeriodo 
            ON  DriverEstudiante.ORDEN_CUN        = IngresoPeriodo.ORDEN 
            AND DriverEstudiante.NUMERO_DOCUMENTO = IngresoPeriodo.Documento_Estudiante_zoho;

        -- Capturamos el total de registros impactados para auditoría.
        SET @RowCount = @@ROWCOUNT;
        
        IF @Debug = 1 PRINT '>> Fase 3: Sabana de Datos Consolidada. Registros afectados: ' + CAST(@RowCount AS VARCHAR(10));

        -- Sello de éxito de carga en la bitácora
        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (
            baseDatos, 
            usuario, 
            proceso, 
            registrosAfectados, 
            fechaEjecucion, 
            error
        )
        SELECT 
            DB_NAME(), 
            USER_NAME(), 
            'Carga exitosa Financiera.USP_PROCESAR_FINANCIACION_CTAYUDA', 
            @RowCount, 
            GETDATE(), 
            0;

        -- ===========================================================================================
        -- 🏎️ FASE 4: POST-CARGA Y OPTIMIZACIÓN (RECONSTRUCCIÓN DE ÍNDICES)
        -- Propósito: Una vez los datos están fijos en la tabla, recrear los índices físicos asegura
        -- que las consultas desde Power BI sean indexadas contiguamente y resueltas en milisegundos.
        -- ===========================================================================================
        IF @Debug = 1 PRINT '>> Fase 4: Reconstruyendo clúster de búsqueda (Índices B-Tree)...';

        CREATE INDEX IX_FIN_DOC     ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(DR_NUMERO_DOCUMENTO_ESTUDIANTE);
        CREATE INDEX IX_FIN_ORDEN   ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(DR_ORDEN_CUN);
        CREATE INDEX IX_FIN_PERIODO ON CUN_REPOSITORIO.Financiera.Financiaciones_CTAYUDA(ZH_PERIODO);

        -- ✅ SELLO DE COMPROMISO: Termina la transacción y materializa los cambios en disco.
        COMMIT TRANSACTION;

        IF @Debug = 1 PRINT '>> Fin del Proceso: Integración ETL completada exitosamente.';

    END TRY
    BEGIN CATCH
        -- ===========================================================================================
        -- 🚨 FASE 5: DISASTER RECOVERY (ROLLBACK DE SEGURIDAD Y MANEJO DE EXCEPCIONES)
        -- ===========================================================================================
        SELECT 
            @ErrorMessage  = ERROR_MESSAGE(), 
            @ErrorSeverity = ERROR_SEVERITY(), 
            @ErrorState    = ERROR_STATE();
        
        -- Si hubo un fallo de conversión, timeout o caída de un servidor vinculado, 
        -- abortamos los cambios para que la base de datos retorne a un estado consistente.
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        -- Registro del código de error en la bitácora técnica (ERROR_NUMBER previene fallo de tipos de dato).
        INSERT INTO CUN_REPOSITORIO.dbo.LogControlProcesos (
            baseDatos, 
            usuario, 
            proceso, 
            registrosAfectados, 
            fechaEjecucion, 
            error
        )
        SELECT 
            DB_NAME(), 
            USER_NAME(), 
            'Error Financiera.USP_PROCESAR_FINANCIACION_CTAYUDA', 
            0, 
            GETDATE(), 
            ERROR_NUMBER();
        
        PRINT 'ERROR FATAL ETL: ' + @ErrorMessage;
        
        -- Propagar error explícito hacia el orquestador (ej. Data Factory, SQL Agent) para disparar alertas.
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

    -- Reactivar la mensajería interna para herramientas cliente como SSMS.
    SET NOCOUNT OFF;
END